.important-text {

	$block-name: &; // #{$block-name}__element

	border-radius: 7px;
	box-shadow: var(--shadow--light);
	line-height: 1.667;
	margin: 2.5em 0;
	padding: 30px 50px 40px 50px;


	&--large {
		font-size: var(--font-size--large);
	}

	&--gray {
		background: var(--color-gray--lighter);
		box-shadow: none;
	}

}