.field-select {
	$block-name: &; // #{$block-name}__element

	&__select-wrap {}

	& .choices {
		font-size: inherit;

		&__placeholder {
			opacity: 1;
		}

		&__inner {
			color: var(--color-gray--dark);
			border-radius: .4em;
			font-size: inherit;
			border: none;
			background-color: var(--color-white);
			padding: 1rem;
			line-height: 1.15;
		}

		&[data-type*=select-one] .choices__inner {
			padding: 1rem;
		}

		[class*=--fields-transparent] &[data-type*=select-one]::after,
		.main-slider &[data-type*=select-one]::after {
			border-color: var(--field-text-border-color, var(--color-white)) transparent transparent;
		}

		[class*=--fields-transparent] &__inner,
		.main-slider &__inner {
			background-color: transparent;
			border: none;
			border-bottom: 1px solid var(--field-text-border-color, var(--color-white));
			color: var(--field-text-color, var(--color-white));
			border-radius: 0;
		}

		& .choices__list {
			padding-top: 0;
			padding-bottom: 0;
		}

		& .choices__list--dropdown {
			color: var(--text-color);
		}
	}

	&__help-text {
		@include field-help-text;
	}

	&--error {

		#{$block-name}__name,
		#{$block-name}__input,
		#{$block-name}__help-text {
			color: var(--color-danger);
		}

		#{$block-name}__input {
			border-color: var(--color-danger);
		}
	}
}