.image.image--border
	a.zoom(href="assets/gallery-01.jpg" data-fancybox)
		img(src="assets/gallery-01.jpg")

.image.image--border
	a.zoom(href="images/blocks/wide-block/city.jpg" data-fancybox)
		img(src="images/blocks/wide-block//city.jpg" width="1920" height="705")

.grid.grid--jc-center.tile-slider(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": true, "watchCSS": true, "lazyLoad": true }')
	.grid__item.grid__item--sm-50.grid__item--md-33
		a.image.image--border.zoom(href="assets/gallery-01.jpg" data-fancybox)
			img(src="assets/gallery-01.jpg" width="724" height="338")
	.grid__item.grid__item--sm-50.grid__item--md-33
		a.image.image--border.zoom(href="assets/gallery-01.jpg" data-fancybox)
			img(src="assets/gallery-01.jpg" width="724" height="338")
	.grid__item.grid__item--sm-50.grid__item--md-33
		a.image.image--border.zoom(href="assets/gallery-01.jpg" data-fancybox)
			img(src="assets/gallery-01.jpg" width="724" height="338")
	.grid__item.grid__item--sm-50.grid__item--md-33
		a.image.image--border.zoom(href="assets/gallery-01.jpg" data-fancybox)
			img(src="assets/gallery-01.jpg" width="724" height="338")
	.grid__item.grid__item--sm-50.grid__item--md-33
		a.image.image--border.zoom(href="assets/gallery-01.jpg" data-fancybox)
			img(src="assets/gallery-01.jpg" width="724" height="338")

.grid.tile-slider.tile-slider--place-shadow(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": true, "groupCells": true, "lazyLoad": true, "watchCSS": false }')
	.grid__item.grid__item--xs-50.grid__item--sm-33.grid__item--lg-20.image.image--border.image--white-bg
		a.zoom(href="assets/docs-1.jpg" data-fancybox)
			img(src="assets/docs-1.jpg" width="565" height="800" alt="")
	.grid__item.grid__item--xs-50.grid__item--sm-33.grid__item--lg-20.image.image--border.image--white-bg
		a.zoom(href="assets/docs-2.jpg" data-fancybox)
			img(src="assets/docs-2.jpg" width="565" height="800" alt="")
	.grid__item.grid__item--xs-50.grid__item--sm-33.grid__item--lg-20.image.image--border.image--white-bg
		a.zoom(href="assets/docs-3.png" data-fancybox)
			img(src="assets/docs-3.png" width="565" height="800" alt="")
	.grid__item.grid__item--xs-50.grid__item--sm-33.grid__item--lg-20.image.image--border.image--white-bg
		a.zoom(href="assets/docs-4.jpg" data-fancybox)
			img(src="assets/docs-4.jpg" width="565" height="800" alt="")
	.grid__item.grid__item--xs-50.grid__item--sm-33.grid__item--lg-20.image.image--border.image--white-bg
		a.zoom(href="assets/docs-5.jpg" data-fancybox)
			img(src="assets/docs-5.jpg" width="565" height="800" alt="")