.h-scroll
	.h-scroll__container
		table.table
			thead
				tr
					th В тариф включено
					td.-ta-c Старт
					td.-ta-c.table__favorite Трафик
					td.-ta-c SEO 3.0
			tbody
				tr
					td Первичное изучение ниши, конкурентов и проекта
					td.-ta-c Нет
					td.-ta-c.table__favorite Да
					td.-ta-c Да
				tr
					td Мониторинг видимости конкурентов
					td.-ta-c Да
					td.-ta-c.table__favorite Да
					td.-ta-c Да
				tr
					td Мониторинг видимости и занимаемых позиций
					td.-ta-c Нет
					td.-ta-c.table__favorite Нет
					td.-ta-c Да