.h-scroll
	.h-scroll__container
		table.table
			colgroup
				col(width="35%")
				col
				col
				col
			thead
				tr
					td Стоимость депозита
					td.-ta-c 690 000 руб.
					td.-ta-c.table__favorite 250 000 руб.
					td.-ta-c 87 000 руб.
			tbody
				tr
					td Объём работ по депозиту
					td.-ta-c 300 часов
					td.-ta-c.table__favorite 100 часов
					td.-ta-c 30 часов
				tr
					td Стоимость часа любого специалиста
					td.-ta-c 2 300 руб.
					td.-ta-c.table__favorite 2 500 руб.
					td.-ta-c 2 900 руб.