.h-scroll
	.h-scroll__container
		table.table
			thead
				tr
					th Услуги
					td Объем работ
					td Сроки
			tbody
				tr.table__group
					td(colspan=3) Заголовок группы
				tr
					th
						a(href="#") Составление эффективного семантического ядра
					td от 300 запросов
					td от 4 раб. дней
				tr.table__group
					td(colspan=3) Заголовок группы
				tr
					th
						a(href="#") Формирование оптимизированной структуры сайта
					td от 300 запросов
					td от 5 раб. дней
				tr
					th
						a(href="#") Технический аудит сайта
					td от 5 страниц
					td от 5 раб. дней