.table {
	$block-name: &; // #{$block-name}__element

	font-size: var(--font-size--medium);
	border: 0;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;

	&:not(:first-child) {
		margin-top: var(--blocks-margin-vertical);
	}

	&:not(:last-child) {
		margin-bottom: var(--blocks-margin-vertical);
	}

	& th,
	& td {
		font-weight: normal;
		padding: .625em 1.5em;
		text-align: left;
		position: relative;
		border: 2px solid var(--color-gray--lighten);
	}

	& thead {
		& th,
		& td {
			background: var(--color-gray--lighten);
			font-weight: 500;
			font-size: var(--font-size--large);

			&.table__favorite {
				background: var(--color-primary);
				color: var(--color-white);
				border-color: var(--color-primary);

				&::before {
					content: "";
					height: 6px;
					background: var(--color-primary);
					border-radius: 6px 6px 0 0;
					position: absolute;
					top: -6px;
					left: 0;
					right: -2px;
				}
			}
		}

		& th {
			width: 50%;
		}
	}

	&--bg-lines tbody {
		& tr {
			&:nth-child(even) th,
			&:nth-child(even) td {
				background: var(--color-gray--lighter);
			}

			&:nth-child(odd) th,
			&:nth-child(odd) td {
				background: var(--color-white);
			}
		}
	}

	& tbody {
		& th.table__favorite,
		& td.table__favorite {
			&::before {
				content: '';
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: 0;
				width: 2px;
				background: var(--color-primary);
			}

			&::after {
				content: '';
				position: absolute;
				top: -2px;
				bottom: -2px;
				right: -2px;
				width: 2px;
				background: var(--color-primary);
			}
		}

		& tr:last-child th.table__favorite,
		& tr:last-child td.table__favorite {
			border-bottom-color: var(--color-primary);
		}
	}

	@media (max-width: $screen-md - 1) {
		table-layout: auto;
	}

	&--no-fixed {
		table-layout: auto;
	}

	&__available::after,
	&__not-available::after {
		content: '';
		width: 1.875em;
		height: 1.8em;
		background-size: cover;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		line-height: 0;
	}

	&__available::after {
		background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='28.82234' viewBox='0 0 30 28.82234'><path d='M28.0697,11.50764a4.32406,4.32406,0,0,1-1.0078-.9831,4.53894,4.53894,0,0,1,.2331-1.43115c.2764-1.07866.6211-2.4205-.1513-3.4768-.7686-1.04885-2.1509-1.14073-3.2616-1.21523a4.60775,4.60775,0,0,1-1.4258-.2247,4.70565,4.70565,0,0,1-.6706-1.312C21.348,1.77852,20.8497.54715,19.6335.1549c-1.2099-.396-2.3158.30536-3.2889.92225a4.41672,4.41672,0,0,1-1.3451.68025,4.37,4.37,0,0,1-1.3216-.6914C12.742.45651,11.5717-.29819,10.3382.1214,9.12445.53477,8.63109,1.75863,8.19346,2.83605A4.66222,4.66222,0,0,1,7.524,4.1431a4.57552,4.57552,0,0,1-1.44925.22839c-1.17153.07944-2.49926.16885-3.24557,1.22638C2.09654,6.63681,2.425,7.91781,2.71512,9.04862a4.78372,4.78372,0,0,1,.238,1.42622,4.60125,4.60125,0,0,1-.99673.9744C1.08475,12.16934,0,13.06424,0,14.40484c0,1.3319,1.06371,2.2169,1.91783,2.9269a4.31415,4.31415,0,0,1,1.00541,1.0042,4.43217,4.43217,0,0,1-.23554,1.4138c-.28266,1.0886-.636,2.4441.16611,3.5091.78228,1.0352,2.15836,1.127,3.26543,1.2016a4.573,4.573,0,0,1,1.4257.2247,4.73333,4.73333,0,0,1,.66821,1.3108c.43886,1.0861.936,2.3174,2.15335,2.7109a2.2862,2.2862,0,0,0,.7215.1155,5.08837,5.08837,0,0,0,2.5687-1.0353,4.39469,4.39469,0,0,1,1.3427-.6802,4.2945,4.2945,0,0,1,1.3178.6728c.9298.592,2.0901,1.3344,3.3212.9123,1.2124-.4134,1.7058-1.636,2.1435-2.7159a4.67881,4.67881,0,0,1,.6694-1.307,4.55038,4.55038,0,0,1,1.4431-.2284c1.1628-.0795,2.4819-.1676,3.2394-1.209.7624-1.0464.4351-2.3411.1463-3.4818a4.74408,4.74408,0,0,1-.2331-1.4126,4.61632,4.61632,0,0,1,.9955-.9744c.8728-.72,1.9575-1.6162,1.9575-2.9568C30,13.07664,28.9289,12.20654,28.0697,11.50764Zm-1.6029,3.9411a4.97954,4.97954,0,0,0-1.7704,2.104,5.0339,5.0339,0,0,0,.181,2.8078,8.17785,8.17785,0,0,1,.2827,1.3778,4.51149,4.51149,0,0,1-1.4306.2246,5.15194,5.15194,0,0,0-2.7423.7026,5.17007,5.17007,0,0,0-1.5038,2.3783,7.301,7.301,0,0,1-.5963,1.2872,4.49015,4.49015,0,0,1-1.2347-.6467,5.15239,5.15239,0,0,0-2.6518-1.0613,5.21842,5.21842,0,0,0-2.6691,1.0651,10.02093,10.02093,0,0,1-1.1579.6777,4.70785,4.70785,0,0,1-.6608-1.2996,5.13368,5.13368,0,0,0-1.5186-2.3944,5.07428,5.07428,0,0,0-2.71-.6864,6.14646,6.14646,0,0,1-1.43314-.1887,4.39711,4.39711,0,0,1,.23554-1.4175,5.11229,5.11229,0,0,0,.19588-2.8041,5.07022,5.07022,0,0,0-1.779-2.1499,5.034,5.034,0,0,1-1.02651-1.0017c.05578-.2334.70664-.7708,1.05621-1.0575a4.98943,4.98943,0,0,0,1.77036-2.1052,5.05339,5.05339,0,0,0-.18721-2.82893A10.11,10.11,0,0,1,4.81875,7.069a4.68256,4.68256,0,0,1,1.422-.2197,5.09745,5.09745,0,0,0,2.74846-.70255,5.16594,5.16594,0,0,0,1.50384-2.377,7.99427,7.99427,0,0,1,.5888-1.286,4.58775,4.58775,0,0,1,1.2472.66534,5.135,5.135,0,0,0,2.6716,1.0911,5.21946,5.21946,0,0,0,2.6679-1.06376,9.82023,9.82023,0,0,1,1.1579-.67772,4.74079,4.74079,0,0,1,.6608,1.29959,5.13587,5.13587,0,0,0,1.5186,2.39316,5.07025,5.07025,0,0,0,2.7125.68764,6.77962,6.77962,0,0,1,1.4083.175,4.49307,4.49307,0,0,1-.233,1.42251,5.158,5.158,0,0,0-.1885,2.814,4.96983,4.96983,0,0,0,1.8038,2.1461,4.75509,4.75509,0,0,1,1.0079.9744A4.86281,4.86281,0,0,1,26.4668,15.44874Zm-5.922-5.7188a1.2361,1.2361,0,0,0-1.7455.1552l-5.5279,6.6172-2.3518-2.3534a1.24031,1.24031,0,0,0-1.75292,1.7552l3.31012,3.3142a1.23038,1.23038,0,0,0,.8765.3637.38121.38121,0,0,0,.0533-.0025,1.23469,1.23469,0,0,0,.8963-.4431l6.3968-7.6588A1.24112,1.24112,0,0,0,20.5448,9.72994Z' style='fill: rgb(85,176,53)'/></svg>");
	}
}