.seo-landing-case-banner
  .seo-landing-case-banner__numbers
    span 1 года и 9 месяцев
  .seo-landing-case-banner__text
    | Средний срок сотрудничества с нами — более 21 месяца.
    | Это результат высокой эффективности нашей работы и удовлетворенности клиента.
.seo-landing-cases
  .seo-landing-case
    .seo-landing-case__item.seo-landing-case__item--psb
      .seo-landing-case__logo 
        img(src="/prodvizhenie-sajtov/images/case-psb-logo.png" width="160" height="48")
      .seo-landing-case__title - 56% стоимости привлечения клиентов
      .seo-landing-case__info
        picture
          source(srcset="/prodvizhenie-sajtov/images/case-psb-graph--big.png"
            media="(min-width: 1024px)")
          img(src="/prodvizhenie-sajtov/images/case-psb-graph.png")

        a(href="/portfolio/prodvizhenie_sajtov/kompaniya-promsvyazbank.html").seo-landing-button2 Подробнее

  .seo-landing-case
    .seo-landing-case__item.seo-landing-case__item--samsonite
      .seo-landing-case__logo 
        img(src="/prodvizhenie-sajtov/images/case-samsonite-logo.png" width="221" height="35")
      .seo-landing-case__title + 112% выручки
      .seo-landing-case__info
        picture
          source(srcset="/prodvizhenie-sajtov/images/case-samsonite-graph--big.png"
            media="(min-width: 1024px)")
          img(src="/prodvizhenie-sajtov/images/case-samsonite-graph.png")
        a(href="/portfolio/prodvizhenie_sajtov/kompaniya-samsonite.html").seo-landing-button2 Подробнее
