.seo-landing {
  &-case-banner {
    background: linear-gradient(89.58deg, #040507 0.19%, #1C2431 49.46%, #131A23 99.76%);
    color: #fff;
    margin-bottom: 30px;
    padding: 46px 25px;
    text-align: center;
    &__numbers {
      font-size: 36px;
      font-weight: 700;
      &::before {
        content: '>';
        font-size: 60px;
        font-weight: 500;
      }
      span {
        font-size: 60px;
        font-weight: 500;
      }
    }
    &__text {
      border-top: 1px solid #fff;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.6;
      margin: 30px 0 0 0;
      padding: 30px 0 0 0;
    }
  }


  @media screen and (min-width: 1024px) {
    &-case-banner {
      display: flex;
      padding: 35px 60px;
      text-align: left;
      &__numbers {
        flex: 0 0 300px;
        font-weight: 500;
        max-width: 300px;
        padding-left: 70px;
        position: relative;
        &::before {
          font-size: 90px;
          left: 0;
          line-height: .7;
          position: absolute;
          top: 0;
        }
      }
      span {
        display: block;
        font-size: 36px;
      }
      &__text {
        border-left: 1px solid #fff;
        border-top: none;
        font-size: 20px;
        margin: 0 0 0 45px;
        padding: 0 0 0 45px;
      }
    } 
  }


  &-case {
    margin-bottom: 40px;
    &__item {
      background-color: #fff;
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: contain;
      box-shadow: 0 7px 20px rgba(14, 16, 20, .1);
      padding: 50px 28px 300px 28px;
      &--psb {
        background-color: #F7F5F2;
        background-image: url('/images/case-psb-bg.jpg');
      }
      &--samsonite {
        background-image: url('/images/case-samsonite-bg.jpg');
      }
      & + .seo-landing-case__item {
        margin-top: 30px;
      }
    }
    &__logo {
      margin-bottom: 30px;
      img {
        margin: 0;
      }
    }
    &__title {
      font-size: 26px;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1024px) {
    &-case__item {
      background-size: auto;
      box-shadow: none;
      display: flex;
      flex-direction: column;
      height: 563px;
      justify-content: center;
      padding: 40px 40px 40px 598px;
      text-align: left;
      width: 100%;
      &--psb {
        background-image: url('/images/case-psb-bg--big.jpg');
      }
      &--samsonite {
        background-image: url('/images/case-samsonite-bg--big.jpg');
      }
    }   
  }
}

.wide-block--get-kp {
  background-color: #333;
  background-image: url('/prodvizhenie-sajtov/trafik/images/get-kp-bg.jpg');
  background-position: 50% 100%;
  background-size: cover;
  color: #fff;
}
.wide-block--get-kp .h2 {
  font-size: 28px;
  margin: 0 0 .6em 0;
  text-align: left;
  text-transform: uppercase;
}


@media screen and (min-width: 1024px) {
  .wide-block--get-kp .h2 {
    font-size: 54px;
  }
}

.seo-landing-button2 {
  background: transparent;
  border: 1px solid #000;
  border-radius: 7px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: .93em;
  font-weight: bold;
  line-height: 26px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  font-family: 'Ubuntu', sans-serif;
}
.seo-landing-button2:hover {
  background: #000;
  color: #fff;
}
.seo-landing-button2--invert {
  border-color: #fff;
  color: #fff;
}
.seo-landing-button2--invert:hover {
  background: #fff;
  color: #000;
}

.seo-bitrix {
  .slick-dots {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
  }  
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 3px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }  
  .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 45px;
    height: 3px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
  }  
  .slick-dots li button:focus,
  .slick-dots li button:hover {
    outline: 0;
  }  
  .slick-dots li button:focus:before,
  .slick-dots li button:hover:before {
    opacity: 1;
  }  
  .slick-dots li button:before {
    font-family: slick;
    font-size: 0px;
    line-height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 3px;
    background: rgba(196, 196, 196, 0.35);
    border-radius: 10px;
    content: '';
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background 0.25s ease-out 0s;
  }  
  .slick-dots li.slick-active button:before {
    background: rgba(196, 196, 196, 0.75);
  }  
  @media (max-width: 1023px) {
    .slick-dots {
      bottom: -25px;
      text-align: center;
      display: none;
    }
    .slick-dots li, .slick-dots li button, .slick-dots li button:before {
      width: 30px;
    }
  }  
  .slick-arrow {
    background: none;
    border: none;
    color: transparent;
    cursor: pointer;
    font-family: 'pixelplus';
    font-size: 0;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 35px;
    line-height: 1;
    margin-top: -38.5px;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    speak: none;
    text-transform: none;
    top: 50%;
    width: 35px;
    z-index: 9;
  }  
  @media screen and (max-width: 1023px) {
    .slick-arrow {
        display: none !important;
    }
  }  
  .slick-arrow:before {
    color: #c1c1c1;
    content: "";
    /* font-size: 34px; */
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAxNSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0tNS40NjI5MWUtMDcgMTIuNDk3N0wxMi44MjY5IDAuMzYxMjIyQzEzLjA2ODYgMC4xMzI0MjYgMTMuODI3MSAtMC4zMjIyMDUgMTQuNTQ5NiAwLjM2MTI2M0MxNS4zNDU4IDEuMTE0MzYgMTQuNzgyOSAxLjg0MjU1IDE0LjU0OTYgMi4wNjMyOUwzLjUyMTc5IDEyLjQ5NzdMMTQuNTQ5NiAyMi45MzIxQzE0Ljc1NDcgMjMuMTI2MyAxNS40NTE0IDIzLjc4MTMgMTQuNTQ5NiAyNC42MzQzQzEzLjgxNjEgMjUuMzI4MSAxMy4wNjg1IDI0Ljg2MjkgMTIuODI2OSAyNC42MzQzTC01LjQ2MjkxZS0wNyAxMi40OTc3WiIgZmlsbD0iI0M0QzRDNCIgZmlsbC1vcGFjaXR5PSIwLjc1Ii8+Cjwvc3ZnPgo=");
    width: 15px;
    height: 25px;
    background-size: cover;
    left: 0;
    position: absolute;
    top: 0;
    transition: .3s;
  }  
  .slick-arrow:hover:before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAxNSAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0tNS40NjI5MWUtMDcgMTIuNDk3N0wxMi44MjY5IDAuMzYxMjIyQzEzLjA2ODYgMC4xMzI0MjYgMTMuODI3MSAtMC4zMjIyMDUgMTQuNTQ5NiAwLjM2MTI2M0MxNS4zNDU4IDEuMTE0MzYgMTQuNzgyOSAxLjg0MjU1IDE0LjU0OTYgMi4wNjMyOUwzLjUyMTc5IDEyLjQ5NzdMMTQuNTQ5NiAyMi45MzIxQzE0Ljc1NDcgMjMuMTI2MyAxNS40NTE0IDIzLjc4MTMgMTQuNTQ5NiAyNC42MzQzQzEzLjgxNjEgMjUuMzI4MSAxMy4wNjg1IDI0Ljg2MjkgMTIuODI2OSAyNC42MzQzTC01LjQ2MjkxZS0wNyAxMi40OTc3WiIgZmlsbD0iI0NDMDAwMCIvPgo8L3N2Zz4K");
  }  
  .slick-prev {
    left: -50px;
  }  
  .slick-next {
    right: -50px;
    transform: rotate(180deg);
  }
}