.seo-landing {
  &-case-banner {
    background: linear-gradient(89.58deg, #040507 0.19%, #1C2431 49.46%, #131A23 99.76%);
    color: var(--color-white);
    margin-bottom: 30px;
    padding: 46px 25px;
    text-align: center;
    &__numbers {
      font-size: 36px;
      font-weight: 700;
      &::before {
        content: '>';
        font-size: 60px;
        font-weight: 500;
      }
      span {
        font-size: 60px;
        font-weight: 500;
      }
    }
    &__text {
      border-top: 1px solid var(--color-white);
      font-size: 16px;
      font-weight: 300;
      line-height: 1.6;
      margin: 30px 0 0 0;
      padding: 30px 0 0 0;
    }
  }

  @media screen and (min-width: $screen-lg) {
    &-case-banner {
      display: flex;
      padding: 35px 60px;
      text-align: left;
      &__numbers {
        flex: 0 0 300px;
        font-weight: 500;
        max-width: 300px;
        padding-left: 70px;
        position: relative;
        &::before {
          font-size: 90px;
          left: 0;
          line-height: .7;
          position: absolute;
          top: 0;
        }
      }
      span {
        display: block;
        font-size: 36px;
      }
      &__text {
        border-left: 1px solid var(--color-white);
        border-top: none;
        font-size: 20px;
        margin: 0 0 0 45px;
        padding: 0 0 0 45px;
      }
    } 
  }

  &-case {
    margin: 0 10px 40px 0;
    &__item {
      background-color: var(--color-white);
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: contain;
      box-shadow: 0 7px 20px rgba(14, 16, 20, .1);
      padding: 50px 28px 300px 28px;
      &--psb {
        background-color: #F7F5F2;
        background-image: url('/images/case-psb-bg.jpg');
      }
      &--samsonite {
        background-image: url('/images/case-samsonite-bg.jpg');
      }
      & + .seo-landing-case__item {
        margin-top: 30px;
      }
    }
    &__logo {
      margin-bottom: 30px;
      img {
        margin: 0;
      }
    }
    &__title {
      font-size: 26px;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $screen-lg) {
    &-case__item {
      background-size: auto;
      box-shadow: none;
      display: flex;
      flex-direction: column;
      height: 563px;
      justify-content: center;
      padding: 40px 40px 40px 598px;
      text-align: left;
      width: 100%;
      &--psb {
        background-image: url('/images/case-psb-bg--big.jpg');
      }
      &--samsonite {
        background-image: url('/images/case-samsonite-bg--big.jpg');
      }
    }   
  }
}

.wide-block--get-kp {
  background-color: #333;
  background-image: url('/prodvizhenie-sajtov/trafik/images/get-kp-bg.jpg');
  background-position: 50% 100%;
  background-size: cover;
  color: var(--color-white);
}
.wide-block--get-kp .h2 {
  font-size: 28px;
  margin: 0 0 .6em 0;
  text-align: left;
  text-transform: uppercase;
}

@media screen and (min-width: $screen-lg) {
  .wide-block--get-kp .h2 {
    font-size: 54px;
  }
}

.seo-landing-button2 {
  background: transparent;
  border: 1px solid var(--color-black);
  border-radius: 7px;
  color: var(--color-black);
  cursor: pointer;
  display: inline-block;
  font-size: .93em;
  font-weight: bold;
  line-height: 26px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  transition: .3s;
  margin-top: 16px;
  font-family: var(--font-family-primary);
}
.seo-landing-button2:hover {
  background: var(--color-black);
  color: var(--color-white);
}
.seo-landing-button2--invert {
  border-color: var(--color-white);
  color: var(--color-white);
}
.seo-landing-button2--invert:hover {
  background: var(--color-white);
  color: var(--color-black);
}