-
	let dataTeams = [
		{
			"photo": "assets/dubenchak.jpg",
			"name": "Анатолий Дубенчак",
			"post": "Генеральный директор",
			"filterTarget": "ceo"
		},
		{
			"photo": "assets/sevalnev.jpg",
			"name": "Дмитрий Севальнев",
			"post": "Руководитель департамента SEO",
			"filterTarget": "ceo"
		},
		{
			"photo": "assets/homyakov.jpg",
			"name": "Игорь Хомяков",
			"post": "Руководитель отдела SEO",
			"filterTarget": "ceo"
		},
		{
			"photo": "assets/parhomenko.jpg",
			"name": "Оксана Пархоменко",
			"post": "Руководитель отдела сопровождения",
			"filterTarget": "ceo"
		},
	]
.team-list.team-list--columns-4.tile-slider.wow.animate__zoomIn(data-filter-block="team", data-flickity-options='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "watchCSS": true, "groupCells": true, "cellSelector": ".team-list__item:not(.-is-hidden)", "lazyLoad": true }' data-wow-duration=".5s")
	each item, i in dataTeams
		.team-list__item(data-filter-target=item.filterTarget)
			.team-list__image
				a(href="#")
					img(src=item.photo, width="165", height="165")
			.team-list__name
				a(href="#") #{item.name}
			.team-list__post #{item.post}