.subscribe-footer
  form.subscribe-footer__form(action='')
    input.subscribe-footer__input(type="email" value="" placeholder="Ваш e-mail")
    button.subscribe-footer__button: <svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use></svg>
  .subscribe-footer__note Подпишитесь на исследования и кейсы