.subscribe-footer {

	$block-name: &; // #{$block-name}__element

	&__form {
		display: flex;
		max-width: 300px;
	}

	& .field-text {
		width: calc(100% - 50px);
	}

	& .field-text__input {
		border-radius: 7px 0 0 7px;
		flex: 1 1 auto;
		height: 50px;
		padding: 0 1em;
	}

	&__button {
		border-radius: 0 7px 7px 0;
		height: 50px;
		padding: 0 1em;
		width: 50px;

		& svg {
			display: block;
			fill: var(--color-white);
			height: 14px;
			width: 21px;
		}
	}

	&__note {
		color: var(--color-gray--dark);
		font-size: var(--font-size--medium);
		margin-top: .85em;
	}
}