.infographics-item {
  $block-name: &; // #{$block-name}__element

  --padding: 0;

  display: block;
  transition: border-color var(--transition-time),
              box-shadow var(--transition-time);
  position: relative;
  padding: var(--padding);


  @at-root
  .d-grid__item > &:last-child:first-child {
    height: 100%;
  }

  @at-root
  a#{$block-name} {
    --link-color: var(--text-color);
    --link-color--hover: var(--color-primary);
    text-decoration: none;
  }



  &--tile {
    --padding: 2em;

    background: var(--color-white);
    border-radius: var(--border-radius--sm);
    width: 100%;

    &:hover {
      box-shadow: var(--shadow);
    }

    @at-root
    a#{$block-name} {
      --link-color: var(--text-color);
      --link-color--hover: var(--color-primary);
      text-decoration: none;
    }

    .wide-block--gray-circle &:not(#{$block-name}--shadow-light):not(#{$block-name}--gray-lighter),
    .wide-block:not([class*="wide-block--"]) &:not(#{$block-name}--shadow-light):not(#{$block-name}--gray-lighter) {
      border: 1px solid var(--color-gray--lighten);

      &:hover {
        border-color: transparent;
      }
    }

    .wide-block[class*="wide-block--"]:not(.wide-block--gray-circle) & {
      background: var(--color-white);
    }

    .wide-block--gray-circle & {
      background: transparent;
    }
  }

  &--border-top-hover {
    --border-height: 8px;
    padding-top: calc(var(--padding) + var(--border-height));

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: var(--border-height);
      background-color: var(--color-white);
      transition: background-color var(--transition-time);
      border-radius: var(--border-radius--sm) var(--border-radius--sm) 0 0;
    }

    &:hover::before {
      background-color: var(--color-primary);
    }
  }

  &--border-top-primary {
    --border-height: 8px;
    padding-top: calc(var(--padding) + var(--border-height));

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: var(--border-height);
      background-color: var(--color-primary);
      border-radius: var(--border-radius--sm) var(--border-radius--sm) 0 0;
    }
  }

  &--border-top-green {
    --border-height: 8px;
    padding-top: calc(var(--padding) + var(--border-height));

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: var(--border-height);
      background-color: var(--color-green);
      border-radius: var(--border-radius--sm) var(--border-radius--sm) 0 0;
    }
  }

  &--border-left-primary {
    --border-height: 8px;
    padding-left: calc(var(--padding) + var(--border-height));

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: var(--border-height);
      background-color: var(--color-primary);
      border-radius: var(--border-radius--sm) 0 0 var(--border-radius--sm);
    }
  }

  &--border-left-green {
    --border-height: 8px;
    padding-left: calc(var(--padding) + var(--border-height));

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: var(--border-height);
      background-color: var(--color-green);
      border-radius: var(--border-radius--sm) 0 0 var(--border-radius--sm);
    }
  }

  &--shadow-light {
    box-shadow: var(--shadow--light);
  }

  &--gray-lighter {
    background-color: var(--color-gray--lighter);
  }

  @media (min-width: $screen-md) {
    &__popup {
      position: relative;

      &-inner {
        position: absolute;
        top: 0;
        left: calc(var(--padding) * -1);
        right: calc(var(--padding) * -1);
        padding: 0 var(--padding) var(--padding) var(--padding);
        background: var(--color-white);
        border-radius: var(--border-radius--sm);
        transition: opacity var(--transition-time);
        opacity: 0;
        visibility: hidden;

        #{$block-name}:hover & {
          box-shadow: var(--shadow);
          opacity: 1;
          visibility: visible;
          z-index: 5;
        }
      }
    }
  }



  &__icon {
    --size: 55px;

    position: relative;
    width: fit-content;
    margin-bottom: 1rem;
    color: var(--color-primary);

    & svg {
      display: block;
      position: relative;
      z-index: 1;
      fill: currentColor;
      //max-height: 55px;
      //width: auto;
      width: var(--size);
      height: var(--size);
    }

    &--shadow-bottom {
      &::after {
        background: var(--color-gray--lighten);
        border-radius: 50%;
        content: '';
        display: block;
        height: .625em;
        margin: .9em auto 0 auto;
        width: 100%;
      }
    }

    &--shadow-left {
      & svg {
        margin-left: 1.2em;
      }

      &::before {
        background: var(--color-gray--lighten);
        border-radius: 50%;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        width: var(--size);
        aspect-ratio: 1;
      }
    }

    &--lg {
      --size: 85px;
    }
  }

  &__title {
    font-size: var(--font-size--large);
    font-weight: 500;
    color: var(--text-color);

    &--large {
      font-size: var(--font-size-h3);
      line-height: 1.2;
    }

    @at-root
    a#{$block-name} {
      text-decoration: none;
    }

    @at-root
    #{$block-name} & a,
    a#{$block-name}__title,
    a#{$block-name} & {
      text-decoration: underline;
      text-decoration-color: transparent;
      color: var(--text-color);
      transition: var(--transition-time);
    }

    @at-root
    #{$block-name} & a:hover,
    #{$block-name} & a:active,
    a#{$block-name}__title:hover,
    a#{$block-name}__title:active,
    a#{$block-name}:hover &,
    a#{$block-name}:active & {
      color: var(--link-color--hover);
      text-decoration-color: currentColor;
    }
  }

  &__title + &__description {
    margin-top: .5rem;
  }

  &__description + &__price {
    margin-top: 1.125rem;
  }

  &__price {
    font-size: var(--font-size--huge);
    color: var(--color-primary);
    font-weight: 500;
  }

  &__note {
    color: var(--color-gray);
    font-size: var(--font-size--small);
    margin-top: 1em;
  }

  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: 30px;
    background-color: var(--color-black);
    border-radius: 0 var(--border-radius--sm) 0 0;
    padding: 0 22px;
    color: var(--color-white);
    font-weight: 500;
    text-transform: uppercase;
    font-size: var(--font-size--medium);
    display: flex;
    align-items: center;

    &::after {
      position: absolute;
      left: -13px;
      top: 0;
      background-image: url("data:image/svg+xml;charset=utf-8,<svg width='15' height='30' viewBox='0 0 15 30' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.51178 1.67092C-0.0699117 1.02799 0.386299 0 1.25331 0H15V30H1.25331C0.3863 30 -0.0699135 28.972 0.511779 28.3291L11.9644 15.6709C12.309 15.29 12.309 14.71 11.9644 14.3291L0.51178 1.67092Z' fill='currentColor'/></svg>");
      background-position: left center;
      background-repeat: no-repeat;
      content: '';
      width: 15px;
      height: 30px;
    }
  }


  &--type1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    & #{$block-name}__icon {

    }

    & #{$block-name}__title {
    }

    & #{$block-name}__description {
    }

    #{$block-name}__body {
      flex-grow: 1;
    }
  }

  &--type2 {
    display: flex;
    flex-direction: column;

    @at-root
    #{$block-name}__header {
      margin-bottom: 1.125rem;
    }

    #{$block-name}__body {
      flex-grow: 1;
    }

    @at-root
    #{$block-name}__footer {
      margin-top: 1.125rem;
    }

    & #{$block-name}__description {
      --link-color: currentColor;
      flex-grow: 1;
      color: var(--color-gray--dark);
      font-size: var(--font-size--medium);
      margin-top: 1.125rem;
      //font-weight: 500;
    }

    & #{$block-name}__title + #{$block-name}__popup #{$block-name}__description,
    & #{$block-name}__title + #{$block-name}__description {
      //font-size: var(--font-size--medium);
      //font-weight: normal;
      //color: var(--color-gray--dark);
      //margin-top: 1.125rem;
    }
  }

  &--type3 {
    display: grid;
    gap: 0 var(--grid-gutter);
    grid-template-columns: minmax(60px, 70px) auto;
    //grid-template-rows: minmax(0, max-content) auto; // при отсутствии второй строки был лишний гэп
    grid-template-rows: minmax(0, max-content);
    min-height: 100%;
    width: 100%;

    &:has(#{$block-name}__icon--lg) {
      grid-template-columns: minmax(90px, 100px) auto;
    }

    & #{$block-name}__icon {
      margin-bottom: .5rem;
      grid-column: 1;
      grid-row: 1;

      @media (min-width: $screen-md) {
        grid-row: 1 / 3;
        margin: 0;
      }
    }

    & #{$block-name}__tag {
      grid-column: 2;
      grid-row: 1;
      margin-bottom: .5rem;
      align-self: center;

      @media (min-width: $screen-md) {
        grid-column: 3;
        grid-row: 1 / 3;
      }
    }

    & #{$block-name}__title {
      grid-column: 1 / 3;
      grid-row: 2;

      @media (min-width: $screen-md) {
        grid-column: 2;
        grid-row: 1;
      }
    }

    & #{$block-name}__description {
      grid-column: 1 / 3;
      grid-row: 3;

      @media (min-width: $screen-md) {
        grid-column: 2;
        grid-row: 2;
      }
    }
  }

  &--type4 {
    display: grid;
    gap: var(--grid-gutter) calc(var(--grid-gutter) * 2);
    grid-template-columns: minmax(60px, 70px) auto;
    //grid-template-rows: minmax(0, max-content) auto; // при отсутствии второй строки был лишний гэп
    grid-template-rows: minmax(0, max-content);
    min-height: 100%;
    width: 100%;


    & #{$block-name}__icon {
      margin: 0;
      grid-column: 1;
      grid-row: 1;
    }

    & #{$block-name}__title {
      grid-column: 2;
      grid-row: 1;
      align-self: center;
    }

    & #{$block-name}__description {
      grid-column: 1 / 3;
      grid-row: 2;

      &--gray-lighter {
        margin: 0 calc(var(--padding) * -1) calc(var(--padding) * -1) calc(var(--padding) * -1);
        padding: var(--padding);
        background-color: var(--color-gray--lighter);
      }
    }

    & #{$block-name}__popup {
      grid-column: 1 / 3;
      grid-row: 3;
    }
  }

  &--type5 {
    --circle-size: 5em;

    display: grid;
    gap: 0 var(--grid-gutter-x);
    grid-template-areas:  "icon title"
                          "icon description";
    grid-template-rows: minmax(0,max-content) auto;

    & #{$block-name}__icon {
      grid-area: icon;
      margin: 0;

      &-inner {
        align-items: center;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), #CC0000;
        background-blend-mode: overlay, normal;
        border-radius: 50%;
        display: flex;
        height: var(--circle-size);
        justify-content: center;
        position: relative;
        width: var(--circle-size);
      }

      & svg {
        fill: var(--color-white);
        max-height: calc(var(--circle-size) * 2 / 4);
        max-width: calc(var(--circle-size) * 2 / 4);
      }
    }

    & #{$block-name}__title {
      grid-area: title;
      font-size: var(--font-size--large);
    }

    & #{$block-name}__description {
      grid-area: description;
    }

    @media (min-width: $screen-md) {
      --circle-size: 7.5em;

      gap: 0 calc(var(--grid-gutter-x) * 2);
    }

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;

      & #{$block-name}__title {
        max-width: 25%;
        flex: 0 0 25%;
      }
    }
  }


  &__footer {

  }

  @media (min-width: $screen-md) {
    &__header--line {
      display: flex;
      align-items: center;
      gap: var(--grid-gutter);

      & #{$block-name}__title {
        margin: 0;
      }

      & #{$block-name}__icon {
        margin: 0;
      }
    }
  }
}