.tile-cms {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  &__item {
    width: 23%;
    &:hover img {
      filter: grayscale(0) contrast(1);
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    img {
      max-width: 80%;
      max-height: 65px;
      margin-bottom: 20px;
      filter: grayscale(1) contrast(0.5);
      transition: filter 0.25s ease 0s;
    }
  }
  &__link {
    display: block;
    text-align: center;
    padding-bottom: 20px;
  }
}