.case-wide.tile-slider(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": false, "adaptiveHeight": true, "lazyLoad": true }')
	.case-wide__item(style="background-image: url(blocks/case-wide/images/magizoo.jpg)")
		.case-wide__item-inner.page-container
			.case-wide__logo
				img(src="blocks/case-wide/images/logo.png" width="320" height="130")
			.case-wide__title Компания «Биннофарм Групп»
			.case-wide__description «Биннофарм Групп» входит в топ-5 российских производителей лекарственных средств
			.buttons-group.buttons-group--center
				a.button.button--primary(href="#") Перейти к работе
				a.button.button--not-fill(href="#") Посмотреть портфолио
	.case-wide__item(style="background-image: url(blocks/case-wide/images/smart-card.jpg)")
		.case-wide__item-inner.page-container
			.case-wide__logo
				img(src="blocks/case-wide/images/logo.png" width="320" height="130")
			.case-wide__title Компания «Биннофарм Групп»
			.case-wide__description «Биннофарм Групп» входит в топ-5 российских производителей лекарственных средств