:root {
  --color-black: rgb(50, 60 ,75);
  --color-primary: rgb(35, 132, 74);
  --color-primary--light: rgb(57, 176, 105);
  --color-secondary: rgb(127, 156, 199);
  --color-secondary--light: rgb(181, 205, 241);
  --color-gray: rgb(239, 240, 245);
  --color-gray--light: rgb(249, 250, 254);
  --color-gray--dark: rgb(108, 114, 123);

  --font-size--small: 12px;
  --font-size--middle: 14px;
  --font-size: 16px;

  --border-radius: 8px;

  --font-family-primary: 'Open Sans', sans-serif;

  --transition: all .3s;
  --box-shadow: 0px 4px 7px rgba(122, 168, 194, .25);
}

@media (min-width: 768px) {
  :root {
    --font-size--small: 14px;
    --font-size--middle: 16px;
    --font-size: 18px;
  }
}