header.page-header
  .page-container--fluid.page-header__inner
    .page-header__logo
      img(src="images/logo.svg")
    .page-header__top-menu
      include ../../top-menu/index
    .page-header__phones
      include ../../header-phones/index
    .page-header__order
      button Онлайн-заявка