mixin phones(regions)
	.phones
		if (regions === true)
			.phones__item.phones__item--regions
				.phones__regions-inner
					.phones__item-inner
						.phones__number <a href="tel:+74959895311">+7 495 989-53-11</a>
						.phones__title.
							<svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location-pin"></use></svg>
							Москва (отдел продаж)
					.phones__item-inner
						.phones__number <a href="tel:+74959895311">+7 495 989-53-11</a>
						.phones__title.
							<svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location-pin"></use></svg>
							Зеленоград (отдел продаж)
					.phones__item-inner
						.phones__number <a href="tel:+78124139889">+7 812 413-98-89</a>
						.phones__title.
							<svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location-pin"></use></svg>
							Отдел продаж (СПб)
					.phones__item-inner
						.phones__number <a href="tel:88007007965">8 800 700-79-65</a>
						.phones__title.
							<svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location-pin"></use></svg>
							Брянск (отдел продаж)
					.phones__item-inner
						.phones__number <a href="tel:+78142330560">+7 (8142) 330-560</a>
						.phones__title.
							<svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location-pin"></use></svg>
							Отдел продаж (ПТЗ)
				button.phones__button-select(data-toggle='regions')
				.phones__regions.animate__animated.animate__fadeInUp(data-toggle-target='regions')
					ul
						li Москва
						li Зеленоград
						li Санкт-Петербург
						li Брянск
						li Петрозаводск
		else
			.phones__item.phones__item--regions
				.phones__number
					a(href="tel:+74959895311" data-tippy-touch="false" data-tippy-content="<div class='phones__qr-code'><svg xmlns='http://www.w3.org/2000/svg' width='94' height='94' viewBox='0 0 475 475'><path d='M159,0H0v158h159V0ZM136,136H23V23h113v113ZM0,475h159v-158H0v158ZM23,339h113v114H23v-114ZM317,158h158V0h-158v158ZM340,23h113v113h-113V23ZM340,453c-.02612,7.31824.01917,14.68176,0,22h-159v-22h23v-23h-23v-21.5l1.5-1.5h21.5v-22h-21.5l-1.5-1.5v-21.5h23v-22h22v22c7.65137.02374,15.34863-.03247,23,0-.03491,7.65021-.03436,15.34973,0,23-7.65137.03241-15.34863-.0238-23,0v45h23v23h23c.03033-15.31702-.04083-30.68304,0-46,7.31854.03058,14.68134-.01129,22,0,.01605,3.82709.01099,7.66473.00378,11.5025s-.01648,7.67554-.00897,11.50269c3.82635.01935,7.66455.00201,11.50275-.01221,3.83813-.01416,7.67633-.02515,11.50244.00702.01599,3.82709.01093,7.66473.00378,11.5025s-.01642,7.67554-.00897,11.50269c7.65308.02325,15.35229-.0484,23.00519-.00519ZM272,362c-.03345-7.31818.02448-14.68188,0-22h-23c-.02448,7.31812.03345,14.68182,0,22,7.65179.03241,15.34827-.03442,23,0ZM317,407c-.01862-7.3183-.02026-14.68176,0-22-7.64941.08368-15.34949-.02319-23,0,.03064,7.3186-.03058,14.68134,0,22,7.65137.01178,15.34882.03241,23,0ZM331.66406,385.39691c1.33398-.0036,2.59912-.04181,3.73914-.13434.75995-.06171,1.46429-.14752,2.09625-.26318,1.12018-.20502,1.87091-.50842,2.50055-1.49939v-43.5h-23c-.03082,14.9837.04156,30.01636,0,45,3.59747-.03937,8.7309.33173,13.30933.38965.45789.0058.9101.00842,1.35474.00726ZM272,385c7.31879-.01917,14.68127.02216,22,0-.03198-7.65411.0202-15.35095.00519-23.00519-7.32104-.01575-14.68427.03809-22.00519.00519.03497,7.65167-.02039,15.34814,0,23ZM272,385c-7.65186.01996-15.34821-.03247-23,0,.0329,7.32086-.02087,14.68414-.00519,22.00519,7.65424.01501,15.35107-.03723,23.00519-.00519.01953-7.3183.01953-14.68176,0-22ZM453,407c.02661,7.65143-.01947,15.34857,0,23h-91v-23h23v-22h-45v22c-7.65137.02374-15.34863-.03247-23,0,.01953,7.65186-.03186,15.34821,0,23,7.65234.06433,15.35254-.04388,23.00519-.00519-.0285,7.65436.02216,15.35089-.00519,23.00519,7.31799.04132,14.68201-.03027,22,0v22h45v-22h46v22h22v-68c-7.31799-.03082-14.68201.04205-22,0ZM453,385h-23v22c7.65125.03223,15.34888-.04395,23,0-.02539-7.3183.01862-14.68182,0-22ZM317,294c.04138-7.31799-.03027-14.68201,0-22h23v22c-7.65106.03864-15.349-.05273-23,0ZM204,204c14.98383.01764,30.01617-.0238,45,0,.10028-22.651-.07043-45.35382-.00519-68.00519,7.65442.0285,15.35095-.02216,23.00519.00519-.02655-7.65149.01947-15.34857,0-23h22v-22h-22v-44.5l-1.5-1.5h-21.5v23h-22v22h22v23h-22v68h-23v23ZM317,249v-23h-21.5c-.99097.62964-1.29437,1.38037-1.49939,2.50055-.17334.94684-.27954,2.05707-.3382,3.27417-.03906.81134-.05707,1.67023-.05957,2.55975-.00635,2.22375.08362,4.63928.17981,6.98395.03845.93787.07788,1.86438.11261,2.76282.01733.44922.03351.89142.04773,1.32446.0285.86615.04932,1.69568.0567,2.47198.00372.38812.00403.76294.00031,1.12231,7.65149.026,15.34857-.01904,23,0ZM272,339h22c.02765-3.65863.00873-7.32935-.00757-11.00012-.00818-1.83533-.01569-3.67072-.01648-5.50452s.00519-3.66614.02405-5.49536c-7.31805.03058-14.68176.01178-22,0,.03241,7.31812-.02374,14.68188,0,22ZM317.00519,317.00519c.02325-7.65308-.0484-15.35229-.00519-23.00519-7.32385.05048-14.76599-.41364-22.06354.43646-.5293.36847-.81567,2.36456-.96039,5.04297-.0434.80353-.0741,1.66852-.09473,2.56934s-.03125,1.83752-.03461,2.78461c-.0022.63141-.00122,1.2674.0022,1.90045.00684,1.26611.02344,2.52039.04327,3.70233.00989.591.02063,1.16388.03131,1.71118.01074.54724.02142,1.06891.03131,1.55731.00989.48846.01898.94366.02643,1.35815.01489.82892.02332,1.49481.01874,1.93719,7.65411-.03204,15.35095.0202,23.00519.00519ZM294,204v-23h-22c-.02295,7.65137.03131,15.34857,0,23,7.31818-.03345,14.68188.02448,22,0ZM272,158h22v-22c-7.31818-.01917-14.6817.02612-22,0,.02545,7.31824-.01862,14.68176,0,22ZM249,226h-45v23h-23v68h23v-23h22v-45h23v45h-22v23c14.98383.01788,30.01617-.02411,45,0-.06781-15.31665.05029-30.68323,0-46h22c.05554-7.31726-.07581-14.68311,0-22-7.32104-.0249-14.68402.01501-22.00519.00519.05469-14.98541-.05609-30.02002.00519-45.00519-7.65106.03497-15.34869.01215-23,0-.03241,7.31818.02374,14.68188,0,22ZM430,204c-.026-7.65149.01904-15.34857,0-23h23c.02386,7.65137-.03253,15.34857,0,23-7.65021-.03497-15.34973-.03497-23,0ZM453,204c.03113,7.31805.01166,14.68176,0,22,7.3183-.02612,14.68182.0191,22,0v-22c-7.31812-.02448-14.68182.03345-22,0ZM430,204c-7.31812.03345-14.68188-.02448-22,0v45h-23v23h-23v45h-22v22h45v-22h22v-44.5l1.5-1.5h44.5c.0177-14.98383-.0238-30.01617,0-45-7.65424.02734-15.35083-.02332-23.00519.00519-.00983-7.32117.03003-14.68414.00519-22.00519ZM453,317h-45v22h22v23h23v-23h22v-67h-22v45ZM362,226h23v-45h-23v23h-22v45h22v-23ZM23,249c-.03497-7.65173.01862-15.34814,0-23-5.75208.06073-15.44775-.92419-20.49945.00055-1.12018.20508-1.87091.50842-2.50055,1.49945v21.5c7.65143.02295,15.34857-.03131,23,0ZM23,271h21.5l1.5,1.5v21.5h45v-22h-23v-23c-14.98352-.04547-30.01654.06128-45,0,.03345,7.31818-.02448,14.68182,0,22ZM23,181H0v21.5c.47223.74329,1.01257,1.09967,1.72583,1.31799.23773.07275.49469.13019.77472.18146.61786.1131,1.31335.19788,2.0686.25977.75519.06189,1.57007.10083,2.42657.12201.85645.02124,1.75458.02478,2.67615.01599s1.86664-.02997,2.81714-.05823c3.80212-.11298,7.69135-.33899,10.51099-.33899-.03253-7.65143.02386-15.34863,0-23ZM68,226v-45h-22v21.5c-.15741.24774-.32245.45251-.49884.62354-.17645.17096-.36432.30823-.5675.4209-.20325.11273-.42169.20074-.65948.27356-.23773.07275-.49469.13019-.77472.18146-.61786.1131-1.31335.19788-2.0686.25977-2.26562.18561-5.0683.16449-7.91986.07977-3.80212-.11298-7.69128-.33899-10.51099-.33899.03113,7.3186-.01782,14.68127,0,22,14.98065-.15814,30.01843.11725,45,0ZM91,226v23h66.5c.99103-.62964,1.29437-1.38043,1.49945-2.50061.17334-.94678.27954-2.05707.3382-3.27417.03906-.8114.05701-1.67023.05951-2.55975.00635-2.22375-.08362-4.63922-.17975-6.98395-.03845-.93787-.07794-1.86438-.11261-2.76282-.0694-1.79681-.11969-3.4812-.1048-4.9187-22.64923.10028-45.35052-.07465-68,0ZM181,226v-22h-22c-.05548,7.3172.07581,14.68311,0,22,7.31812-.03241,14.68195.02374,22,0ZM113,294h46v-22h-46v22ZM226,91h-45v22h45v-22ZM157.5,204l1.5-1.5v-21.5h-23v23h21.5ZM23,272H0v22h23v-22ZM91,204v-23h22v23h-22ZM204,136h-23v22h23v-22ZM294,0h-22v23h22V0ZM249,0h-22v23h22V0ZM204,23h-23v22h23v-22ZM113,113H46V45h67v68ZM46,430h67v-68H46v68ZM362,46.5v66.5h68V45h-66.5l-1.5,1.5Z' fill='var(--color-primary)'/></svg><p><b>Наведите камеру<br>телефона на QR-код</b>чтобы набрать номер и связаться с нами</p></div>") +7 495 989-53-11
		.phones__item
			.phones__number
				a(href="tel:88007007965") 8 800 700-79-65
			if (regions === true)
				.phones__title Бесплатно по России