.phones {

	&__item {
		line-height: 1.2;
		text-align: center;

		.page-footer & + & {
			margin-top: 1em;
		}

		&--regions {
			display: flex;
			justify-content: center;
			position: relative;
		}

		.page-header &:last-child {
			display: none;
		}

		@media (min-width: $screen-lg) {
			.page-header &:last-child {
				display: block;
			}
		}
	}

	&__item-inner {
		display: none;
		position: relative;

		&.-is-active {
			display: block;
		}
	}

	&__button-select {
		align-items: flex-end;
		align-self: flex-start;
		background: none;
		border: none;
		cursor: pointer;
		display: flex;
		margin: 0;
		margin: .5em 0 0 .5em;
		padding: 0;
		transform: rotate(-45deg);
		transform-origin: 50% 50%;
		transition: var(--transition-time);

		&::before {
			background: var(--color-primary);
			border-radius: 1px 1px 0 0;
			content: '';
			display: block;
			height: .5em;
			width: 2px;
		}

		&::after {
			background: var(--color-primary);
			border-radius: 0 1px 1px 0;
			content: '';
			display: block;
			height: 2px;
			margin-left: -2px;
			width: .5em;
		}

		&.-is-active {
			transform: rotate(135deg);
		}
	}

	&__regions {
		background: var(--color-white);
		border-radius: 5px;
		box-shadow: 0px 12px 50px rgba(0, 0, 0, .2);
		color: var(--color-gray--dark);
		display: none;
		left: 0;
		min-width: 100%;
		overflow: hidden;
		padding: .75em 0;
		position: absolute;
		top: calc(100% + .5em);
		z-index: 5;

		&.-is-active {
			display: block;

		}

		&::before {
			border-bottom: .3em solid var(--color-white);
			border-left: .3em solid transparent;
			border-right: .3em solid transparent;
			content: '';
			display: block;
			position: absolute;
			right: .5em;
			top: -.3em;
		}

		& ul {
			font-size: var(--font-size--medium);
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: left;
		}

		& li {
			cursor: pointer;
			display: block;
			padding: .5em 1.5em;
			transition: var(--transition-time);

			&:hover,
			&.-is-active {
				background: var(--color-gray--lighten);
			}
		}
	}

	&__number {

		font-weight: 500;

		& a {
			color: var(--link-color);
			text-decoration-color: var(--link-color);

			&:hover {
				color: var(--link-color--hover);
				text-decoration-color: transparent;
			}
		}

		@media (max-width: $screen-md - 1) {
			.page-header & {
				--link-color: var(--color-white);
				--link-color--hover: var(--color-white);
			}
		}
	}

	&__qr-code {
		display: flex;
		align-items: center;
		gap: var(--grid-gutter);
		width: 322px;
		font-size: var(--font-size--small);
		text-align: left;

		& svg {
			width: 64px;
			height: 64px;
			flex-shrink: 0;

			@media (min-width: $screen-lg) {
				width: 94px;
				height: 94px;
			}
		}

		& p {
			margin: 0;
		}

		& b {
			display: block;
			font-size: var(--font-size--medium);
			margin-bottom: var(--offset--xxs);
		}
	}

	&__title {
		color: var(--color-gray--dark);
		font-size: 10px;
		font-weight: 700;
		margin-top: .5em;
		text-transform: uppercase;

		& svg {
			height: 8px;
			margin-right: .5em;
			width: 6px;
		}
	}

	@media (min-width: $screen-md) {
		&__number {
			font-size: var(--font-size--huge);
		}

		.page-footer & {
			display: flex;
		}

		&__item {

			.page-footer  & + & {
				margin-left: 2em;
				margin-top: 0;
			}
		}
	}
}