-
  let data = {
    "level": "1",
    "items": [
      {
        "title": "О компании",
        "dropdownBtn": true,
        "submenu": {
          "level": "2",
          "submenuWrap": true,
          "items": [
            { "title": "Онлайн-заявка" },
            { "title": "Контакты" },
            { "title": "Отзывы" },
            { "title": "Кейсы" },
            { "title": "Новости" },
            { "title": "Статьи и FAQ" },
            { "title": "Партнерская программа" }
          ]
        }
      },
      {
        "title": "SEO",
        "dropdownBtn": true,
        "submenu": {
          "level": "2",
          "submenuWrap": true,
          "items": [
            { "title": "Тариф «Старт»", },
            { "title": "Продвижение по трафику" },
            { "title": "Оплата за лиды" },
            { "title": "SEO 3.0" },
            { "title": "SEO-аудит" },
            { "title": "Все тарифы и услуги" },
            { "title": "SEO самостоятельно" }
          ]
        }
      },
      {
        "title": "Поддержка сайтов",
        "dropdownBtn": true,
        "submenu": {
          "level": "2",
          "submenuWrap": true,
          "items": [
            { "title": "Тарифы" },
            { "title": "Поддержка + SEO" },
            { "title": "Комплексная" },
            { "title": "Информационная" },
            { "title": "Техническая" },
            { "title": "Абонентская" },
            { "title": "Технический аудит" }
          ]
        }
      },
      {
        "title": "Контекстная реклама и SMM",
        "dropdownBtn": true,
        "submenu": {
          "level": "2",
          "submenuWrap": true,
          "items": [
            { "title": "Контекстная реклама" },
            { "title": "Аудит РК контекстной рекламы" },
            { "title": "SMM" },
            { "title": "Маркетплейсы" },
            { "title": "Таргетированная реклама" },
            { "title": "Видеореклама" },
            { "title": "Продвижение в Я.Дзен" }
          ]
        }
      },
      {
        "title": "Другие услуги",
        "dropdownBtn": true,
        "submenu": {
          "level": "2",
          "submenuWrap": true,
          "items": [
            { "title": "Performance-маркетинг" },
            { "title": "Создание сайтов" },
            { "title": "Брендинг" },
            { "title": "Мобильные приложения" },
            { "title": "Аудиты" },
            { "title": "Интеграция с 1С" },
            { "title": "Интеграция с CRM" }
          ]
        }
      }
    ]
  };

+menu(data, 'footer-menu')