.reviews.reviews--type2(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": true, "groupCells": true, "lazyLoad": true, "watchCSS": false, "fade": true }')
	.reviews__item
		.reviews__detail
			a(href="blocks/reviews/images/review.jpg" data-fancybox)
				span.reviews__link
					svg
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-notepad")
					| Полный текст отзыва
				img(src="blocks/reviews/images/review.jpg" alt="").reviews__image
		.reviews__info
			.reviews__title Печорин С.А.
			p.reviews__post Директор интернет-магазина Линзмастер
			p.reviews__text «Настоящим письмом выражаем благодарность компании «Пиксель Плюс» за успешное внедрение и настройку корпоративного портала 1С-Битрикс на сервере компании «Линзмастер». Мы продолжаем сотрудничать с «Пиксель Плюс» и готовы рекомендовать их как надежного и опытного парнтера для любых проектов в области интернет-технологий».
	.reviews__item
		.reviews__detail
			a(href="blocks/reviews/images/review.jpg" data-fancybox)
				span.reviews__link
					svg
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-notepad")
					| Полный текст отзыва
				img(src="blocks/reviews/images/review.jpg" alt="").reviews__image
		.reviews__info
			.reviews__title Сабатовский В.С.
			p.reviews__post Генеральный директор «Хохлов Сабатовский»
			p.reviews__text «Выражаем огромную благодарность сотрудникам компании «Пиксель Плюс» за высокое качество проделанной работы, оперативность, своевременную помощь и индивидуальный подход в решении вопросов по внедрению CRM-системы Битрикс24 и настройки приема и обработки лидов с сайта и из коллтрекинга».