.recommend__subtitle Более <a href="/studio/reviews/">150 рекомендательных писем и&nbsp;отзывов</a> о&nbsp;нашей работе.
.recommend.js-recommend

  .recommend__item
    .recommend__info
      .recommend__description
        p.fw-b Компания «Roxe&#8209;такси»
        p.wow Компания «Roxe&#8209;такси» благодарит специалистов интернет-агентства «Пиксель Плюс». Сотрудничаем уже более года, высоко ценим профессионализм и&nbsp;слаженную работу команды. Когда мы только подписали договор...
    .recommend__image
      a.fancybox(href="/img/pixelplus-_-otzyv-Roxe_taksi_page_0001.webp" data-fancybox="" rel="reviews")
        img(src="/img/pixelplus-_-otzyv-Roxe_taksi_page_0001.webp" alt="")

  .recommend__item
    .recommend__info
      .recommend__description
        p.fw-b База отдыха «Istra Cottage»
        p Для продвижения своих услуг в&nbsp;сети мы уже более двух лет сотрудничаем с&nbsp;интернет-агентством «Пиксель Плюс». Ребята настоящие профессионалы своего дела! За данный период специалистам агентства удалось кратно увеличить видимость сайта по...
    .recommend__image
      a.fancybox(href="/img/istra_cottage.ru.ru-_-otzyv_page_0001.webp" data-fancybox="" rel="reviews")
        img(src="/img/istra_cottage.ru.ru-_-otzyv_page_0001.webp" alt="")

  .recommend__item
    .recommend__info
      .recommend__description
        p.fw-b Компания «Московское долголетие»
        p Сервис «Московское Долголетие»&nbsp;— актуализированная база для поиска и&nbsp;сравнения профильных учреждений для реабилитации, постоянного или временного проживания, отдыха престарелых людей в&nbsp;Москве и&nbsp;области.<br><br>
          | Мы&nbsp;обратились в&nbsp;Департамент SEO и&nbsp;рекламы «Пиксель Плюс» для...</p>
    .recommend__image
      a.fancybox(href="/img/mos_dolgoletie.ru-_-otzyv-_1_page_0001.webp" data-fancybox="" rel="reviews")
        img(src="/img/mos_dolgoletie.ru-_-otzyv-_1_page_0001.webp" alt="")

  .recommend__item
    .recommend__info
      .recommend__description
        p.fw-b Компания «Технорезка»
        p С интернет-агентством «Пиксель Плюс» знакомы уже несколько лет. Результатами работы всегда оставались довольны. При открытии нового бизнеса было необходимо создать отдельный сайт. Специалисты компании проанализировали спрос и&nbsp;спроектировали структуру будущего сайта, разработали и&nbsp;сразу начали его продвижение. Удобно, что...
    .recommend__image
      a.fancybox(href="/img/dlya-piksel.webp" data-fancybox="" rel="reviews")
        img(src="/img/dlya-piksel.webp" alt="")

  .recommend__item
    .recommend__info
      .recommend__description
        p.fw-b Компания «Эксподинамика»
        p Компания «ЭКСПОДИНАМИКА» благодарит компанию «Пиксель Плюс» за&nbsp;эффективную работу по&nbsp;продвижению нашего сайта!
          | За&nbsp;время сотрудничества наших компаний поисковый трафик увеличился в&nbsp;несколько раз, целевые для нас поисковые запросы занимают ТОП&#8209;10 в&nbsp;Яндексе и&nbsp;Google, а&nbsp;сам сайт...
    .recommend__image
      a(href="/img/SKMBT_C22420061615010-_1_page_0001.webp" data-fancybox="" rel="reviews").fancybox
        img(src="/img/SKMBT_C22420061615010-_1_page_0001.webp" alt="")
