.recommend {
	text-align: left;
  padding-bottom: 0;
  position: relative;
  &__item {
    outline: none;
    display: flex;
    justify-content: space-between;
  }
  &__title.h2 {
    line-height: 1.15;
  }
}

@media screen and (max-width: $screen-lg) {
  .hide-mob {
    display: none;
  }
  .recommend {
    margin-bottom: 20px;
    &__info {
      display: none;
    }
    &__item {
      margin: 0 10px;
    }
    &__subtitle {
      margin-bottom: 24px;
    }
  }
}

@media screen and (min-width: $screen-lg + 1) {
  .hide-lg {
    display: none;  
  }
  .recommend {
    position: relative;
    top: -100px; 
    &__title {
      margin-bottom: 18px;
      max-width: 50%;
    }
    &__subtitle {
      font-size: 18px;
      line-height: 26px;
      color: var(--color-gray--darker);
      max-width: 50%;
      position: relative;
      z-index: 1;
    }
    &__info {
      text-align: left;
      flex: 0 0 50%;
      max-width: 50%;
      padding-top: 180px;
    }
    &__title.h2 {
      text-align: left;
    }
    &__image {
      display: block;
      flex: 0 0 auto;
      width: 350px;
      img {
        max-width: 100%;
      }
    }
    &__description .fw-b {
      font-size: 22px;
      font-weight: 500!important;
    }
    &__description p:last-child {
      padding-bottom: 50px;
      font-size: 16px;
      line-height: 26px;
    }
  }
}