.recommend {
	text-align: left;
  padding-bottom: 0;
  position: relative;
  &__item {
    outline: none;
  }
  &__title.h2 {
    line-height: 1.15;
  }
}

@media screen and (max-width: $screen-lg) {
  .hide-mob {
    display: none;
  }
  .recommend {
    margin-left: -10px;
    width: calc(100% + 20px);  
    margin-bottom: 20px;
    &__info {
      display: none;
    }
    &__item {
      margin: 0 10px;
    }
    &__subtitle {
      margin-bottom: 24px;
    }
  }
}

@media screen and (min-width: $screen-lg + 1) {
  .hide-lg {
    display: none;  
  }
  .recommend {
    position: relative;
    top: -100px;
    &.slick-initialized:after {
      content: none;
    }
    &__item.slick-slide {
      display: flex;
      justify-content: space-between;
      padding: 0 0px;
    }    
    &__title {
      margin-bottom: 18px;
      max-width: 50%;
    }
    &__subtitle {
      font-size: 18px;
      line-height: 26px;
      color: var(--color-gray--darker);
      max-width: 50%;
      position: relative;
      z-index: 1;
    }
    &__info {
      text-align: left;
      flex: 0 0 50%;
      max-width: 50%;
      padding-top: 180px;
    }
    &__title.h2 {
      text-align: left;
    }
    &__image {
      display: block;
      flex: 0 0 auto;
      width: 350px;
      img {
        max-width: 100%;
      }
    }
    &__description .fw-b {
      font-size: 22px;
      font-weight: 500!important;
    }
    &__description p:last-child {
      padding-bottom: 50px;
      font-size: 16px;
      line-height: 26px;
    }
    .slick-arrow {
      border: none;
      cursor: pointer;
      position: absolute;
      top: 250px;
      background-color: transparent;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=utf-8,<svg width='20' height='31' viewBox='0 0 20 31' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M19.2417 15.6778L2.78767 30.5571C2.47755 30.8376 1.50451 31.395 0.577785 30.5571C-0.44354 29.6338 0.278503 28.741 0.577777 28.4704L14.724 15.6778L0.577777 2.88514C0.314611 2.64698 -0.57906 1.84393 0.577777 0.798176C1.5187 -0.0523952 2.47775 0.517897 2.78767 0.798176L19.2417 15.6778Z' fill='rgb(199,207,214)'/></svg>");
      font-size: 0;
      width: 20px;
      height: 31px;
      outline: none;
      color: var(--color-black);
      z-index: 5;
    }
    .slick-arrow::before {
      display: none;
    }
    .slick-prev {
      left: calc(50% + 158px);
      transform: scale(-1, -1);
    }
    .slick-next {
      right: -50px;
      transform: none;
    }
  }
}