.media-container
	div(itemscope itemid="" itemtype="http://schema.org/VideoObject")
		div(class="yt-video")
			link(itemprop="url" href="https://www.youtube.com/watch?v=qPHZ0FUaYZM")
			meta(itemprop="name" content="Продвижение сайтов (SEO) и рост прибыли бизнеса от «Пиксель Плюс»")
			meta(itemprop="description" content="Нет времени разбираться? За 1 минуту и 22 секунды Дмитрий Севальнев расскажет, как работает канал SEO и как, с помощью команды «Пиксель Плюс», вам получится повысить его эффективность.")
			link(itemprop="thumbnailUrl" href="https://i.ytimg.com/vi/qPHZ0FUaYZM/maxresdefault.jpg")
			span(itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject")
				link(itemprop="contentUrl" href="https://i.ytimg.com/vi/qPHZ0FUaYZM/maxresdefault.jpg")
				meta(itemprop="width" content="750")
				meta(itemprop="height" content="420")
			link(itemprop="embedUrl" href="https://www.youtube.com/watch?v=qPHZ0FUaYZM")
			meta(itemprop="isFamilyFriendly" content="True")
			meta(itemprop="datePublished uploadDate" content="2019-05-06T11:15:42.000Z")
			meta(itemprop="duration" content="PT0H1M22S")

			a(class="yt-video__link" href="https://www.youtube.com/embed/qPHZ0FUaYZM")
				picture
				source(srcset="https://i.ytimg.com/vi_webp/qPHZ0FUaYZM/maxresdefault.webp" type="image/webp")
				img(class="yt-video__media" src="https://i.ytimg.com/vi/qPHZ0FUaYZM/maxresdefault.jpg" alt="")