.gallery {
	$block-name: &; // #{$block-name}__element

	&:not(:first-child) {
		margin-top: var(--blocks-margin-vertical);
	}

	&:not(:last-child) {
		margin-bottom: var(--blocks-margin-vertical);
	}

	&--center {
		justify-content: center;
	}

	& img {
		display: block;
	}

	&__item {
		border: 1px solid var(--color-gray--lighten);
		margin-right: var(--grid-gutter-x);
		width: 100%;
		display: flex;
		align-items: center;
		background-color: var(--color-gray--lighter);

		@media (min-width: $screen-sm) {
			margin-right: var(--grid-gutter-x);
			width: calc(50% - var(--grid-gutter-x) / 2);
		}
	}

	&__link {
		display: flex;
		position: relative;
		transition: var(--transition-time);
		align-self: stretch;
		align-items: center;
	}

	@media (min-width: $screen-lg) {
		display: flex;
		flex: 1 1 auto;
		flex-wrap: wrap;
		gap: var(--grid-gutter-y) var(--grid-gutter-x);

		&__item {
			margin: 0;
			max-width: calc(50% - var(--grid-gutter-x) / 2);
			max-width: calc(33.33333% - var(--grid-gutter-x) * 2 / 3);
			min-height: auto;
			width: auto;
		}


		&__link {
			&:hover {
				box-shadow: var(--shadow);
			}
		}
	}
}