.tariffs-group
	.tariffs-group__info
		.tariffs-group__icon
			svg(with="55" height="55" viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg")
				path(d="M41,12.4H32M49.63,4.73H44.51V3.22a3.23,3.23,0,0,0-6.45,0V4.73H20V3.22a3.23,3.23,0,0,0-6.45,0V4.77a.92.92,0,0,0-.29,0H9A5.38,5.38,0,0,0,3.63,10.1V28.4a1.08,1.08,0,0,0,2.15,0V15.79H44.51a1.08,1.08,0,0,0,0-2.15H5.78V10.1A3.22,3.22,0,0,1,9,6.88h4.28a1.35,1.35,0,0,0,.29,0V8.22a3.23,3.23,0,0,0,6.45,0V6.88h18V8.22a3.23,3.23,0,0,0,6.45,0V6.88h5.12a3.22,3.22,0,0,1,3.22,3.22V50.92a1.94,1.94,0,0,1-3.87,0V48.14a1.08,1.08,0,0,0-1.07-1.08H35.41a1.08,1.08,0,0,0,0,2.15H46.83v1.71a4,4,0,0,0,.49,1.93H4.08a1.94,1.94,0,0,1-1.93-1.93V49.21h24a1.08,1.08,0,1,0,0-2.15H15.46A8.81,8.81,0,1,0,.91,40.39,8.76,8.76,0,0,0,4,47.06H1.07A1.08,1.08,0,0,0,0,48.14v2.78A4.08,4.08,0,0,0,4.08,55H50.92A4.08,4.08,0,0,0,55,50.92V10.1A5.38,5.38,0,0,0,49.63,4.73ZM17.87,8.22a1.08,1.08,0,0,1-2.15,0v-5a1.08,1.08,0,0,1,2.15,0Zm24.49,0a1.08,1.08,0,0,1-2.15,0v-5a1.08,1.08,0,0,1,2.15,0ZM3.06,40.39a6.66,6.66,0,1,1,6.66,6.66A6.67,6.67,0,0,1,3.06,40.39ZM50.31,14a1.09,1.09,0,0,0-.76-.32,1.09,1.09,0,0,0-1.08,1.08,1.09,1.09,0,0,0,.32.76,1.07,1.07,0,0,0,.76.31,1.06,1.06,0,0,0,1.07-1.07A1.07,1.07,0,0,0,50.31,14ZM32.08,47.38a1.06,1.06,0,1,0,.32.76A1.09,1.09,0,0,0,32.08,47.38ZM24.3,32.66a4.08,4.08,0,1,0,4.09,4.08A4.08,4.08,0,0,0,24.3,32.66Zm0,6a1.94,1.94,0,1,1,1.94-1.93A1.94,1.94,0,0,1,24.3,38.67Zm10-6a4.08,4.08,0,1,0,4.08,4.08A4.08,4.08,0,0,0,34.33,32.66Zm0,6a1.94,1.94,0,1,1,1.93-1.93A1.93,1.93,0,0,1,34.33,38.67Zm10-6a4.08,4.08,0,1,0,4.08,4.08A4.09,4.09,0,0,0,44.36,32.66Zm0,6a1.94,1.94,0,1,1,1.93-1.93A1.94,1.94,0,0,1,44.36,38.67ZM14.28,21.48a4.09,4.09,0,1,0,4.08,4.09A4.09,4.09,0,0,0,14.28,21.48Zm0,6a1.94,1.94,0,1,1,1.93-1.93A1.94,1.94,0,0,1,14.28,27.5Zm20-6a4.09,4.09,0,1,0,4.08,4.09A4.09,4.09,0,0,0,34.33,21.48Zm0,6a1.94,1.94,0,1,1,1.93-1.93A1.93,1.93,0,0,1,34.33,27.5Zm10-6a4.09,4.09,0,1,0,4.08,4.09A4.09,4.09,0,0,0,44.36,21.48Zm0,6a1.94,1.94,0,1,1,1.93-1.93A1.94,1.94,0,0,1,44.36,27.5Zm-20.06-6a4.09,4.09,0,1,0,4.09,4.09A4.09,4.09,0,0,0,24.3,21.48Zm0,6a1.94,1.94,0,1,1,1.94-1.93A1.94,1.94,0,0,1,24.3,27.5ZM13.55,37.77a1.07,1.07,0,0,0-1.52,0l-3.5,3.5-1.2-1.19a1.07,1.07,0,0,0-1.52,0,1.06,1.06,0,0,0,0,1.51l2,2a1.07,1.07,0,0,0,.76.31,1.08,1.08,0,0,0,.76-.31l4.26-4.26A1.07,1.07,0,0,0,13.55,37.77Z")
		.tariffs-group__title Абонемент

		.tariffs-group__description
			p Идеальный вариант для постоянного обслуживания и контроля за сайтом с регулярным потоком задач
			p
				a(href="#") Подробнее
			ul.list.list--checked-figure
				li Ежемесячная абонентская плата
				li Ежемесячно доступно от 6 часов работы любых специалистов поддержки
				li Возможность заказать любое количество дополнительных часов сверх лимита
				li Не израсходованные часы по абонементу переносятся на следующий месяц

	.tariffs-group__table
		include ../../blocks/table/index2