.tariffs-group {
	$block-name: &; // #{$block-name}__element

	background-color: var(--color-white);
	border-radius: .625em;
	display: flex;
	gap: calc(var(--grid-gutter-y) * 2) calc(var(--grid-gutter-x) * 2);
	padding: 2.5em;
	flex-direction: column;

	&:not(:first-child) {
		margin-top: var(--blocks-margin-vertical);
	}

	&:not(:last-child) {
		margin-bottom: var(--blocks-margin-vertical);
	}

	&__info {
	}

	&__icon {
		position: relative;
		margin-bottom: 1em;

		& svg {
			display: block;
			fill: var(--color-primary);
			margin: 0 0 0 1.2em;
			max-height: 55px;
			width: auto;
			display: block;
			position: relative;
			z-index: 1;
		}

		&::before {
			background: var(--color-gray--lighten);
			border-radius: 50%;
			content: "";
			display: block;
			height: 55px;
			left: 0;
			position: absolute;
			top: 0;
			width: 55px;
		}
	}

	&__title {
		font-size: var(--font-size-h3);
		font-weight: 500;
	}

	&__description {
		color: var(--color-gray--dark);
	}

	&__table {

		& .table th,
		& .table td {
			--color-border: var(--color-gray--lighten);
			--color-background: var(--color-gray--lighter);
			--color-background-thead: var(--color-gray--lighten);
		}
	}

	@media (min-width: $screen-lg) {
		flex-direction: row;
		&__info {
			--width: calc(35% - var(--grid-gutter-y) * 2 / 2);
			flex: 0 0 var(--width);
			max-width: var(--width);
		}

		&__table {
			--width: calc(65% - var(--grid-gutter-y) * 2 / 2);
			flex: 0 0 var(--width);
			max-width: var(--width);
		}
	}
}