.address
  ul.address__cities
    li.address__cities-item Москва
    li.address__cities-item Зеленоград
    li.address__cities-item Санкт-Петербург
  ul.address__address
    li.address__address-item
      | <svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location-pin"></use></svg>
      a(href="/contact/#moscow") ул. Орджоникидзе, дом 11, стр. 10
    li.address__address-item
      | <svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location-pin"></use></svg>
      a(href="/contact/#zelenograd") проезд 4922, дом 4, стр. 5
    li.address__address-item
      | <svg class="svg-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location-pin"></use></svg>
      a(href="/contact/#zelenograd") просп. Медиков, дом 3а, корп. 2