.header-phones
  .header-phones__item
    a.header-phones__link(href="tel:+74959895311") +7 495 989-53-11
      button.header-phones__button
  .header-phones__dropdown
    include ../header-regions/index
  .header-phones__item: a(href="tel:88007007965") 8 800 700-79-65