.field-text {
	$block-name: &; // #{$block-name}__element

	&__name {
		display: block;
		margin-bottom: .5em;
	}

	&__input-wrap {
	}

	&__input {
		background: var(--color-white);
		border: 1px solid var(--field-text-border-color, var(--color-white));
		border-radius: .4em;
		color: var(--field-text-color, var(--color-gray--dark));
		font-size: inherit;
		max-width: 100%;
		outline: none;
		padding: 1rem;
		vertical-align: middle;
		width: 100%;
		box-sizing: border-box;

		&.moving-placeholder__input {
			padding: 1.25rem 1rem .75rem 1rem;
		}

		& + .moving-placeholder__name {
			color: var(--color-gray--light);
			left: 1rem;
		}

		//[class*=--fields-transparent] &,
		//.main-slider & {
		@at-root
		#{$block-name}--transparent & {
			background-color: transparent;
			border: none;
			border-bottom: 1px solid var(--field-text-border-color, var(--color-white));
			border-radius: 0;
			color: var(--field-text-color, var(--color-white));
		}

		//[class*=--fields-transparent] & + .moving-placeholder__name,
		//.main-slider & + .moving-placeholder__name {
		@at-root
		#{$block-name}--transparent & + .moving-placeholder__name {
			color: inherit;
		}

		#{$block-name}--gray &,
		[class*=-bg-gray] & {
			--field-text-border-color: var(--color-gray--light);
			--field-text-color: var(--text-color);
		}
	}

	&__help-text {
		@include field-help-text;
	}

	&--error {

		#{$block-name}__name,
		#{$block-name}__input,
		#{$block-name}__help-text {
			color: var(--color-danger);
		}

		#{$block-name}__input {
			border-color: var(--color-danger);
		}
	}
}