include ../blocks/page-header/index
include ../blocks/page-nav/index
include ../blocks/page-footer/index
include ../blocks/phones/index

include mixins/menu-multilevel
include mixins/burger
include mixins/tooltip


include ../blocks/tag/index
include ../blocks/case-small/index
include ../blocks/timing/index
include ../blocks/icon/index
include ../blocks/text-icon/index
include ../blocks/competence/index
include ../blocks/employee-item/index
include ../blocks/employee-wide/index
include ../blocks/field-range/index
include ../blocks/achievements-wide/index