-
  let cardsPositive = [
    {
      'icon': '<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.59961 3.73333V13.0667H7.46628V3.73333C7.46628 2.70223 8.30184 1.86667 9.33294 1.86667H46.6663C47.6974 1.86667 48.5329 2.70223 48.5329 3.73333H50.3996C50.3996 1.6716 48.728 0 46.6663 0H9.33294C7.27121 0 5.59961 1.6716 5.59961 3.73333Z" fill="#A6A6A6"/><path d="M3.73333 56H46.6667C48.7284 56 50.4 54.3284 50.4 52.2667V48.5334H48.5333V52.2667C48.5333 53.2978 47.6978 54.1334 46.6667 54.1334C45.6356 54.1334 44.8 53.2978 44.8 52.2667V49.4667C44.8 48.951 44.3823 48.5334 43.8667 48.5334H7.46667V29.8667H5.6V48.5334H0.933333C0.417667 48.5334 0 48.951 0 49.4667V52.2667C0 54.3284 1.6716 56 3.73333 56ZM1.86667 50.4H42.9333V52.2667C42.9329 52.9226 43.1051 53.5664 43.4348 54.1334H3.73333C2.70223 54.1334 1.86667 53.2978 1.86667 52.2667V50.4Z" fill="#A6A6A6"/><path d="M0.933333 28H19.6C20.1157 28 20.5333 27.5823 20.5333 27.0667V15.8667C20.5333 15.351 20.1157 14.9333 19.6 14.9333H0.933333C0.417667 14.9333 0 15.351 0 15.8667V27.0667C0 27.5823 0.417667 28 0.933333 28ZM1.86667 16.8H18.6667V26.1333H1.86667V16.8Z" fill="#A6A6A6"/><path d="M5.87324 18.9402L4.00657 20.8069C3.64234 21.1716 3.64234 21.7619 4.00657 22.1266L5.87324 23.9933L7.19297 22.6735L5.98617 21.4667L7.19297 20.2599L5.87324 18.9402Z" fill="#A6A6A6"/><path d="M14.6596 18.9402L13.3398 20.2599L14.5466 21.4667L13.3398 22.6735L14.6596 23.9933L16.5262 22.1266C16.8905 21.7619 16.8905 21.1716 16.5262 20.8069L14.6596 18.9402Z" fill="#A6A6A6"/><path d="M8.44727 23.9715L10.3149 18.3708L12.0863 18.9616L10.2178 24.5619L8.44727 23.9715Z" fill="#A6A6A6"/><path d="M55.0671 5.6001H23.3337C22.8181 5.6001 22.4004 6.01776 22.4004 6.53343V25.2001C22.4004 25.7158 22.8181 26.1334 23.3337 26.1334H55.0671C55.5827 26.1334 56.0004 25.7158 56.0004 25.2001V6.53343C56.0004 6.01776 55.5827 5.6001 55.0671 5.6001ZM54.1337 24.2668H24.2671V21.995L32.6484 16.9662L40.8195 22.2508C41.1002 22.4316 41.4565 22.4491 41.7528 22.2956L48.5099 18.7956L54.1337 22.0081V24.2668ZM54.1337 19.8586L49.0004 16.9233C48.7255 16.7656 48.3893 16.7593 48.1079 16.9046L41.3816 20.389L33.1776 15.0828C32.8785 14.8896 32.4953 14.8833 32.1899 15.0669L24.2671 19.8185V7.46676H54.1337V19.8586Z" fill="#A6A6A6"/><path d="M44.3331 15.8666C46.1372 15.8666 47.5997 14.4041 47.5997 12.5999C47.5997 10.7958 46.1372 9.33325 44.3331 9.33325C42.5289 9.33325 41.0664 10.7958 41.0664 12.5999C41.0664 14.4041 42.5289 15.8666 44.3331 15.8666ZM44.3331 11.1999C45.1063 11.1999 45.7331 11.8267 45.7331 12.5999C45.7331 13.3732 45.1063 13.9999 44.3331 13.9999C43.5598 13.9999 42.9331 13.3732 42.9331 12.5999C42.9331 11.8267 43.5598 11.1999 44.3331 11.1999Z" fill="#A6A6A6"/><path d="M9.33301 30.8V42C9.33301 42.5157 9.75067 42.9334 10.2663 42.9334H33.5997C34.1153 42.9334 34.533 42.5157 34.533 42V30.8C34.533 30.2844 34.1153 29.8667 33.5997 29.8667H10.2663C9.75067 29.8667 9.33301 30.2844 9.33301 30.8ZM11.1997 31.7334H32.6663V41.0667H11.1997V31.7334Z" fill="#A6A6A6"/><path d="M13.0664 33.6001H16.7997V35.4668H13.0664V33.6001Z" fill="#A6A6A6"/><path d="M18.667 33.6001H27.067V35.4668H18.667V33.6001Z" fill="#A6A6A6"/><path d="M28.9336 33.6001H30.8003V35.4668H28.9336V33.6001Z" fill="#A6A6A6"/><path d="M13.0664 37.3333H24.2664V39.1999H13.0664V37.3333Z" fill="#A6A6A6"/><path d="M26.1328 37.3333H30.7995V39.1999H26.1328V37.3333Z" fill="#A6A6A6"/><path d="M9.33301 3.7334H11.1997V5.60007H9.33301V3.7334Z" fill="#A6A6A6"/><path d="M13.0664 3.7334H14.9331V5.60007H13.0664V3.7334Z" fill="#A6A6A6"/><path d="M16.7998 3.7334H18.6665V5.60007H16.7998V3.7334Z" fill="#A6A6A6"/><path d="M9.33301 7.4668H20.533V9.33346H9.33301V7.4668Z" fill="#A6A6A6"/><path d="M55.0671 33.6001H37.3337C36.8181 33.6001 36.4004 34.0178 36.4004 34.5334V45.7334C36.4004 46.2491 36.8181 46.6668 37.3337 46.6668H55.0671C55.5827 46.6668 56.0004 46.2491 56.0004 45.7334V34.5334C56.0004 34.0178 55.5827 33.6001 55.0671 33.6001ZM54.1337 44.8001H38.2671V35.4668H54.1337V44.8001Z" fill="#A6A6A6"/><path d="M40.1328 37.3333H41.9995V39.1999H40.1328V37.3333Z" fill="#A6A6A6"/><path d="M40.1328 41.0667H41.9995V42.9333H40.1328V41.0667Z" fill="#A6A6A6"/><path d="M43.8672 37.3333H52.2672V39.1999H43.8672V37.3333Z" fill="#A6A6A6"/><path d="M43.8672 41.0667H52.2672V42.9333H43.8672V41.0667Z" fill="#A6A6A6"/><path d="M48.5332 28H50.3999V31.7333H48.5332V28Z" fill="#A6A6A6"/></svg>',
      'title': 'KPI выбран в соответствии с целями бизнеса клиента и может меняться',
    },
    {
      'icon': '<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M55.7266 28.2735L49.1933 21.74C48.8288 21.3755 48.2378 21.3755 47.8736 21.74L29.8666 39.747L21.8531 31.733H23.8001C25.2167 33.5003 27.3588 34.5304 29.6242 34.5335C32.4923 34.534 35.1 32.8698 36.3067 30.268C36.4443 29.9793 36.4239 29.64 36.2536 29.3694C36.084 29.0984 35.7866 28.9342 35.467 28.933H30.7998V25.1998H35.467C35.7866 25.1991 36.084 25.0344 36.2536 24.7639C36.4239 24.4932 36.4443 24.154 36.3067 23.865C35.1 21.2634 32.4923 19.5991 29.6242 19.6C27.3588 19.6021 25.2164 20.6322 23.8001 22.4H19.9863L31.4601 10.9265C31.5691 10.8172 31.65 10.6825 31.694 10.5349L34.494 1.20113C34.5928 0.871953 34.5029 0.51587 34.2598 0.27349C34.0172 0.0306426 33.6609 -0.0594309 33.332 0.039533L23.9987 2.83907C23.8506 2.88328 23.7163 2.964 23.6071 3.07349L4.11795 22.5621C1.90494 23.8292 0.408788 26.0549 0.0718897 28.583C-0.265243 31.1102 0.595486 33.6505 2.3993 35.4522L20.5476 53.5998C22.0309 55.0885 24.0324 55.9448 26.1333 55.9892V56H30.7998C31.1122 56 31.4034 55.844 31.5763 55.5847C31.83 55.2357 32.2354 55.0295 32.6666 55.0295C33.098 55.0295 33.5037 55.2357 33.7571 55.5847C33.93 55.844 34.221 56 34.5333 56H37.3333C37.849 56 38.2666 55.5822 38.2666 55.0665V53.1998H47.485L51.1066 54.1047C51.2552 54.1424 51.4112 54.1424 51.5603 54.1047L55.2938 53.1717C55.7088 53.0676 56.0001 52.6947 56.0001 52.2665V48.533C56.0001 48.1051 55.7088 47.732 55.2938 47.6278L51.5603 46.6944C51.4112 46.656 51.2552 46.656 51.1066 46.6944L47.485 47.6H37.7201L55.7266 29.5935C56.0906 29.2285 56.0906 28.638 55.7266 28.2735ZM38.2666 49.4663H47.6001C47.6763 49.4663 47.7528 49.4569 47.8268 49.4382L51.3336 48.562L54.1333 49.262V51.5373L51.3336 52.2373L47.8268 51.3609C47.7528 51.3428 47.6763 51.333 47.6001 51.333H38.2666V49.4663ZM24.2666 24.2665C24.5717 24.2665 24.8571 24.1172 25.0321 23.8671C26.0793 22.3651 27.793 21.4695 29.6242 21.4667C31.2036 21.4637 32.7075 22.1443 33.7479 23.3335H30.7998C29.769 23.3335 28.9333 24.1689 28.9333 25.1998V28.933C28.9333 29.9641 29.769 30.8 30.7998 30.8H33.7479C32.7075 31.9887 31.2036 32.6698 29.6242 32.6665C27.793 32.6639 26.0793 31.7676 25.0321 30.2659C24.8571 30.0158 24.5717 29.8667 24.2666 29.8667H19.9863L18.1201 28H24.2666V26.1335H16.2531L14.3866 24.2665H24.2666ZM17.3471 22.4H13.4535L27.5336 8.31998L29.4805 10.2667L17.3471 22.4ZM32.2073 2.32459L31.6477 4.19157L30.3406 2.88469L32.2073 2.32459ZM28.3089 3.49555L31.038 6.22466L30.3548 8.50177L26.0318 4.1787L28.3089 3.49555ZM24.2666 5.053L26.2136 7L11.1804 22.0332C10.2294 21.6588 9.21587 21.4667 8.19348 21.4667C8.07323 21.4667 7.95578 21.4801 7.83623 21.4843L24.2666 5.053ZM26.3406 54.1335C24.662 54.1377 23.0509 53.4709 21.8671 52.2808L3.71928 34.133C1.24869 31.6621 1.24869 27.6563 3.71928 25.186C6.19034 22.7151 10.1957 22.7151 12.666 25.186L30.8141 43.3333C32.6231 45.143 33.1647 47.8639 32.1856 50.2278C31.2065 52.5917 28.8992 54.1335 26.3406 54.1335ZM36.4001 52.2665V54.1335H34.9804C34.3801 53.495 33.5425 53.1336 32.6666 53.1347C32.624 53.1347 32.5828 53.1457 32.5407 53.1476C32.8785 52.7548 33.1792 52.3311 33.4379 51.8821L36.4001 48.92V52.2665ZM34.5158 48.1601C34.5158 48.0405 34.5333 47.9231 34.5333 47.8021C34.5394 45.6282 33.6752 43.542 32.1341 42.0091L31.1866 41.0665L34.5333 37.7197L36.6736 39.8598L37.9933 38.5402L35.8531 36.4L37.3333 34.9198L38.5401 36.1263L39.8601 34.807L38.6531 33.6L40.1336 32.12L42.2733 34.26L43.5933 32.94L41.4528 30.8L42.9333 29.32L44.1401 30.5265L45.4598 29.2065L44.2531 28L45.7333 26.5198L47.8736 28.6598L49.1933 27.34L47.0531 25.1998L48.5336 23.7198L53.7471 28.933L34.5158 48.1601Z" fill="#A6A6A6"/><path d="M5.90499 28.4418L4.25957 27.5586C3.91401 28.2053 3.73363 28.9268 3.7334 29.6595H5.59991C5.59851 29.2342 5.70355 28.8156 5.90499 28.4418Z" fill="#A6A6A6"/><path d="M6.09239 31.1819L4.58594 32.2848C4.7235 32.4722 4.87511 32.649 5.03935 32.813L9.60619 37.3806L10.9262 36.0611L6.36027 31.4945C6.26341 31.3976 6.17357 31.2925 6.09239 31.1819Z" fill="#A6A6A6"/></svg>',
      'title': 'Отчетность включает все данные для оценки эффективности',
    },
    {
      'icon': '<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M54.1333 54.1333V51.3333V43.8667C54.1333 43.3512 53.7154 42.9333 53.2 42.9333H52.2667V40.1333C52.2667 39.6179 51.8488 39.2 51.3333 39.2H49.7187C52.8212 36.4835 53.1341 31.7662 50.4176 28.6637C47.7011 25.5612 42.9838 25.2482 39.8813 27.9648C36.7788 30.6812 36.4658 35.3985 39.1824 38.501C39.3996 38.7492 39.6332 38.9828 39.8813 39.2H38.2667C37.7512 39.2 37.3333 39.6179 37.3333 40.1333V43.8667C37.3333 44.3821 37.7512 44.8 38.2667 44.8H39.2V54.1333H35.4667V52.2667H36.4C36.9154 52.2667 37.3333 51.8488 37.3333 51.3333V47.6C37.3333 47.0846 36.9154 46.6667 36.4 46.6667H35.4667V40.1333C35.4667 39.6179 35.0488 39.2 34.5333 39.2H33.6V37.3333H34.5333C35.0488 37.3333 35.4667 36.9154 35.4667 36.4V32.6667C35.4667 32.1512 35.0488 31.7333 34.5333 31.7333H33.6V29.8667H34.5333C35.0488 29.8667 35.4667 29.4488 35.4667 28.9333V25.2C35.4667 24.6846 35.0488 24.2667 34.5333 24.2667H28.9333V20.5333H29.8667C35.5368 20.5333 40.1333 15.9368 40.1333 10.2667C40.1333 9.75123 39.7154 9.33333 39.2 9.33333H37.3333C33.9856 9.33858 30.8506 10.9756 28.9333 13.72V8.4H29.8667C33.9904 8.4 37.3333 5.05703 37.3333 0.933333C37.3333 0.4179 36.9154 0 36.4 0H34.5333C31.8145 0.00245 29.3118 1.4826 28 3.864C26.6882 1.4826 24.1856 0.00245 21.4667 0H19.6C19.0846 0 18.6667 0.4179 18.6667 0.933333C18.6667 5.05703 22.0096 8.4 26.1333 8.4H27.0667V13.72C25.1494 10.9756 22.0144 9.33858 18.6667 9.33333H16.8C16.2846 9.33333 15.8667 9.75123 15.8667 10.2667C15.8667 15.9368 20.4632 20.5333 26.1333 20.5333H27.0667V24.2667H21.4667C20.9512 24.2667 20.5333 24.6846 20.5333 25.2V28H19.6C19.0846 28 18.6667 28.4179 18.6667 28.9333V32.6667C18.6667 33.1821 19.0846 33.6 19.6 33.6H20.5333V35.4667H19.6C19.0846 35.4667 18.6667 35.8846 18.6667 36.4V40.1333C18.6667 40.6488 19.0846 41.0667 19.6 41.0667H20.5333V47.6C20.5333 48.1154 20.9512 48.5333 21.4667 48.5333H22.4V50.4H21.4667C20.9512 50.4 20.5333 50.8179 20.5333 51.3333V54.1333H18.6667V51.3333C18.6667 50.8179 18.2488 50.4 17.7333 50.4H16.8V48.5333H17.7333C18.2488 48.5333 18.6667 48.1154 18.6667 47.6V43.8667C18.6667 43.3512 18.2488 42.9333 17.7333 42.9333H16.8V36.4C16.8 35.8846 16.3821 35.4667 15.8667 35.4667H2.8C2.28457 35.4667 1.86667 35.8846 1.86667 36.4V43.8667C1.86667 44.3821 2.28457 44.8 2.8 44.8H3.73333V46.6667H2.8C2.28457 46.6667 1.86667 47.0846 1.86667 47.6V51.3333C1.86667 51.8488 2.28457 52.2667 2.8 52.2667H3.73333V54.1333H0V56H56V54.1333H54.1333ZM37.3333 11.2H38.2107C37.7355 15.4501 34.1432 18.6647 29.8667 18.6667H28.9893C29.4645 14.4166 33.0568 11.202 37.3333 11.2ZM34.5333 1.86667H35.392C34.9363 4.56248 32.6006 6.53508 29.8667 6.53333H29.008C29.4637 3.83752 31.7994 1.86492 34.5333 1.86667ZM26.1333 6.53333C23.3994 6.53508 21.0637 4.56248 20.608 1.86667H21.4667C24.2006 1.86492 26.5363 3.83752 26.992 6.53333H26.1333ZM26.1333 18.6667C21.8568 18.6647 18.2645 15.4501 17.7893 11.2H18.6667C22.9432 11.202 26.5355 14.4166 27.0107 18.6667H26.1333ZM16.8 44.8V46.6667H5.6V44.8H16.8ZM3.73333 37.3333H14.9333V39.2H3.73333V37.3333ZM3.73333 41.0667H14.9333V42.9333H3.73333V41.0667ZM3.73333 48.5333H14.9333V50.4H3.73333V48.5333ZM16.8 54.1333H5.6V52.2667H16.8V54.1333ZM35.4667 48.5333V50.4H24.2667V48.5333H35.4667ZM33.6 44.8V46.6667H22.4V44.8H33.6ZM22.4 42.9333V41.0667H32.6667H33.6V42.9333H22.4ZM33.6 35.4667H22.4V33.6H33.6V35.4667ZM22.4 26.1333H33.6V28H22.4V26.1333ZM20.5333 29.8667H31.7333V31.7333H20.5333V29.8667ZM20.5333 39.2V37.3333H31.7333V39.2H20.5333ZM33.6 54.1333H22.4V52.2667H33.6V54.1333ZM39.2 33.6C39.2 30.5072 41.7072 28 44.8 28C47.8928 28 50.4 30.5072 50.4 33.6C50.4 36.6928 47.8928 39.2 44.8 39.2C41.7072 39.2 39.2 36.6928 39.2 33.6ZM39.2 41.0667H50.4V42.9333H39.2V41.0667ZM52.2667 54.1333H41.0667V52.2667H52.2667V54.1333ZM52.2667 50.4H41.0667V48.5333H52.2667V50.4ZM52.2667 46.6667H41.0667V44.8H51.3333H52.2667V46.6667Z" fill="#A6A6A6"/><path d="M46.6665 33.6001C46.6665 34.6311 45.8308 35.4668 44.7998 35.4668V37.3334C46.8617 37.3334 48.5331 35.6619 48.5331 33.6001H46.6665Z" fill="#A6A6A6"/><path d="M41.0664 33.6H42.9331C42.9331 32.569 43.7688 31.7334 44.7997 31.7334V29.8667C42.7379 29.8667 41.0664 31.5382 41.0664 33.6Z" fill="#A6A6A6"/><path d="M50.5492 5.59995C49.0405 5.34118 47.8587 4.15935 47.5999 2.65062C47.5999 2.13519 47.182 1.71729 46.6666 1.71729C46.1512 1.71729 45.7333 2.13519 45.7333 2.65062C45.4745 4.15935 44.2927 5.34118 42.7839 5.59995C42.2685 5.59995 41.8506 6.01785 41.8506 6.53328C41.8506 7.04872 42.2685 7.46662 42.7839 7.46662C44.2927 7.72538 45.4745 8.90722 45.7333 10.416C45.7333 10.9314 46.1512 11.3493 46.6666 11.3493C47.182 11.3493 47.5999 10.9314 47.5999 10.416C47.8587 8.90722 49.0405 7.72538 50.5492 7.46662C51.0647 7.46662 51.4826 7.04872 51.4826 6.53328C51.4826 6.01785 51.0647 5.59995 50.5492 5.59995ZM46.6666 7.86795C46.3045 7.34727 45.8526 6.89542 45.3319 6.53328C45.8526 6.17115 46.3045 5.7193 46.6666 5.19862C47.0287 5.7193 47.4806 6.17115 48.0013 6.53328C47.4806 6.89542 47.0287 7.34727 46.6666 7.86795Z" fill="#A6A6A6"/><path d="M13.2163 26.1334C11.7075 25.8746 10.5257 24.6928 10.2669 23.1841C10.2669 22.6686 9.84902 22.2507 9.33358 22.2507C8.81815 22.2507 8.40025 22.6686 8.40025 23.1841C8.14148 24.6928 6.95965 25.8746 5.45091 26.1334C4.93548 26.1334 4.51758 26.5513 4.51758 27.0667C4.51758 27.5822 4.93548 28.0001 5.45091 28.0001C6.95965 28.2588 8.14148 29.4407 8.40025 30.9494C8.40025 31.4648 8.81815 31.8827 9.33358 31.8827C9.84902 31.8827 10.2669 31.4648 10.2669 30.9494C10.5257 29.4407 11.7075 28.2588 13.2163 28.0001C13.7317 28.0001 14.1496 27.5822 14.1496 27.0667C14.1496 26.5513 13.7317 26.1334 13.2163 26.1334ZM9.33358 28.4014C8.97145 27.8807 8.5196 27.4289 7.99891 27.0667C8.5196 26.7046 8.97145 26.2527 9.33358 25.7321C9.69572 26.2527 10.1476 26.7046 10.6683 27.0667C10.1476 27.4289 9.69572 27.8807 9.33358 28.4014Z" fill="#A6A6A6"/><path d="M53.1999 22.4001V19.6001H51.3332V22.4001H48.5332V24.2668H51.3332V27.0668H53.1999V24.2668H55.9999V22.4001H53.1999Z" fill="#A6A6A6"/><path d="M14.9331 16.8V15.8667H13.0664V16.8C13.0664 19.8929 15.5736 22.4 18.6664 22.4V20.5334C16.6046 20.5334 14.9331 18.8619 14.9331 16.8Z" fill="#A6A6A6"/></svg>',
      'title': 'Регулярная коммуникация и оперативные ответы + встречи',
    }
  ]

  let cardsNegative = [
    {
      'icon': '<svg width="51" height="56" viewBox="0 0 51 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.60254 3.73333V13.0697H7.46622V3.73333C7.46622 2.69995 8.30249 1.86368 9.33587 1.86368H46.6692C47.7026 1.86368 48.5389 2.69995 48.5389 3.73333H50.4085C50.4085 1.67253 48.736 0 46.6752 0H9.34185C7.2691 0 5.60254 1.67253 5.60254 3.73333Z" fill="#A6A6A6"/><path d="M3.73333 55.9999H46.6697C48.7305 55.9999 50.403 54.3274 50.403 52.2666V6.21216H48.5333V52.2666C48.5333 53.2999 47.6971 54.1362 46.6637 54.1362C45.6303 54.1362 44.794 53.2999 44.794 52.2666V49.4651C44.794 48.9514 44.3759 48.5332 43.8622 48.5332H7.46667V15.7098H5.59701V48.5332H0.93184C0.418134 48.5332 0 48.9514 0 49.4651V52.2666C0 54.3274 1.67253 55.9999 3.73333 55.9999ZM1.86965 50.4029H42.9363V52.2725C42.9363 52.9296 43.1095 53.5747 43.4381 54.1422H3.73333C2.69995 54.1422 1.86368 53.3059 1.86368 52.2725V50.4029H1.86965Z" fill="#A6A6A6"/><path d="M45.6303 11.2119H10.2502C9.73649 11.2119 9.31836 11.63 9.31836 12.1438V34.3944C9.31836 34.9081 9.73649 35.3263 10.2502 35.3263H45.6303C46.144 35.3263 46.5621 34.9081 46.5621 34.3944V12.1438C46.5621 11.63 46.144 11.2119 45.6303 11.2119ZM44.6984 33.4686H11.188V29.4007L19.5686 24.3712L31.3839 29.6576C31.6646 29.8368 32.023 29.8547 32.3157 29.7054L39.0715 26.205L44.6924 29.4186V33.4686H44.6984ZM44.6984 27.2682L39.5673 24.3353C39.2925 24.18 38.958 24.174 38.6773 24.3174L31.9453 27.7939L20.0943 22.4896C19.7956 22.2984 19.4133 22.2924 19.1087 22.4716L11.188 27.2264V13.0816H44.6984V27.2682Z" fill="#A6A6A6"/><path d="M34.8963 22.5016C36.7003 22.5016 38.1637 21.0382 38.1637 19.2342C38.1637 17.4303 36.7003 15.9668 34.8963 15.9668C33.0924 15.9668 31.6289 17.4303 31.6289 19.2342C31.6289 21.0382 33.0924 22.5016 34.8963 22.5016ZM34.8963 17.8364C35.6669 17.8364 36.2941 18.4637 36.2941 19.2342C36.2941 20.0048 35.6669 20.632 34.8963 20.632C34.1258 20.632 33.4986 20.0048 33.4986 19.2342C33.4986 18.4637 34.1198 17.8364 34.8963 17.8364Z" fill="#A6A6A6"/><path d="M9.33594 3.7334H11.2056V5.60305H9.33594V3.7334Z" fill="#A6A6A6"/><path d="M13.0694 3.7334H14.9331V5.60305H13.0635V3.7334H13.0694Z" fill="#A6A6A6"/><path d="M16.8027 3.7334H18.6724V5.60305H16.8027V3.7334Z" fill="#A6A6A6"/><path d="M9.33594 7.46655H46.5319V9.33621H9.33594V7.46655Z" fill="#A6A6A6"/></svg>',
      'title': 'Отработка по чек-листу без учета целей и мнения бизнеса',
      'description': '(такой подход все еще популярен у ряда агентств, но объективно не эффективен)'
    },
    {
      'icon': '<svg width="59" height="55" viewBox="0 0 59 55" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M52.9378 25.2084C53.5703 25.2084 54.0837 24.695 54.0837 24.0626C54.0837 23.4301 53.5703 22.9167 52.9378 22.9167C52.3054 22.9167 51.792 23.4301 51.792 24.0626C51.792 24.695 52.3054 25.2084 52.9378 25.2084Z" fill="#A6A6A6"/><path d="M29.3333 36.6667C28.7009 36.6667 28.1875 37.1801 28.1875 37.8126C28.1875 38.445 28.7009 38.9584 29.3333 38.9584C29.9658 38.9584 30.4792 38.445 30.4792 37.8126C30.4792 37.1801 29.9658 36.6667 29.3333 36.6667Z" fill="#A6A6A6"/><path d="M17.8753 16.0416H19.2275L20.9659 24.7365C21.2864 26.3376 22.7044 27.5 24.3376 27.5H34.3297C35.9629 27.5 37.3809 26.3376 37.7014 24.7361L39.4398 16.0416H40.792C41.4249 16.0416 41.9378 15.5287 41.9378 14.8958C41.9378 14.2629 41.4249 13.75 40.792 13.75C39.8641 13.75 36.1809 13.75 34.7428 13.75L32.7125 7.65869C32.512 7.05802 31.8634 6.73352 31.2632 6.93359C30.6626 7.13411 30.3381 7.78267 30.5381 8.38289L32.3271 13.75H26.3402L28.1292 8.38289C28.3293 7.78267 28.0048 7.13411 27.4041 6.93359C26.8039 6.73352 26.1549 7.05802 25.9548 7.65869L23.9245 13.75C22.9215 13.75 19.1926 13.75 17.8753 13.75C17.2424 13.75 16.7295 14.2629 16.7295 14.8958C16.7295 15.5287 17.2424 16.0416 17.8753 16.0416ZM37.1029 16.0416L35.454 24.2867C35.3475 24.8207 34.8744 25.2083 34.3297 25.2083H24.3381C23.7929 25.2083 23.3203 24.8207 23.2133 24.2872L21.5644 16.0416H37.1029Z" fill="#A6A6A6"/><path d="M27.0413 22.9166C27.6742 22.9166 28.1872 22.4036 28.1872 21.7708V19.4791C28.1872 18.8462 27.6742 18.3333 27.0413 18.3333C26.4084 18.3333 25.8955 18.8462 25.8955 19.4791V21.7708C25.8955 22.4036 26.4084 22.9166 27.0413 22.9166Z" fill="#A6A6A6"/><path d="M31.6253 22.9166C32.2582 22.9166 32.7712 22.4036 32.7712 21.7708V19.4791C32.7712 18.8462 32.2582 18.3333 31.6253 18.3333C30.9924 18.3333 30.4795 18.8462 30.4795 19.4791V21.7708C30.4795 22.4036 30.9924 22.9166 31.6253 22.9166Z" fill="#A6A6A6"/><path d="M3.4375 43.5417H23.6042V48.125H20.1667C18.6368 48.125 17.1982 48.7212 16.116 49.8035C15.0337 50.8857 14.4375 52.3243 14.4375 53.8542C14.4375 54.4871 14.9504 55 15.5833 55H43.0833C43.7162 55 44.2292 54.4871 44.2292 53.8542C44.2292 50.6951 41.6591 48.125 38.5 48.125H35.0625V43.5417H55.2292C56.1472 43.5417 57.0101 43.184 57.6596 42.5346C58.309 41.8851 58.6667 41.0222 58.6667 40.1042V3.4375C58.6667 2.51949 58.309 1.65653 57.6596 1.00708C57.0101 0.357625 56.1472 0 55.2292 0H3.4375C2.51949 0 1.65653 0.357625 1.00708 1.00708C0.357625 1.65653 0 2.51949 0 3.4375V40.1042C0 41.0222 0.357625 41.8851 1.00708 42.5346C1.65653 43.184 2.51949 43.5417 3.4375 43.5417ZM41.741 52.7083H16.9243C17.0926 52.2308 17.3674 51.793 17.7367 51.4237C18.3862 50.7743 19.2491 50.4167 20.1667 50.4167H38.5C39.9941 50.4167 41.2684 51.3745 41.741 52.7083ZM32.7708 48.125H25.8958V43.5417H32.7708V48.125ZM56.0393 40.9143C55.8227 41.1309 55.5349 41.25 55.2292 41.25H3.4375C3.1318 41.25 2.84399 41.1309 2.62736 40.9143C2.41073 40.6977 2.29167 40.4099 2.29167 40.1042V34.375H56.375V40.1042C56.375 40.4099 56.2559 40.6977 56.0393 40.9143ZM2.62736 2.62736C2.84399 2.41073 3.1318 2.29167 3.4375 2.29167H55.2292C55.5349 2.29167 55.8227 2.41073 56.0393 2.62736C56.2559 2.84399 56.375 3.1318 56.375 3.4375V32.0833H2.29167V3.4375C2.29167 3.1318 2.41073 2.84399 2.62736 2.62736Z" fill="#A6A6A6"/><path d="M52.9378 20.6251C53.5707 20.6251 54.0837 20.1121 54.0837 19.4792V10.3126C54.0837 9.67969 53.5707 9.16675 52.9378 9.16675C52.3049 9.16675 51.792 9.67969 51.792 10.3126V19.4792C51.792 20.1121 52.3049 20.6251 52.9378 20.6251Z" fill="#A6A6A6"/></svg>',
      'title': 'Демпинг ради продажи с заведомым снижением объема работ и эффективности',
      'description': '(частая причина разочарования клиентов — приобретение сложной услуги с необоснованно заниженным бюджетом)'
    }
  ]

  let serviceList = [
    {
      'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="54.99845" height="55" viewBox="0 0 54.99845 55"><path d="M53.9548,1.8254l-.0002-.00128a1.07445,1.07445,0,0,0-.7792-.781A34.32676,34.32676,0,0,0,22.0566,8.58573l-.939-.29218A15.65026,15.65026,0,0,0,5.36,12.1812L.31559,17.2256a1.07454,1.07454,0,0,0,0,1.5194L6.8181,25.2476l1.238,1.238L4.79075,29.751a1.07454,1.07454,0,0,0,0,1.5194L7.71142,34.191l-3.5246,9.0102a1.07426,1.07426,0,0,0,1.33106,1.4135l1.81756-.5878L5.02417,48.558a1.0743,1.0743,0,0,0,1.44675,1.4443l4.51838-2.314-.586,1.812a1.07417,1.07417,0,0,0,1.4133,1.331l9.0102-3.5246,2.9143,2.9144a1.07433,1.07433,0,0,0,1.5192,0l3.2654-3.2654,1.2271,1.227,6.5025,6.5027a1.07433,1.07433,0,0,0,1.5192,0l5.0443-5.0443a15.65021,15.65021,0,0,0,3.8877-15.7575l-.2921-.9393A34.32923,34.32923,0,0,0,53.9548,1.8254ZM7.57768,22.9685,2.59442,17.9853l4.2847-4.2847a13.50729,13.50729,0,0,1,13.38648-3.42ZM13.1452,48.0043l.6873-2.1253a1.07422,1.07422,0,0,0-1.5119-1.2867L8.447,46.5761l1.97947-3.8804a1.0743,1.0743,0,0,0-1.28757-1.5104l-2.12521.6874,2.35617-6.0234L19.1686,45.648Zm11.3558-.0624L21.8611,45.302l-.0048-.0048L9.72148,33.1625l-.006-.006L7.06958,30.5106l2.50581-2.5057L27.0067,45.4361Zm16.7989.1795-4.2847,4.2847L32.032,47.4227,44.7199,34.7348A13.50691,13.50691,0,0,1,41.2999,48.1214Zm2.1293-15.1345L30.5126,45.9035,9.097,24.4879l2.11986-2.1198,4.8938,4.8937a1.07424,1.07424,0,0,0,1.5191-1.5193L12.736,20.8487l9.2763-9.2762A32.34129,32.34129,0,0,1,52.0224,2.97481,32.339,32.339,0,0,1,43.4292,32.9869ZM20.5163,28.6285a1.07517,1.07517,0,1,0,.3147.7606A1.08135,1.08135,0,0,0,20.5163,28.6285ZM44.3534,16.4551a1.07429,1.07429,0,0,0-1.9375.9287,10.21434,10.21434,0,1,1-4.785-4.7923,1.07433,1.07433,0,0,0,.9316-1.9362,12.36271,12.36271,0,1,0,5.7909,5.7998ZM41.966,13.0797l-.0197-.0198a1.07432,1.07432,0,1,0-1.5253,1.5133l.0197.0197a1.07428,1.07428,0,1,0,1.5253-1.5132ZM31.6529,15.3113H27.7886a1.07418,1.07418,0,0,0-1.0742,1.0743V20.25a1.07425,1.07425,0,0,0,2.1485,0V17.4599h2.79a1.0743,1.0743,0,0,0,0-2.1486Zm6.9623,6.962a1.07415,1.07415,0,0,0-1.0742,1.0742v2.7902h-2.79a1.07425,1.07425,0,0,0,0,2.1485h3.8643a1.07418,1.07418,0,0,0,1.0742-1.0743V23.3474A1.07428,1.07428,0,0,0,38.6152,22.2733Zm-.6885-1.7016a1.074,1.074,0,0,0-1.3098-.7697l-7.3705,1.9142a1.0742,1.0742,0,1,0,.5401,2.0794l7.3706-1.9141A1.07417,1.07417,0,0,0,37.9267,20.5717ZM4.2329,50.7665a1.07429,1.07429,0,0,0-1.51915-.0001L.31461,53.1657a1.07429,1.07429,0,1,0,1.51915,1.5194L4.2329,52.2859A1.07434,1.07434,0,0,0,4.2329,50.7665Zm5.15685.6445a1.07452,1.07452,0,0,0-1.51926,0L6.11588,53.1657a1.07425,1.07425,0,1,0,1.51925,1.5192l1.75462-1.7546A1.07442,1.07442,0,0,0,9.38975,51.411ZM3.89323,45.6284a1.07446,1.07446,0,0,0-1.51936,0L.31461,47.6879a1.07425,1.07425,0,1,0,1.51915,1.5193l2.05947-2.0594A1.07454,1.07454,0,0,0,3.89323,45.6284Z" transform="translate(0 0)" style="fill: #c00"/></svg>',
      'title': 'Наиболее эффективный способ привлечения целевой аудитории',
      'description': 'Наиболее эффективный способ привлечения целевой аудитории. Поисковая оптимизация позволяет многократно увеличить количество продаж при разумном рекламном бюджете'
    },
    {
      'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="62.04451" height="55" viewBox="0 0 62.04451 55"><path d="M36.7243,20.1855A1.20275,1.20275,0,0,0,35.52,21.3863v.0171a1.2042,1.2042,0,0,0,2.4084,0v-.0171A1.20245,1.20245,0,0,0,36.7243,20.1855Zm6.9445,5.2908V15.6194a1.20361,1.20361,0,0,0-1.5569-1.1481L15.1048,22.7191H8.21246a8.02117,8.02117,0,0,0-.70818,16.0131L10.1549,51.4048a4.53458,4.53458,0,0,0,7.9497,1.9273,4.49019,4.49019,0,0,0,.9194-3.7722l-.5808-2.7765a7.37066,7.37066,0,0,0,5.0247-5.4643l18.6437,5.6936a1.20376,1.20376,0,0,0,1.5569-1.1484V36.0075a5.39714,5.39714,0,0,0,.0003-10.5312ZM8.21246,36.3631a5.62122,5.62122,0,1,1,0-11.2424H14.0807V36.3632H8.21246ZM16.236,51.817a2.12379,2.12379,0,0,1-3.7233-.9026L9.97141,38.7648H14.3061l1.5386,7.3562.0006.0027.8213,3.9266A2.10327,2.10327,0,0,1,16.236,51.817Zm1.7125-7.4001-1.0688-5.11,4.2741,1.3053A4.95921,4.95921,0,0,1,17.9485,44.4169Zm23.3118-.1762-3.3315-1.0174V26.2011a1.2042,1.2042,0,0,0-2.4084,0V42.4878L22.9692,38.6547a1.1964,1.1964,0,0,0-.3789-.1157l-6.1009-1.8632V24.8081l24.771-7.5649V44.2407Zm2.4084-10.7503V27.9935a2.99554,2.99554,0,0,1,0,5.4969Zm13.064-3.9484H51.362a1.20085,1.20085,0,1,0,0,2.4017h5.3707a1.20085,1.20085,0,1,0,0-2.4017Zm-3.435-9.2642a1.20632,1.20632,0,0,0-1.6825-.2624l-2.7026,1.9657a1.20194,1.20194,0,0,0,1.4191,1.9403l2.7026-1.9657A1.19871,1.19871,0,0,0,53.2977,20.2778Zm-.2626,19.2521L50.349,37.5761a1.202,1.202,0,1,0-1.4192,1.9405l2.6861,1.9536a1.202,1.202,0,1,0,1.4192-1.9403ZM55.0335,4.32318H30.0377a1.20084,1.20084,0,1,0,0,2.40167H55.0335a1.20084,1.20084,0,1,0,0-2.40167Zm-37.2074.35164a1.2043,1.2043,0,0,0-2.0556.849,1.20234,1.20234,0,0,0,.353.84888,1.20226,1.20226,0,1,0,1.7026-1.69789Zm-4.4248,0a1.19757,1.19757,0,1,0,.3529.849A1.215,1.215,0,0,0,13.4013,4.67482Zm8.8516.00024a1.19782,1.19782,0,1,0,.3528.849A1.21664,1.21664,0,0,0,22.2529,4.67506ZM57.1537,0H10.4293A5.05643,5.05643,0,0,0,5.37158,5.0437V21.4959a1.20418,1.20418,0,0,0,2.40836,0V16.8211H15.2845a1.2009,1.2009,0,1,0,0-2.4018H7.78006V11.0474l.01309.0007H59.803V42.2712a2.64861,2.64861,0,0,1-2.6493,2.642H47.5599a1.20085,1.20085,0,1,0,0,2.4017h9.5938a5.05641,5.05641,0,0,0,5.0578-5.0437V5.0437A5.05646,5.05646,0,0,0,57.1537,0ZM59.803,8.64644H7.79315l-.01309.00073V5.0437A2.64855,2.64855,0,0,1,10.4293,2.40179H57.1537A2.64854,2.64854,0,0,1,59.803,5.0437ZM20.0413,14.7702a1.19734,1.19734,0,1,0,.353.8488A1.21428,1.21428,0,0,0,20.0413,14.7702Z" transform="translate(-0.16699)" style="fill: #c00"/></svg>',
      'title': 'Контекстная реклама',
      'description': 'Если требуется максимально быстро привлечь целевую аудиторию или выйти на новый рынок — этот канал для вас.<br>Яндекс.Директ и Google AdWords обладают тонкими настройками, работа с которыми позволяет повысить эффективность в несколько раз'
    },
    {
      'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="54.99688" height="55" viewBox="0 0 54.99688 55"><path d="M43.5057,3.86719H22.0024a1.07422,1.07422,0,0,0,0,2.14843H43.5057a1.07422,1.07422,0,0,0,0-2.14843Zm-32.3952.31474a1.07354,1.07354,0,1,0,.3148.75948A1.08222,1.08222,0,0,0,11.1105,4.18193Zm-3.94771,0a1.07366,1.07366,0,1,0,.31475.75948A1.08234,1.08234,0,0,0,7.16279,4.18193Zm7.89551,0a1.07378,1.07378,0,1,0,.3147.75948A1.08245,1.08245,0,0,0,15.0583,4.18193ZM17.282,16.9532a1.07409,1.07409,0,0,0-1.4333.5033l-1.7505,3.6447-1.9016-3.6735a1.07417,1.07417,0,0,0-1.9223.0288L8.52388,21.1012,6.62219,17.4277a1.07423,1.07423,0,1,0-1.908.9876l2.89158,5.586a1.07446,1.07446,0,0,0,.954.5804l.01622-.0001a1.07412,1.07412,0,0,0,.95219-.6091l1.75043-3.6447,1.9016,3.6735a1.07417,1.07417,0,0,0,1.9223-.0288l2.6828-5.5859A1.07431,1.07431,0,0,0,17.282,16.9532Zm14.1093,0a1.07417,1.07417,0,0,0-1.4334.5033l-1.7504,3.6447-1.9016-3.6735a1.07417,1.07417,0,0,0-1.9223.0288l-1.7504,3.6447-1.9016-3.6735a1.07429,1.07429,0,1,0-1.9081.9877l2.8916,5.5859a1.07417,1.07417,0,0,0,1.9223-.0288l1.7505-3.6447,1.9016,3.6735a1.07391,1.07391,0,0,0,.9539.5804l.0162-.0001a1.074,1.074,0,0,0,.9522-.6091l2.6827-5.5859A1.07419,1.07419,0,0,0,31.3913,16.9532Zm14.1088,0a1.07415,1.07415,0,0,0-1.4333.5033l-1.7504,3.6447-1.9016-3.6735a1.07417,1.07417,0,0,0-1.9223.0288L36.742,21.1012l-1.9015-3.6735a1.07429,1.07429,0,0,0-1.9081.9877l2.8916,5.5859a1.07417,1.07417,0,0,0,1.9223-.0288l1.7505-3.6447,1.9015,3.6735a1.07444,1.07444,0,0,0,.954.5804l.0162-.0001a1.074,1.074,0,0,0,.9522-.6091l2.6827-5.5859A1.07414,1.07414,0,0,0,45.5001,16.9532Zm4.8883,7.5315a1.07372,1.07372,0,1,0,.3147.7594A1.08251,1.08251,0,0,0,50.3884,24.4847ZM46.1914,0H4.51172A4.51682,4.51682,0,0,0,0,4.51172V37.8125a4.51679,4.51679,0,0,0,4.51172,4.5117H25.626a1.0742,1.0742,0,1,0,0-2.1484H4.51172a2.366,2.366,0,0,1-2.36328-2.3633V9.88228l.01171.00053H48.5547V20.7145a1.0742,1.0742,0,1,0,2.1484,0V4.51172A4.51679,4.51679,0,0,0,46.1914,0Zm2.3633,7.73438H2.16025l-.0117.00053V4.51172A2.36576,2.36576,0,0,1,4.51172,2.14844H46.1914a2.366,2.366,0,0,1,2.3633,2.36328ZM18.2553,33.7316H5.668a1.07425,1.07425,0,0,0,0,2.1485H18.2553a1.07425,1.07425,0,1,0,0-2.1485Zm6.6668-5.1561-14.86-.0027H10.062a1.07425,1.07425,0,0,0-.0002,2.1485l14.86.0026h.0001a1.0742,1.0742,0,0,0,.0002-2.1484ZM6.428,28.8901a1.07363,1.07363,0,1,0,.31474.7594A1.085,1.085,0,0,0,6.428,28.8901ZM40.9772,33.6947a7.0182,7.0182,0,1,0,7.0182,7.0182A7.02615,7.02615,0,0,0,40.9772,33.6947Zm0,11.888a4.8698,4.8698,0,1,1,4.8697-4.8698A4.87534,4.87534,0,0,1,40.9772,45.5827Zm13.6655-1.661-1.6481-1.4888a12.2054,12.2054,0,0,0,0-3.44l1.6481-1.4888a1.07414,1.07414,0,0,0,.2098-1.3349l-3.0078-5.2008a1.07417,1.07417,0,0,0-1.2601-.4843l-2.1093.6817a12.04241,12.04241,0,0,0-2.9793-1.7226l-.4645-2.1682a1.07419,1.07419,0,0,0-1.0504-.8492H37.9738a1.074,1.074,0,0,0-1.0504.8492l-.4644,2.1682a12.04025,12.04025,0,0,0-2.9793,1.7225l-2.1094-.6816a1.07411,1.07411,0,0,0-1.2601.4843l-3.0078,5.2008a1.07414,1.07414,0,0,0,.2098,1.3349l1.6481,1.4888a12.2054,12.2054,0,0,0,0,3.44l-1.6481,1.4888a1.07414,1.07414,0,0,0-.2098,1.3349l3.0078,5.2007a1.07384,1.07384,0,0,0,1.2601.4844l2.1094-.6816a12.04025,12.04025,0,0,0,2.9793,1.7225l.4644,2.1682A1.07419,1.07419,0,0,0,37.9738,55h6.0073a1.07411,1.07411,0,0,0,1.0504-.8492l.4645-2.1682A12.03928,12.03928,0,0,0,48.4753,50.26l2.1093.6817a1.07379,1.07379,0,0,0,1.2601-.4844l3.0078-5.2007A1.07412,1.07412,0,0,0,54.6427,43.9217ZM50.7834,38.795a10.0553,10.0553,0,0,1,0,3.8358,1.07452,1.07452,0,0,0,.3344,1.0021l1.4398,1.3005-2.1383,3.6971-1.8445-.5961a1.074,1.074,0,0,0-1.0362.2125,9.93366,9.93366,0,0,1-3.3182,1.9185,1.07408,1.07408,0,0,0-.7019.791l-.406,1.8952H38.8422l-.406-1.8953a1.07389,1.07389,0,0,0-.7019-.791,9.9317,9.9317,0,0,1-3.3182-1.9185,1.074,1.074,0,0,0-1.0362-.2125l-1.8447.5961L29.397,44.9333l1.4398-1.3006a1.0742,1.0742,0,0,0,.3344-1.0021,10.0553,10.0553,0,0,1,0-3.8358,1.07494,1.07494,0,0,0-.3344-1.0022L29.397,36.4921l2.1382-3.6972,1.8447.5961a1.0743,1.0743,0,0,0,1.0362-.2125,9.93216,9.93216,0,0,1,3.3182-1.9184,1.07439,1.07439,0,0,0,.7019-.7911l.406-1.8948h4.2703l.406,1.8953a1.07389,1.07389,0,0,0,.7019.791,9.93464,9.93464,0,0,1,3.3182,1.9185,1.07391,1.07391,0,0,0,1.0362.2124l1.8445-.596,2.1383,3.6971-1.4398,1.3004A1.0746,1.0746,0,0,0,50.7834,38.795Z" style="fill: #c00"/></svg>',
      'title': 'Поддержка сайтов',
      'description': 'Мы берем на себя все вопросы по функционированию сайта, продлению доменного имени, работе хостинга, обновлению информации. Поддержка оказывается в рамках разработанных тарифов с подключением Личного кабинета'
    },
    {
      'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="55.0215" height="55" viewBox="0 0 55.0215 55"><path d="M54.0961,47.6649H52.2623V45.8311H50.4286v1.8338H48.5948V45.8311H46.761v1.8338H33.1161a2.56162,2.56162,0,0,0-2.3087,1.4241.73427.73427,0,0,1-.6631.4097H24.8642a.73372.73372,0,0,1-.6631-.4097,2.56134,2.56134,0,0,0-2.3043-1.4241H8.25194V31.161H6.41818V47.6649H4.58441V31.161H2.75065V47.6649H.91688A.91691.91691,0,0,0,0,48.5818v2.7506A3.66776,3.66776,0,0,0,3.66753,55H51.3454a3.6678,3.6678,0,0,0,3.6676-3.6676V48.5818A.917.917,0,0,0,54.0961,47.6649Zm-.9169,3.6675a1.8339,1.8339,0,0,1-1.8338,1.8338H3.66753a1.83387,1.83387,0,0,1-1.83376-1.8338V49.4987h20.063a.73381.73381,0,0,1,.6631.4096,2.56116,2.56116,0,0,0,2.3043,1.4241h5.2846a2.56088,2.56088,0,0,0,2.3088-1.4241.73394.73394,0,0,1,.6585-.4096H53.1792ZM23.8388,14.6571V12.8234H7.3349a4.58973,4.58973,0,0,0-4.58441,4.5844v.9169H4.58425v-.9169A2.75079,2.75079,0,0,1,7.3349,14.6571ZM6.418,18.3247H25.6725V16.491H8.25173A1.83379,1.83379,0,0,0,6.418,18.3247Zm45.60393-6.797,1.1005-3.46826a.91683.91683,0,0,0-.6765-1.17476L48.8889,6.107l-.7736-3.55292a.91706.91706,0,0,0-1.1707-.681l-3.4688,1.1L41.0202.28608a.94492.94492,0,0,0-1.3547,0l-2.452,2.692L33.7411,1.87316a.91668.91668,0,0,0-1.1743.67737L31.7892,6.107l-3.5494.77765a.91682.91682,0,0,0-.6773,1.17476l1.1004,3.46826-2.692,2.4521a.9157.9157,0,0,0,0,1.3547l2.692,2.452-1.1004,3.4683a.91684.91684,0,0,0,.6773,1.1748l3.557.7777.7772,3.5565a.91721.91721,0,0,0,1.1747.6773l3.4683-1.1049,2.4521,2.692a.91615.91615,0,0,0,1.3551,0l2.4516-2.692,3.4688,1.1049a.91661.91661,0,0,0,1.1743-.6773l.7776-3.5565,3.5566-.7777a.91684.91684,0,0,0,.6773-1.1748l-1.1-3.4683,2.692-2.452a.91652.91652,0,0,0,0-1.3547Zm-1.6694,5.299a.91652.91652,0,0,0-.2557.9563l.9738,3.0703-3.1478.6885a.918.918,0,0,0-.6988.6989l-.685,3.1441-3.0703-.9777a.922.922,0,0,0-.9563.2561l-2.1695,2.3857L38.1733,24.665a.91007.91007,0,0,0-.9522-.2557l-3.0744.9755-.6885-3.1477a.91811.91811,0,0,0-.6989-.6989l-3.1442-.6849.9778-3.0703a.91651.91651,0,0,0-.2561-.9563l-2.3857-2.1696,2.3839-2.1695a.91556.91556,0,0,0,.2557-.9563L29.6151,8.461l3.1478-.68856a.918.918,0,0,0,.6989-.69885l.6849-3.14418,3.0703.97777a.91663.91663,0,0,0,.9563-.25608l2.1696-2.38577,2.1695,2.384a.91557.91557,0,0,0,.9563.25563l3.0703-.97553.6885,3.14776a.918.918,0,0,0,.6989.69885l3.1477.68856-.9773,3.0708a.91682.91682,0,0,0,.2557.9562l2.3822,2.1655ZM35.1104,18.5933l9.1683-9.16886,1.297,1.29656-9.1688,9.1688Zm3.3987-6.6868a2.75065,2.75065,0,1,0-2.7506,2.7507A2.75076,2.75076,0,0,0,38.5091,11.9065Zm-3.6675,0a.91685.91685,0,1,1,.9169.9169A.917.917,0,0,1,34.8416,11.9065Zm10.0858,2.7506a2.75065,2.75065,0,1,0,2.7507,2.7507A2.75077,2.75077,0,0,0,44.9274,14.6571Zm0,3.6675a.91685.91685,0,1,1,.9169-.9168A.91693.91693,0,0,1,44.9274,18.3246ZM23.8057,24.5294a.90966.90966,0,0,0-.8533.2399l-8.949,8.8564-2.1758,1.2947a3.52378,3.52378,0,0,0,1.327,6.5346l1.9099,3.8645a.916.916,0,0,0,.8251.5108h3.6071a.917.917,0,0,0,.8416-1.2835l-1.8982-4.3821,9.9675.1652h.0157a.91658.91658,0,0,0,.8663-1.2159L24.4643,25.1226A.9167.9167,0,0,0,23.8057,24.5294ZM12.0112,38.4962a1.68984,1.68984,0,0,1,.7525-2.0035l1.4322-.8497,1.6037,3.1715-1.3579.672a1.75508,1.75508,0,0,1-1.4559.0474A1.69907,1.69907,0,0,1,12.0112,38.4962Zm4.4487,5.5013-1.3865-2.8004c.0578-.0255.12-.0353.1777-.064l1.3225-.6545,1.5236,3.5189Zm1.1443-5.6764-1.9107-3.783,7.5181-7.4398,3.9237,11.3768Zm10.9661-6.9264,3.0323-1.0539.6012,1.7313L29.172,33.1259Zm-2.3828-6.0953,2.0222-2.1077,1.3234,1.2696-2.0227,2.1078Zm4.9863,12.2798h2.7507V39.413H31.1738ZM54.096,31.161H52.2622V24.7428H50.4284V31.161H48.5947V29.3272H46.7609V31.161H36.6752a.91689.91689,0,0,0-.9169.9169V43.0805a.91687.91687,0,0,0,.9169.9168H54.096a.91684.91684,0,0,0,.9168-.9168V32.0779A.91687.91687,0,0,0,54.096,31.161Zm-.9169,11.0026H37.5921V32.9947h15.587Zm-13.7533-7.335h3.6675v1.8338H39.4258Zm5.5014,0h6.4182v1.8338H44.9272Zm-5.5014,3.6675H51.3453v1.8338H39.4258ZM.91688,29.3273H14.6701a.917.917,0,0,0,.9169-.9169V21.0753a.917.917,0,0,0-.9169-.9169H.91688A.917.917,0,0,0,0,21.0753v7.3351A.917.917,0,0,0,.91688,29.3273Zm.91689-7.3351H13.7532v5.5013H1.83377Zm1.83371,1.8337H5.50125v1.8338H3.66748Zm3.66748,0H11.9194v1.8338H7.335Z" style="fill: #c00"/></svg>',
      'title': 'SMM',
      'description': 'Успешно оказываем услуги по разработке и ведению рекламных кампаний в социальных сетях ВКонтакте, Facebook, Одноклассники, Instagram, YouTube и других'
    },
    {
      'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="54.9996" height="55" viewBox="0 0 54.9996 55"><path d="M27.6016,38.027a1.0742,1.0742,0,1,0,0,2.1484h.0102a1.07421,1.07421,0,0,0-.0102-2.1484ZM50.4881,4.29688H49.199V1.07422A1.07418,1.07418,0,0,0,48.1248,0H39.5311a1.07424,1.07424,0,0,0-1.0742,1.07422V33.7306H33.3053V18.1176l1.8991-5.1795a1.07426,1.07426,0,0,0-.0811-.9119L31.8611,6.44531h3.1046a1.07422,1.07422,0,0,0,0-2.14843H30.6052L28.4047.53228a1.07424,1.07424,0,0,0-1.8635.01514L20.0715,12.0415a1.07336,1.07336,0,0,0-.0839.8638l1.7162,5.1945V33.7307H17.4316V11.4941a1.07405,1.07405,0,0,0-.0965-.4449L15.2403,6.44531h4.8475a1.07422,1.07422,0,0,0,0-2.14843H14.4302a1.08268,1.08268,0,0,0-.1615.01342L12.594.62938a1.07424,1.07424,0,0,0-1.9555,0L8.96973,4.29688h-4.458A4.51681,4.51681,0,0,0,0,8.80859V39.1012a5.37714,5.37714,0,0,0,5.37109,5.3711h16.328v4.0824H20.1952a4.51676,4.51676,0,0,0-4.5117,4.5117v.8594A1.07422,1.07422,0,0,0,16.7577,55H38.2419a1.07422,1.07422,0,0,0,1.0742-1.0742v-.8594a4.51682,4.51682,0,0,0-4.5117-4.5117H33.3005V44.4722h16.328a5.37716,5.37716,0,0,0,5.3711-5.3711V8.80859A4.51674,4.51674,0,0,0,50.4881,4.29688ZM40.6054,32.2263h2.2827a1.0742,1.0742,0,0,0,0-2.1484H40.6054V27.9295h.9615a1.07425,1.07425,0,0,0,0-2.1485h-.9615V23.6326h2.2827a1.0742,1.0742,0,1,0,0-2.1484H40.6054V19.3357h.9615a1.0742,1.0742,0,1,0,0-2.1484h-.9615V15.0388h2.2827a1.0742,1.0742,0,0,0,0-2.1484H40.6054V10.742h.9615a1.07423,1.07423,0,0,0,0-2.14846h-.9615V6.44531h2.2827a1.07422,1.07422,0,0,0,0-2.14843H40.6054V2.14844h6.4452V33.7306H40.6054ZM26.4257,5.13251v3.782a1.0742,1.0742,0,1,0,2.1484,0V5.07944l4.439,7.59416-1.5323,4.1792H23.5545l-1.3781-4.171ZM28.3235,24.8858A1.07415,1.07415,0,0,0,27.2493,25.96v7.7706h-3.397V19.0011h7.3046V33.7307H29.3976V25.9601A1.074,1.074,0,0,0,28.3235,24.8858ZM15.2832,12.5683V33.7306H7.94933V12.5683ZM11.6163,3.668l1.2148,2.66986H10.4014ZM9.4238,8.48633h4.3849l.8798,1.93357H8.54412Zm-7.27525.32226A2.36593,2.36593,0,0,1,4.51183,6.44531H7.99219L5.89735,11.0492a1.07417,1.07417,0,0,0-.09646.4449V33.7307H2.14855ZM34.8046,50.7031a2.36664,2.36664,0,0,1,2.3536,2.1485H17.8418a2.36657,2.36657,0,0,1,2.3536-2.1485H34.8046ZM23.8475,48.5547V44.4722h7.3047v4.0825Zm29.0037-9.4535a3.22627,3.22627,0,0,1-3.2226,3.2227H5.37131a3.22634,3.22634,0,0,1-3.22266-3.2227V35.879H52.8513v3.2222Zm0-5.3705H49.1989V6.44531H50.488a2.36589,2.36589,0,0,1,2.3632,2.36328ZM10.7778,20.2489a1.07415,1.07415,0,0,0-1.07419,1.0742v7.8418a1.07425,1.07425,0,0,0,2.14849,0V21.3231A1.07424,1.07424,0,0,0,10.7778,20.2489Zm.7595-3.8747a1.07348,1.07348,0,1,0,.3148.7595A1.08056,1.08056,0,0,0,11.5373,16.3742Zm16.7222-4.5653a1.07372,1.07372,0,1,0,.3147.7595A1.08251,1.08251,0,0,0,28.2595,11.8089Z" style="fill: #c00"/></svg>',
      'title': 'Брендинг',
      'description': 'Предоставляем полный цикл услуг в сфере корпоративного и продуктового брендинга: от анализа и концепции до реализации, поддержки и последующего развития'
    },
    {
      'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="59.77368" height="55" viewBox="0 0 59.77368 55"><path d="M48.054,4.195H23.8674a1.16524,1.16524,0,1,0,0,2.33047H48.054a1.16524,1.16524,0,1,0,0-2.33047Zm-36.0019.34148a1.16465,1.16465,0,1,0,.3414.82388A1.17381,1.17381,0,0,0,12.0521,4.53643Zm-4.28223,0a1.16473,1.16473,0,1,0,.34137.82388A1.17377,1.17377,0,0,0,7.76987,4.53643Zm8.56463,0a1.16756,1.16756,0,1,0,.3402.82388A1.1762,1.1762,0,0,0,16.3345,4.53643ZM59.4325,48.533l-9.1733-9.1732,1.4391-1.4391.0012-.001.001-.0012,1.4388-1.4388,4.5317,4.5318a1.16528,1.16528,0,1,0,1.648-1.6479L53.9634,34.008a1.16546,1.16546,0,0,0-1.648,0l-1.4399,1.4398-.6976-.6976A13.63895,13.63895,0,0,0,29.878,16.5483l-.0326-.0016H7.45759a1.16539,1.16539,0,0,0-1.16524,1.1652V34.0255a1.16534,1.16534,0,0,0,1.16524,1.1652H29.6994A13.62091,13.62091,0,0,0,48.53,36.3982l.6975.6976-1.4403,1.4403a1.16558,1.16558,0,0,0,0,1.648l4.8822,4.8821V50.106a2.5663,2.5663,0,0,1-2.5635,2.5635H4.89409a2.56633,2.56633,0,0,1-2.5635-2.5635V10.7197l.01273.0007H52.6695v5.2521a1.16525,1.16525,0,1,0,2.3305,0V4.89409A4.89961,4.89961,0,0,0,50.1059,0H4.89409A4.89961,4.89961,0,0,0,0,4.89409V50.1059A4.8996,4.8996,0,0,0,4.89409,55H50.1059A4.8996,4.8996,0,0,0,55,50.1059V47.3965l2.7845,2.7845a1.16531,1.16531,0,0,0,1.648-1.648ZM26.1034,26.3198l-1.4685-2.8365a1.16533,1.16533,0,1,0-2.0697,1.0716l2.7362,5.2856a1.15949,1.15949,0,0,0,1.5237.52,13.57716,13.57716,0,0,0,1.1481,2.4996H8.62283V18.8771H28.0882a13.56287,13.56287,0,0,0-1.9894,7.0879Q26.0988,26.1432,26.1034,26.3198ZM39.7449,37.2804A11.32828,11.32828,0,0,1,28.4294,25.965c0-.0888.0013-.1773.0034-.2657l2.1436,4.141a1.165,1.165,0,0,0,1.0347.6296l.0175-.0001a1.16551,1.16551,0,0,0,1.033-.6607l2.5386-5.2856a1.16536,1.16536,0,1,0-2.101-1.009l-1.5271,3.1801-1.6624-3.2112a1.16448,1.16448,0,0,0-1.0455-.6288A11.31591,11.31591,0,1,1,39.7449,37.2804ZM2.33047,4.89409A2.56636,2.56636,0,0,1,4.894,2.33059H50.1058a2.5664,2.5664,0,0,1,2.5635,2.5635V8.3898H2.3432l-.01273.0007ZM21.303,22.9685a1.16586,1.16586,0,0,0-1.5549.5461L18.221,26.6945l-1.6624-3.2112a1.16524,1.16524,0,0,0-2.0852.0311l-1.5271,3.18-1.6624-3.2112a1.16528,1.16528,0,0,0-2.06974,1.0713l2.73614,5.2857a1.1652,1.1652,0,0,0,2.0852-.0312l1.5272-3.18,1.6623,3.2112a1.16513,1.16513,0,0,0,1.0347.6296l.0175-.0001a1.1654,1.1654,0,0,0,1.033-.6607l2.5386-5.2856A1.165,1.165,0,0,0,21.303,22.9685Zm26.7022,0a1.16564,1.16564,0,0,0-1.5549.546l-1.5272,3.1799-1.6623-3.2113a1.16532,1.16532,0,0,0-2.0852.0313l-1.5272,3.18-1.6623-3.2113a1.16538,1.16538,0,1,0-2.0698,1.0716l2.7363,5.2857a1.16529,1.16529,0,0,0,1.0347.6295l.0175-.0001a1.1654,1.1654,0,0,0,1.033-.6607l1.5271-3.1799,1.6624,3.2113a1.16529,1.16529,0,0,0,1.0347.6295l.0175-.0001a1.16551,1.16551,0,0,0,1.033-.6607l2.5385-5.2856A1.1655,1.1655,0,0,0,48.0052,22.9685ZM8.28147,44.388a1.1644,1.1644,0,1,0,.34149.8239A1.1686,1.1686,0,0,0,8.28147,44.388Zm25.86833-.3403H11.4582a1.16525,1.16525,0,0,0,0,2.3305H34.1497a1.16525,1.16525,0,0,0,.0001-2.3305Zm-4.3195-5.5938h-6.875a1.1652,1.1652,0,1,0,0,2.3304h6.875a1.1652,1.1652,0,0,0,0-2.3304Zm-12.1077,0H7.45772a1.1652,1.1652,0,1,0,0,2.3304H17.7226a1.1652,1.1652,0,1,0,0-2.3304Z" style="fill: #c00"/></svg>',
      'title': 'Аудит сайтов',
      'description': 'Высокий уровень компетенции специалистов компании позволяет оказывать услуги: SEO, коммерческого и технического аудитов проекта, анализа эффективности рекламных кампании по SEO и контексту, выводу из-под санкций поисковых систем'
    },
    {
      'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="59.6605" height="55" viewBox="0 0 59.6605 55"><path d="M29.9406,36.5886a1.16525,1.16525,0,0,0,0,2.3305h.0111a1.16526,1.16526,0,0,0-.0111-2.3305ZM54.7665,0H4.894A4.89956,4.89956,0,0,0,0,4.894V37.7539a5.8328,5.8328,0,0,0,5.82622,5.8262H23.5379v4.4284H21.9066a4.89958,4.89958,0,0,0-4.894,4.8941v.9322A1.16523,1.16523,0,0,0,18.1778,55H38.3365c.035,0,.0694-.0022.1035-.0052.0623.0025,16.6178.0047,16.6178.0047a4.608,4.608,0,0,0,4.6027-4.6027V4.894A4.89952,4.89952,0,0,0,54.7665,0ZM5.82622,41.2496a3.49963,3.49963,0,0,1-3.49573-3.4957V34.2587H34.0251v6.9909H5.82622ZM34.0251,43.5801v4.4284H25.8684V43.5801ZM19.3535,52.6695a2.56725,2.56725,0,0,1,2.5531-2.3305H34.0251v.0578a4.5736,4.5736,0,0,0,.6027,2.2727ZM57.33,50.3968a2.27477,2.27477,0,0,1-2.2722,2.2722h-16.43a2.27483,2.27483,0,0,1-2.2722-2.2722V48.7072H57.33Zm0-4.0201H36.3556V26.3493H57.33Zm0-22.3579H36.3556V21.8483a2.2749,2.2749,0,0,1,2.2722-2.2722h16.43A2.27483,2.27483,0,0,1,57.33,21.8483Zm0-6.1708a4.57386,4.57386,0,0,0-2.2722-.6024h-16.43a4.58343,4.58343,0,0,0-3.0559,1.1649H29.3066a1.16525,1.16525,0,1,0,0,2.3305h4.8541a4.595,4.595,0,0,0-.1356,1.1073V31.9282H2.33049V4.894A2.56642,2.56642,0,0,1,4.894,2.33049H54.7665A2.56642,2.56642,0,0,1,57.33,4.894Zm-7.5982,2.7769H43.9636a1.16525,1.16525,0,1,0,0,2.3305h5.7682a1.16525,1.16525,0,0,0,0-2.3305Zm-2.8815,28.898h-.0151a1.16525,1.16525,0,1,0,0,2.3305h.0151a1.16525,1.16525,0,1,0,0-2.3305ZM40.1871,36.363l2.1401-2.1399a1.16531,1.16531,0,0,0-1.648-1.648l-2.964,2.964a1.16543,1.16543,0,0,0,.0001,1.6479l2.964,2.964a1.16528,1.16528,0,0,0,1.6479-1.648Zm15.7833-.8241-2.964-2.9641a1.16531,1.16531,0,0,0-1.648,1.648l2.14,2.14-2.14,2.14a1.16535,1.16535,0,1,0,1.648,1.6481l2.964-2.964A1.16546,1.16546,0,0,0,55.9704,35.5389Zm-6.4445-3.7412a1.16517,1.16517,0,0,0-1.595.4143l-4.1851,7.1213a1.16524,1.16524,0,1,0,2.0092,1.1808l4.1851-7.1214A1.16529,1.16529,0,0,0,49.5259,31.7977ZM27.4581,12.8176H11.1862a1.16525,1.16525,0,0,0,0,2.3305H27.4581a1.16525,1.16525,0,0,0,0-2.3305Zm21.0161,0H33.0754a1.16525,1.16525,0,0,0,0,2.3305H48.4742a1.16525,1.16525,0,1,0,0-2.3305Zm-10.6528-5.593H11.1862a1.16525,1.16525,0,0,0,0,2.33049H37.8214a1.16525,1.16525,0,0,0,0-2.33049Zm10.6528,0H43.8274a1.16525,1.16525,0,1,0,0,2.33049h4.6468a1.16525,1.16525,0,1,0,0-2.33049ZM31.3336,24.0028H26.6867a1.16525,1.16525,0,0,0,0,2.3305h4.6469a1.16525,1.16525,0,1,0,0-2.3305Zm-11.0973.0015H11.1862a1.16525,1.16525,0,0,0,0,2.3305h9.0501a1.16525,1.16525,0,1,0,0-2.3305Zm.4734-5.5938H11.1862a1.16525,1.16525,0,0,0,0,2.3305h9.5235a1.16525,1.16525,0,0,0,0-2.3305Zm5.2789.3408a1.16594,1.16594,0,1,0,.3414.825A1.17435,1.17435,0,0,0,25.9886,18.7513Z" style="fill: #c00"/></svg>',
      'title': 'Внедрение Битрикс 24',
      'description': 'CRM-система Битрикс 24 – универсальный продукт, который поможет упростить работу, как малого бизнеса, так и автоматизировать бизнес-процессы крупных компаний. Научим грамотно вести клиентскую базу, работать с допродажами, автоматизировать процессы и маркетинг'
    },
    {
      'icon': '<svg xmlns="http://www.w3.org/2000/svg" width="59.6605" height="55" viewBox="0 0 59.6605 55"><path d="M29.9406,36.5886a1.16525,1.16525,0,0,0,0,2.3305h.0112a1.16526,1.16526,0,1,0-.0112-2.3305ZM6.30048,32.2694a1.16442,1.16442,0,1,0,.34153.8238A1.17371,1.17371,0,0,0,6.30048,32.2694ZM54.7665,0H4.894A4.89956,4.89956,0,0,0,0,4.894V37.7539a5.8328,5.8328,0,0,0,5.82622,5.8262H23.5379v4.4284H21.9066a4.89958,4.89958,0,0,0-4.894,4.8941v.9322A1.16529,1.16529,0,0,0,18.1778,55H41.4827a1.16529,1.16529,0,0,0,1.1652-1.1652v-.9322a4.89958,4.89958,0,0,0-4.894-4.8941H36.1226V43.5801H53.8343a5.83277,5.83277,0,0,0,5.8262-5.8262V4.894A4.89952,4.89952,0,0,0,54.7665,0ZM37.7539,50.339a2.56717,2.56717,0,0,1,2.5531,2.3305H19.3535a2.56717,2.56717,0,0,1,2.5531-2.3305ZM25.8684,48.0085V43.5801h7.9237v4.4284ZM57.33,37.7539a3.49964,3.49964,0,0,1-3.4957,3.4957H5.82622a3.49963,3.49963,0,0,1-3.49573-3.4957V4.894A2.56642,2.56642,0,0,1,4.894,2.33049H28.665V31.9282H9.67153a1.16525,1.16525,0,1,0,0,2.3305H57.33Zm0-5.8257H30.9955V2.33049h23.771A2.56642,2.56642,0,0,1,57.33,4.894ZM52.6839,4.661H34.5061a1.16531,1.16531,0,0,0-1.1653,1.16525V14.216a1.16527,1.16527,0,0,0,1.1653,1.1653H52.6839a1.16531,1.16531,0,0,0,1.1652-1.1653V5.82626A1.16529,1.16529,0,0,0,52.6839,4.661ZM51.5186,13.0508H35.6713V6.9915H51.5186ZM14.6325,17.4785H7.03536a1.16525,1.16525,0,0,0,0,2.3305H14.6325a1.16525,1.16525,0,1,0,0-2.3305Zm9.8122,0H18.6423a1.16525,1.16525,0,0,0,0,2.3305h5.8024a1.16525,1.16525,0,1,0,0-2.3305Zm0,9.3207H22.2751a1.16525,1.16525,0,0,0,0,2.3305h2.1696a1.16525,1.16525,0,0,0,0-2.3305Zm-6.8158.0013H7.03536a1.16525,1.16525,0,0,0,0,2.3305H17.6289a1.16525,1.16525,0,1,0,0-2.3305Zm-6.7948-4.6612H7.03536a1.16525,1.16525,0,0,0,0,2.3305H10.8341a1.16525,1.16525,0,0,0,0-2.3305Zm13.6107,0H16.4299a1.16525,1.16525,0,1,0,0,2.3305h8.0149a1.16525,1.16525,0,0,0,0-2.3305Zm28.2391-4.6608H34.5578a1.16525,1.16525,0,0,0,0,2.3305H52.6839a1.16525,1.16525,0,0,0,0-2.3305Zm.8242,9.6638a1.16474,1.16474,0,1,0,.3414.8238A1.17117,1.17117,0,0,0,53.5081,27.1423Zm-5.5582-.3418H34.5578a1.16525,1.16525,0,0,0,0,2.3305H47.9499a1.16525,1.16525,0,0,0,0-2.3305Zm4.734-4.6612H34.5578a1.16525,1.16525,0,0,0,0,2.3305H52.6839a1.16525,1.16525,0,0,0,0-2.3305ZM8.6831,9.5549l2.1967-2.19672a1.16527,1.16527,0,1,0-1.648-1.64789L6.21139,8.73107a1.16532,1.16532,0,0,0,0,1.64793l3.02054,3.0205a1.16523,1.16523,0,1,0,1.64787-1.6479Zm16.1011-.8237L21.7637,5.71066a1.16527,1.16527,0,0,0-1.648,1.64788l2.1967,2.19672L20.1157,11.752a1.16517,1.16517,0,0,0,1.648,1.6476l3.0205-3.0205A1.16516,1.16516,0,0,0,24.7842,8.7312ZM18.2206,4.92161a1.16505,1.16505,0,0,0-1.595.41425l-4.265,7.25744a1.16524,1.16524,0,1,0,2.0092,1.1808l4.265-7.2575A1.16506,1.16506,0,0,0,18.2206,4.92161Z" style="fill: #c00"/></svg>',
      'title': 'Другие услуги',
      'description': 'Мы так же оказываем полный спектр веб услуг от <a href="#">создания сайтов</a> и <a href="#">разработки приложений</a>, до <a href="#">внедрения CRM</a> и <a href="#">сопровождения 1С</a>'
    }
  ]

  let teamList = [
    {
      "photo": "assets/dubenchak.jpg",
      "name": "Анатолий Дубенчак",
      "post": "Генеральный директор",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/sevalnev.jpg",
      "name": "Дмитрий Севальнев",
      "post": "Руководитель департамента SEO",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/homyakov.jpg",
      "name": "Игорь Хомяков",
      "post": "Руководитель отдела SEO",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/parhomenko.jpg",
      "name": "Оксана Пархоменко",
      "post": "Руководитель отдела сопровождения",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/slepchenko.jpg",
      "name": "Тимофей Слепченко",
      "post": "Руководитель отдела создания сайтов",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/dubenchak.jpg",
      "name": "Анатолий Дубенчак",
      "post": "Генеральный директор",
      "filterTarget": "fin"
    },
    {
      "photo": "assets/sevalnev.jpg",
      "name": "Дмитрий Севальнев",
      "post": "Руководитель департамента SEO",
      "filterTarget": "fin"
    },
    {
      "photo": "assets/homyakov.jpg",
      "name": "Игорь Хомяков",
      "post": "Руководитель отдела SEO",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/parhomenko.jpg",
      "name": "Оксана Пархоменко",
      "post": "Руководитель отдела сопровождения",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/slepchenko.jpg",
      "name": "Тимофей Слепченко",
      "post": "Руководитель отдела создания сайтов",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/dubenchak.jpg",
      "name": "Анатолий Дубенчак",
      "post": "Генеральный директор",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/sevalnev.jpg",
      "name": "Дмитрий Севальнев",
      "post": "Руководитель департамента SEO",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/homyakov.jpg",
      "name": "Игорь Хомяков",
      "post": "Руководитель отдела SEO",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/parhomenko.jpg",
      "name": "Оксана Пархоменко",
      "post": "Руководитель отдела сопровождения",
      "filterTarget": "dev"
    }, {
      "photo": "assets/dubenchak.jpg",
      "name": "Анатолий Дубенчак",
      "post": "Генеральный директор",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/sevalnev.jpg",
      "name": "Дмитрий Севальнев",
      "post": "Руководитель департамента SEO",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/homyakov.jpg",
      "name": "Игорь Хомяков",
      "post": "Руководитель отдела SEO",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/parhomenko.jpg",
      "name": "Оксана Пархоменко",
      "post": "Руководитель отдела сопровождения",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/slepchenko.jpg",
      "name": "Тимофей Слепченко",
      "post": "Руководитель отдела создания сайтов",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/dubenchak.jpg",
      "name": "Анатолий Дубенчак",
      "post": "Генеральный директор",
      "filterTarget": "fin"
    },
    {
      "photo": "assets/sevalnev.jpg",
      "name": "Дмитрий Севальнев",
      "post": "Руководитель департамента SEO",
      "filterTarget": "fin"
    },
    {
      "photo": "assets/homyakov.jpg",
      "name": "Игорь Хомяков",
      "post": "Руководитель отдела SEO",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/parhomenko.jpg",
      "name": "Оксана Пархоменко",
      "post": "Руководитель отдела сопровождения",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/slepchenko.jpg",
      "name": "Тимофей Слепченко",
      "post": "Руководитель отдела создания сайтов",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/dubenchak.jpg",
      "name": "Анатолий Дубенчак",
      "post": "Генеральный директор",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/sevalnev.jpg",
      "name": "Дмитрий Севальнев",
      "post": "Руководитель департамента SEO",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/homyakov.jpg",
      "name": "Игорь Хомяков",
      "post": "Руководитель отдела SEO",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/parhomenko.jpg",
      "name": "Оксана Пархоменко",
      "post": "Руководитель отдела сопровождения",
      "filterTarget": "dev"
    }, {
      "photo": "assets/dubenchak.jpg",
      "name": "Анатолий Дубенчак",
      "post": "Генеральный директор",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/sevalnev.jpg",
      "name": "Дмитрий Севальнев",
      "post": "Руководитель департамента SEO",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/homyakov.jpg",
      "name": "Игорь Хомяков",
      "post": "Руководитель отдела SEO",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/parhomenko.jpg",
      "name": "Оксана Пархоменко",
      "post": "Руководитель отдела сопровождения",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/slepchenko.jpg",
      "name": "Тимофей Слепченко",
      "post": "Руководитель отдела создания сайтов",
      "filterTarget": "ceo"
    },
    {
      "photo": "assets/dubenchak.jpg",
      "name": "Анатолий Дубенчак",
      "post": "Генеральный директор",
      "filterTarget": "fin"
    },
    {
      "photo": "assets/sevalnev.jpg",
      "name": "Дмитрий Севальнев",
      "post": "Руководитель департамента SEO",
      "filterTarget": "fin"
    },
    {
      "photo": "assets/homyakov.jpg",
      "name": "Игорь Хомяков",
      "post": "Руководитель отдела SEO",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/parhomenko.jpg",
      "name": "Оксана Пархоменко",
      "post": "Руководитель отдела сопровождения",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/slepchenko.jpg",
      "name": "Тимофей Слепченко",
      "post": "Руководитель отдела создания сайтов",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/dubenchak.jpg",
      "name": "Анатолий Дубенчак",
      "post": "Генеральный директор",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/sevalnev.jpg",
      "name": "Дмитрий Севальнев",
      "post": "Руководитель департамента SEO",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/homyakov.jpg",
      "name": "Игорь Хомяков",
      "post": "Руководитель отдела SEO",
      "filterTarget": "dev"
    },
    {
      "photo": "assets/parhomenko.jpg",
      "name": "Оксана Пархоменко",
      "post": "Руководитель отдела сопровождения",
      "filterTarget": "dev"
    }
  ]