.vote {
	$block-name: &; // #{$block-name}__element

	&__container {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}

	&__intro {
		//flex-basis: 100%;
		//width: 100%;
	}

	&__inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 6px 12px;
	}

	&__stars {
		//display: flex;
	}

	&__result {
		font-weight: 300;
		opacity: .8;
	}

	//&__star--active {
	//	cursor: pointer;
	//}
	//
	//&__star--empty {
	//	background-image: url("data:image/svg+xml;charset=utf-8,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.71594 12.2166L4.87124 17.3948C4.84058 17.5834 4.91991 17.7735 5.07658 17.8841C5.23259 17.9941 5.43859 18.0061 5.6066 17.9128L10.0001 15.4847L14.3935 17.9135C14.4695 17.9548 14.5529 17.9755 14.6355 17.9755C14.7369 17.9755 14.8376 17.9448 14.9236 17.8841C15.0802 17.7735 15.1596 17.5834 15.1289 17.3948L14.2842 12.2166L17.8576 8.55386C17.9883 8.41985 18.0336 8.22318 17.9743 8.04584C17.915 7.86784 17.761 7.73917 17.5756 7.7105L12.6568 6.95914L10.4521 2.26301C10.2874 1.91233 9.71206 1.91233 9.54739 2.26301L7.34332 6.95914L2.4245 7.7105C2.23916 7.73917 2.08516 7.86784 2.02582 8.04584C1.96649 8.22385 2.01116 8.41985 2.14183 8.55386L5.71594 12.2166ZM7.758 7.90717C7.92267 7.88184 8.06401 7.7765 8.13468 7.62583L10.0001 3.65171L11.8655 7.62516C11.9361 7.77583 12.0775 7.88184 12.2421 7.9065L16.4629 8.55119L13.3928 11.6979C13.2815 11.8113 13.2315 11.9713 13.2568 12.128L13.9769 16.5394L10.2421 14.4754C10.1667 14.434 10.0834 14.4127 10.0001 14.4127C9.91673 14.4127 9.8334 14.4334 9.75806 14.4754L6.02328 16.5394L6.7433 12.128C6.76864 11.9713 6.71863 11.8119 6.6073 11.6979L3.5372 8.55119L7.758 7.90717Z' fill='rgb(255,193,7)'/></svg>");
	//	width: 20px;
	//	height: 20px;
	//	overflow: hidden;
	//}
	//
	//&__star--voted {
	//	background-image: url("data:image/svg+xml;charset=utf-8,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M17.5754 7.71032L12.6567 6.95899L10.4521 2.263C10.2874 1.91233 9.71208 1.91233 9.54741 2.263L7.34342 6.95899L2.42477 7.71032C2.02077 7.77232 1.85943 8.26365 2.14277 8.55365L5.71609 12.2163L4.87143 17.3943C4.80409 17.8056 5.24342 18.1143 5.60676 17.9123L10.0001 15.4843L14.3934 17.913C14.7534 18.113 15.1967 17.8103 15.1287 17.395L14.2841 12.217L17.8574 8.55431C18.1407 8.26365 17.9787 7.77232 17.5754 7.71032V7.71032Z' fill='rgb(255,193,7)'/></svg>");
	//	width: 20px;
	//	height: 20px;
	//	overflow: hidden;
	//}
	//
	//&__star--over {
	//	background-image: url("data:image/svg+xml;charset=utf-8,<svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M17.5754 7.71032L12.6567 6.95899L10.4521 2.263C10.2874 1.91233 9.71208 1.91233 9.54741 2.263L7.34342 6.95899L2.42477 7.71032C2.02077 7.77232 1.85943 8.26365 2.14277 8.55365L5.71609 12.2163L4.87143 17.3943C4.80409 17.8056 5.24342 18.1143 5.60676 17.9123L10.0001 15.4843L14.3934 17.913C14.7534 18.113 15.1967 17.8103 15.1287 17.395L14.2841 12.217L17.8574 8.55431C18.1407 8.26365 17.9787 7.77232 17.5754 7.71032V7.71032Z' fill='rgb(255,193,7)'/></svg>");
	//	width: 20px;
	//	height: 20px;
	//	overflow: hidden;
	//}
}