.docs.tile-slider.tile-slider--place-shadow(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": true, "groupCells": true, "lazyLoad": true }')
	.docs__item
		a.docs__link(href="assets/docs-1.jpg" data-fancybox)
			img(src="assets/docs-1.jpg" width="565" height="800" alt="")
	.docs__item
		a.docs__link(href="assets/docs-2.jpg" data-fancybox)
			img(src="assets/docs-2.jpg" width="565" height="800" alt="")
	.docs__item
		a.docs__link(href="assets/docs-3.png" data-fancybox)
			img(src="assets/docs-3.png" width="565" height="800" alt="")
	.docs__item
		a.docs__link(href="assets/docs-4.jpg" data-fancybox)
			img(src="assets/docs-4.jpg" width="565" height="800" alt="")
	.docs__item
		a.docs__link(href="assets/docs-5.jpg" data-fancybox)
			img(src="assets/docs-5.jpg" width="565" height="800" alt="")