.docs {
	$block-name: &; // #{$block-name}__element

	&__item {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		min-height: 100%;
		background: var(--color-white);
		transition: var(--transition-time);

		& img {
			display: block;
		}

		@media (min-width: $screen-lg) {
			&:hover {
				border-color: var(--color-primary);
				box-shadow: var(--shadow);
			}
		}
	}

	&:not(&--single).flickity-enabled {

		& #{$block-name}__item {
			--margin-right: calc(var(--grid-gutter-x));
			--width: calc(50% - var(--margin-right));
			max-width: var(--width);
			margin-right: var(--margin-right);
			display: inline-grid;

			@media (min-width: $screen-sm) {
				--width: calc(33.33333% - var(--margin-right));
			}

			@media (min-width: $screen-md) {
				--width: calc(25% - var(--margin-right));
			}

			@media (min-width: $screen-lg) {
				--width: calc(20% - var(--margin-right));
			}
		}
	}

	&--single.flickity-enabled {
		padding: 0 3em;

		& #{$block-name}__item {
			width: 100%;
			margin-right: var(--grid-gutter-x);
			display: inline-grid;
		}

		& .flickity-prev-next-button {
			background: none;
			height: 1.5em;
			padding: 0;
			transform: translateY(calc(-50% - 1em));
			width: 1.5em;
			z-index: 6;
			top: 50%;
			bottom: auto;

			&.next {
				right: 0;
			}

			&.previous {
				left: 0;
			}

			& svg {
				fill: var(--color-gray--light);
				height: 100%;
				left: 0;
				top: 0;
				width: 100%;
			}
		}
	}

	& a {
		display: block;
	}
}