extends ../layout.pug

block meta
  title Универсальные блоки
  meta(name='description' content='')

block content
  include ../../blocks/main-slider/index

  .wide-block.wide-block--gray-lighter
    .page-container
      include ../../blocks/reviews/index

  .wide-block
    .page-container
      .h1 Важный текст
      include ../../blocks/important-text/index

  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфографика тип #1
      include ../../blocks/infographics/type1
  .wide-block.wide-block--gray-circle
    .page-container
      .h1 Инфографика тип #2
      include ../../blocks/infographics/type2
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфографика тип #3
      include ../../blocks/infographics/type3
  .wide-block.wide-block
    .page-container
      include ../../blocks/tile-cms/index
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфо карточки
      include ../../blocks/info-cards/index
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 ЦЕНЫ И НАИБОЛЕЕ ПОПУЛЯРНЫЕ ТАРИФЫ
      include ../../blocks/table-tariffs/index
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Сертификаты и награды
      include ../../blocks/awards/index
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 ПРЕИМУЩЕСТВА ПЛАТФОРМЫ BITRIX
      include ../../blocks/adv-bitrix/index
  .wide-block.wide-block--gray-lighter
    .page-container.tariffs
      .h1.section__title НАШИ ТАРИФЫ ПО ПРОДВИЖЕНИЮ САЙТОВ
      .section__subtitle Работая над оптимизацией и SEO-раскруткой сайта на Битрикс, мы ориентируемся на&nbsp;особенности и&nbsp;приоритеты каждого бизнеса, разрабатываем индивидуальную стратегию для достижения поставленных KPI. Предлагаем выбрать наиболее подходящий для вас тариф, чтобы быстро оценить эффективность продвижения сайта на&nbsp;Bitrix в&nbsp;Москве, Санкт-Петербурге и&nbsp;других регионах России.
      include ../../blocks/tariffs/index
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1.section__title РЕЗУЛЬТАТЫ НАШИХ КЛИЕНТОВ
      include ../../blocks/results/index
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1.section__title Нас рекомендуют
      include ../../blocks/recommend/index