extends ../layout.pug

block meta
  title Универсальные блоки
  meta(name='description', content='')

block content
  include ../../blocks/main-slider/index

  .wide-block.wide-block--gray-lighter
    .page-container
      include ../../blocks/reviews/index

  .wide-block
    .page-container
      .h1 Важный текст
      include ../../blocks/important-text/index

  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфографика тип #1
      include ../../blocks/infographics/type1
  .wide-block.wide-block--gray-circle
    .page-container
      .h1 Инфографика тип #2
      include ../../blocks/infographics/type2
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Инфографика тип #3
      include ../../blocks/infographics/type3
  .wide-block
    .page-container
      .h1 Наша команда
      -
        let dataTeams = [
          {
            "photo": "assets/dubenchak.jpg",
            "name": "Анатолий Дубенчак",
            "post": "Генеральный директор",
            "filterTarget": "ceo"
          },
          {
            "photo": "assets/sevalnev.jpg",
            "name": "Дмитрий Севальнев",
            "post": "Руководитель департамента SEO",
            "filterTarget": "ceo"
          },
          {
            "photo": "assets/homyakov.jpg",
            "name": "Игорь Хомяков",
            "post": "Руководитель отдела SEO",
            "filterTarget": "ceo"
          },
          {
            "photo": "assets/parhomenko.jpg",
            "name": "Оксана Пархоменко",
            "post": "Руководитель отдела сопровождения",
            "filterTarget": "ceo"
          },
        ]
      .team-list.team-list--columns-4.tile-slider(data-filter-block="team", data-flickity-options='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "watchCSS": true, "groupCells": true, "cellSelector": ".team-list__item:not(.-is-hidden)", "lazyLoad": true }')
        each item, i in dataTeams
          .team-list__item(data-filter-target=item.filterTarget)
            .team-list__image
              a(href="#")
                img(src=item.photo, width="165", height="165")
            .team-list__name
              a(href="#") #{item.name}
            .team-list__post #{item.post}
  .wide-block.wide-block--city
    .page-container
      .h1 Популярные вопросы
      include ../../blocks/faq/index
  .wide-block.wide-block--gray-lighter
    .page-container
      .h1 Тарифы
      include ../../blocks/tariffs/index