extends ../layout.pug

block meta
  title Универсальные блоки
  meta(name='description', content='')

block content
  include ../../blocks/main-slider/index-single

  .wide-block
    .page-container
      .h1 Наша команда
      include ../../blocks/team-list/index
  .wide-block.wide-block--city
    .page-container
      .h1 Популярные вопросы
      include ../../blocks/faq/index

  .wide-block.wide-block--gray-darken
    .wide-block__number 250+
    .page-container
      .h1 Наши клиенты
      .subtitle Компания «Пиксель Плюс» успешно продвигает более 250 проектов, включая и таких крупных игроков
      include ../../blocks/logo-list/index

  .wide-block.wide-block--meeting-analytics.wide-block--fields-transparent
    .page-container
      .h1 Получите КП, оставив заявку
      include ../../blocks/form-short/index-extended

  .wide-block
    .page-container
      .h1 Эксперты в области SEO
      include ../../blocks/tile-experts/index

  .wide-block.wide-block--company-team
    .page-container
      .h1 Рекламное интернет-агентство «Пиксель Плюс»
      .subtitle Мы задаем высочайшие стандарты качества услуг по проведению технического аудита сайта для каждого клиента, тем самым развивая рынок продвижения бизнесов в интернете.

  .wide-block
    .page-container
      .h1 Блок загрузки файла
      include ../../blocks/download-block/index

  .wide-block
    .page-container
      .h1 Технические компетенции
      include ../../blocks/tech/index

  .wide-block.wide-block--sevalnev-big
    .page-container