extends ../layout.pug

block meta
    title Тарифы
    meta(name='description', content='')

block content
    .wide-block.wide-block--gray-lighter
        .page-container
            .h1 Тарифы
            include ../../blocks/tariffs/index

    .wide-block
        .page-container
            .h1 Тарифы с выбором
            include ../../blocks/tariffs/index2

    .wide-block.wide-block--gray-lighter
        .page-container
            .h1 Таблица сравнения тарифов
            include ../../blocks/table-compare/index

    .wide-block
        .page-container
            .h1 Таблица тарифов
            include ../../blocks/table/index

    .wide-block.wide-block--gray-lighter
        .page-container
            .h1 Таблица тарифов
            include ../../blocks/table/index2

    .wide-block
        .page-container
            .h1 Тарифы
            include ../../blocks/tariff/index

    .wide-block.wide-block--gray-lighter
        .page-container
            .h1 Расширенное описание тарифа
            include ../../blocks/tariffs-wide/index

    .wide-block
        .page-container
            .h1 Расширенное описание тарифа
            .form
                .form__field