.tile-experts.tile-slider(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": false, "watchCSS": true, "lazyLoad": true }')
	.tile-experts__item
		.tile-experts__images
			img(src="../../blocks/tile-experts/images/hall.jpg" width="360" height="500" alt="")
		.tile-experts__info
			.tile-experts__title Представляем доклады на крупнейших конференциях:
			ul.list
				li РИФ и КИБ разных лет
				li СПИК
				li SEMPRO
				li RIW
				li BalticDigitalDays
				li Оптимизация и другие
	.tile-experts__item
		.tile-experts__images
			img(src="../../blocks/tile-experts/images/sevalnev.jpg" width="360" height="500" alt="")
		.tile-experts__info
			.tile-experts__title Проводим собственные образовательные мероприятия:
			ul.list
				li Семинар «Увеличение интернет-продаж»
				li «SEO-Партизан»
				li Вебинары и передачи на MegaIndex.TV и Youtube
	.tile-experts__item
		.tile-experts__images
			img(src="../../blocks/tile-experts/images/pixelplus.jpg" width="360" height="500" alt="")
		.tile-experts__info
			.tile-experts__title Делаем экспертные исследования
			ul.list
				li: a(href="/samostoyatelno/stati/algoritmy-ranzhirovaniya/faktory-ranzhirovaniya-v-poiskovykh-sistemakh.html") Рейтинг факторов ранжирования в Яндекс
				li: a(href="/samostoyatelno/stati/algoritmy-ranzhirovaniya/reyting-faktorov-ranzhirovaniya-v-google.html") Рейтинг факторов ранжирования в Google