.call-to-action.call-to-action--hidden
    button.call-to-action__open
        span.call-to-action__image
        span.call-to-action__open-text Хотите такие результаты?
    form.call-to-action__form.form-short.form-short--fields-transparent.js-hidden-captcha
        h3.-fw-l Хотите такие результаты?
        label.field-text.form-short__field
            span.field-text__input-wrap
                input.field-text__input.js-moving-placeholder(type="text", placeholder="Имя", required)
        label.field-text.form-short__field
            span.field-text__input-wrap
                input.field-text__input.js-moving-placeholder(type="tel", placeholder="Телефон", required)
        .form-short__field
            button.button.button--primary(type="submit") Оставить заявку
        .form-short__field
            label.field-checkbox.form-short__field
                span.field-checkbox__input-wrap
                    input.field-checkbox__input(type='checkbox', checked)
                    span.field-checkbox__name
                    span.field-checkbox__help-text
                        | Согласен с обработкой персональных данных в соответствии с <a href="#">политикой конфиденциальности</a>
        .form-short__note – обязательные поля
        button.call-to-action__close(type="button", title="Закрыть")
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="m1 1 14.6 14.6M15.6 1 1 15.6"/></svg>
