@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.call-to-action {
	$block-name: &;

	--cta-right-offset: 15px;
	--cta-bottom-offset: 15px;

	position: fixed;
	bottom: var(--cta-bottom-offset);
	right: var(--cta-right-offset);
	z-index: 10;

	transition: opacity 0.3s ease, visibility 0.3s ease;

	@media (min-width: $screen-sm) {
		--cta-right-offset: 48px;
		--cta-bottom-offset: 28px;
	}

	&--hidden {
		opacity: 0;
		visibility: hidden;
	}

	&__open {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;

		width: 70px;
		height: 70px;

		border-radius: 50%;
		border: none;

		background-color: var(--color-white);

		cursor: pointer;

		transition: opacity 0.3s ease, visibility 0.3s ease;

		@at-root #{$block-name}--opened & {
			opacity: 0;
			visibility: hidden;
		}

		&::before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

			display: block;
			width: 100%;
			height: 100%;

			border-radius: 50%;

			background-color: var(--color-white);
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
			animation: pulse 2s infinite;
		}
	}

	&__image {
		display: block;
		width: 32px;
		height: 32px;

		background-image: url("../../blocks/call-to-action/images/rocket.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}

	&__open-text {
		position: absolute;
		bottom: calc(100% + 12px);
		right: 0;

		display: block;
		width: max-content;

		padding: 4px 8px;

		background-color: var(--color-white);
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		border-radius: 100px;

		font-size: 14px;
		font-weight: 300;
		line-height: 1;

		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);

		transition: opacity 0.3s 1s ease, visibility 0.3s 1s ease, transform 0.3s 1s ease;

		@at-root #{$block-name}--shown & {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}

	&__form {
		--field-border-color: var(--color-gray--light);
		--field-text-color: var(--text-color);
		--field-check: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='7.6665' height='5.58301' viewBox='0 0 7.6665 5.58301'><path d='M2.5835,5.583A.49839.49839,0,0,1,2.23,5.43652l-2.0835-2.083a.5.5,0,0,1,.707-.707l1.73,1.7295L6.813.14648a.49995.49995,0,0,1,.707.707l-4.583,4.583A.49835.49835,0,0,1,2.5835,5.583Z' style='fill: rgb(196, 196, 196)'/></svg>");

		position: absolute;
		bottom: calc(-1 * var(--cta-bottom-offset));
		right: calc(-1 * var(--cta-right-offset));
		transform: translateY(100%);

		display: block;
		min-width: calc(100vw - 17px);
		padding: 48px 16px 24px;

		background-color: var(--color-gray--lighten);

		opacity: 0;
		visibility: hidden;

		transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

		@at-root #{$block-name}--opened & {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}

		@media (min-width: $screen-sm) {
			min-width: 420px;
			padding: 48px 32px 24px;
		}
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;

		border: none;

		background-color: var(--color-primary);

		cursor: pointer;

		svg {
			width: 16px;
			height: 16px;
			stroke: var(--color-white);
			flex: 0 0 auto;
		}
	}
}
