.search-line
    form.search-line__form
        .search-line__field.search-line__field--input
            label.field-text
                span.field-text__input-wrap
                    input.field-text__input(type='search', placeholder='услуги для вашего бизнеса', value="", required)
        .search-line__field.search-line__field--button
            button.button.button--gray-lighten.search-line__button Поиск по сайту
    .search-line__fast
        a(href="#") контекстная реклама
        a(href="#") разработка сайта
        a(href="#") контекстная реклама
        a(href="#") контекстная реклама