.bn-text
	.bn-text__title >
		.bn-text__subtitle 1 года<br>и 9 месяцев
	.bn-text__description Средний срок сотрудничества с нами — более 21 месяца. Это результат высокой эффективности нашей работы и удовлетворенности клиента.

.bn-text
	.bn-text__title.-ta-c 97%
		.bn-text__subtitle клиентов

	.bn-text__description Средний срок сотрудничества с нами — более 21 месяца. Это результат высокой эффективности нашей работы и удовлетворенности клиента.