.bn-text.bn-text--blue-dark
	.bn-text__left
		.bn-text__title
			span.bn-text__sign >
			span.bn-text__number
				| 1 года<br>и 9 месяцев
	.bn-text__right Средний срок сотрудничества с нами — более 21 месяца. Это результат высокой эффективности нашей работы и удовлетворенности клиента.