@use "sass:selector";

.carousel {

  $block-name: &; // #{$block-name}__element

  &.is-active .splide__list.d-grid {
    display: flex;
    gap: unset;
  }

  &.splide.is-initialized:not(.is-active) .splide__list.d-grid {
    display: grid;
  }

  &:not(.is-active) .splide__track {
    position: static;
  }

  &:not(.is-active) .splide__track,
  &--not-hidden .splide__track {
    overflow: visible;
  }

  &--shadow.is-active .splide__track {
    margin: 0 -15px -30px -15px;// - было для фикса теней, но низ скрывался
    padding: 0 15px 30px 15px !important;// - поэтому делаю просто нижний паддинг
    //padding-bottom: 20px;
  }
}