.text-columns {
	$block-name: &; // #{$block-name}__element

	@include typo-margin-vertical;

	@mixin columns($count) {
		column-count: $count;
		column-gap: calc(var(--grid-gutter-x) * 2);
	}

	@media (max-width: $screen-sm - 1) {
		&--xs-1 { @include columns(1) }
		&--xs-2 { @include columns(2) }
		&--xs-3 { @include columns(3) }
		&--xs-4 { @include columns(4) }
		&--xs-5 { @include columns(5) }
	}

	@each $screen-name, $screen in  (sm: $screen-sm, md: $screen-md, lg: $screen-lg, xl: $screen-xl, xxl: $screen-xxl) {
		@media (min-width: $screen) {
			@for $i from 1 through 5 {
				&--#{$screen-name}-#{$i} { @include columns(#{$i}) };
			}
		}
	}

	&.list li {
		break-inside: avoid;
		page-break-inside: avoid;
	}
}