.tile-slider.case-full(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": false }')
	.case-full__item.wow.zoomIn(data-wow-duration=".5s", style="background-image:url(blocks/case-full/images/psb-bg.jpg)")
		.case-full__logo
			img(src="blocks/case-full/images/psb-logo.png")
		.case-full__title - 56% стоимости привлечения клиентов
		.case-full__image
			picture
				source(srcset="blocks/case-full/images/psb-graph--big.png" media="(min-width: 200px)" width="410" height="177")
				img(src="blocks/case-full/images/psb-graph.png" width="224" height="164" alt="")
		.case-full__button
			a.button.button--not-fill(href="#") Подробнее
	.case-full__item.wow.zoomIn(data-wow-duration=".5s", style="background-image:url(blocks/case-full/images/samsonite-bg.jpg)")
		.case-full__logo
			img(src="blocks/case-full/images/samsonite-logo.png")
		.case-full__title - 56% стоимости привлечения клиентов
		.case-full__image
			picture
				source(srcset="blocks/case-full/images/samsonite-graph--big.png" media="(min-width: 200px)" width="410" height="177")
				img(src="blocks/case-full/images/samsonite-graph.png" width="224" height="164" alt="")
		.case-full__button
			a.button.button--not-fill(href="#") Подробнее
	.case-full__item.wow.zoomIn(data-wow-duration=".5s", style="background-image:url(blocks/case-full/images/gorzdrav-bg.jpg)")
		.case-full__logo
			img(src="blocks/case-full/images/gorzdrav-logo.png")
		.case-full__title + 387% трафика
		.case-full__image
			picture
				source(srcset="blocks/case-full/images/gorzdrav-graph--big.png" media="(min-width: 200px)" width="410" height="177")
				img(src="blocks/case-full/images/gorzdrav-graph.png" width="224" height="164" alt="")
		.case-full__button
			a.button.button--not-fill(href="#") Подробнее
	.case-full__item.wow.zoomIn(data-wow-duration=".5s", style="background-image:url(blocks/case-full/images/askona-bg.jpg)")
		.case-full__logo
			img(src="blocks/case-full/images/askona-logo.png")
		.case-full__title + 74% конверсии
		.case-full__image
			picture
				source(srcset="blocks/case-full/images/askona-graph--big.png" media="(min-width: 200px)" width="410" height="177")
				img(src="blocks/case-full/images/askona-graph.png" width="224" height="164" alt="")
		.case-full__button
			a.button.button--not-fill(href="#") Подробнее
	.case-full__item.wow.zoomIn(data-wow-duration=".5s", style="background-image:url(blocks/case-full/images/tourister-bg.jpg)")
		.case-full__logo
			img(src="blocks/case-full/images/tourister-logo.png")
		.case-full__title + 74% конверсии
		.case-full__image
			picture
				source(srcset="blocks/case-full/images/tourister-graph--big.png" media="(min-width: 200px)" width="410" height="177")
				img(src="blocks/case-full/images/tourister-graph.png" width="224" height="164" alt="")
		.case-full__button
			a.button.button--not-fill(href="#") Подробнее