.blockquote {
	$block-name: &; // #{$block-name}__element

	border: 1px solid rgba(226, 226, 226, 1);
	background-color: rgba(250, 250, 250, 1);
	padding: 32px 24px;
	margin: 0;
	border-radius: 4px;
	position: relative;

	&--large {
		padding: var(--offset--xxl) calc(var(--offset--xxl) * 2);
	}

	&::after {
		content: '';
		background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='167' height='167' viewBox='0 0 167 167'><path d='M45.2292,20.875A38.27082,38.27082,0,0,0,6.95834,59.1458c0,15.6117,8.127,30.717,20.25666,33.6317,4.6788,1.1244,8.4049,7.1287,7.6043,13.9835-1.0716,9.174-9.3682,18.443-25.79537,25.747a3.47957,3.47957,0,0,0,1.84577,6.632c42.8117-5.36,72.4874-33.271,72.6298-72.7586C83.5,39.2245,67.4556,20.875,45.2292,20.875Zm83.5008,0A38.27073,38.27073,0,0,0,90.4588,59.1458c0,15.6117,8.127,30.717,20.2562,33.6317,4.679,1.1244,8.405,7.1287,7.605,13.9835-1.072,9.174-9.368,18.443-25.7956,25.747a3.47957,3.47957,0,0,0,1.8458,6.632C137.182,133.78,166.858,105.869,167,66.3814,167.001,39.2245,150.956,20.875,128.73,20.875Z' fill='rgb(204,0,0)'/></svg>");
		opacity: .03999999910593033;
		display: block;
		width: 167px;
		height: 167px;
		position: absolute;
		top: 0;
		right: 30px;
	}
}