.modal-fancybox {
	$block-name: &; // #{$block-name}__element

	box-sizing: border-box;

	& *,
	& *::before,
	& *::after {
		box-sizing: inherit;
	}

	& .fancybox__content {
		width: 100%;
		max-width: 900px;
		border-radius: var(--border-radius--md);

		& .field-text__input:focus {
			outline: none;
		}

		& .carousel__button.is-close {
			top: 10px;
			right: 10px;
			color: var(--color-primary);
			box-shadow: none;

			& svg {
				filter: none;
			}
		}
	}

	&--sm .fancybox__content {
		max-width: 520px;
	}
}