.tile-slider.seo-cases(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": false }')
	.seo-cases__item.wow.zoomIn(data-wow-duration=".5s", style="background-image:url(blocks/seo-cases/images/psb-bg.jpg)")
		.seo-cases__logo
			img(src="blocks/seo-cases/images/psb-logo.png")
		.seo-cases__title - 56% стоимости привлечения клиентов
		.seo-cases__image
			picture
				source(srcset="blocks/seo-cases/images/psb-graph--big.png" media="(min-width: 200px)" width="410" height="177")
				img(src="blocks/seo-cases/images/psb-graph.png" width="224" height="164" alt="")
		.seo-cases__button
			a.button.button--not-fill(href="#") Подробнее
	.seo-cases__item.wow.zoomIn(data-wow-duration=".5s", style="background-image:url(blocks/seo-cases/images/samsonite-bg.jpg)")
		.seo-cases__logo
			img(src="blocks/seo-cases/images/samsonite-logo.png")
		.seo-cases__title - 56% стоимости привлечения клиентов
		.seo-cases__image
			picture
				source(srcset="blocks/seo-cases/images/samsonite-graph--big.png" media="(min-width: 200px)" width="410" height="177")
				img(src="blocks/seo-cases/images/samsonite-graph.png" width="224" height="164" alt="")
		.seo-cases__button
			a.button.button--not-fill(href="#") Подробнее
	.seo-cases__item.wow.zoomIn(data-wow-duration=".5s", style="background-image:url(blocks/seo-cases/images/gorzdrav-bg.jpg)")
		.seo-cases__logo
			img(src="blocks/seo-cases/images/gorzdrav-logo.png")
		.seo-cases__title + 387% трафика
		.seo-cases__image
			picture
				source(srcset="blocks/seo-cases/images/gorzdrav-graph--big.png" media="(min-width: 200px)" width="410" height="177")
				img(src="blocks/seo-cases/images/gorzdrav-graph.png" width="224" height="164" alt="")
		.seo-cases__button
			a.button.button--not-fill(href="#") Подробнее
	.seo-cases__item.wow.zoomIn(data-wow-duration=".5s", style="background-image:url(blocks/seo-cases/images/askona-bg.jpg)")
		.seo-cases__logo
			img(src="blocks/seo-cases/images/askona-logo.png")
		.seo-cases__title + 74% конверсии
		.seo-cases__image
			picture
				source(srcset="blocks/seo-cases/images/askona-graph--big.png" media="(min-width: 200px)" width="410" height="177")
				img(src="blocks/seo-cases/images/askona-graph.png" width="224" height="164" alt="")
		.seo-cases__button
			a.button.button--not-fill(href="#") Подробнее
	.seo-cases__item.wow.zoomIn(data-wow-duration=".5s", style="background-image:url(blocks/seo-cases/images/tourister-bg.jpg)")
		.seo-cases__logo
			img(src="blocks/seo-cases/images/tourister-logo.png")
		.seo-cases__title + 74% конверсии
		.seo-cases__image
			picture
				source(srcset="blocks/seo-cases/images/tourister-graph--big.png" media="(min-width: 200px)" width="410" height="177")
				img(src="blocks/seo-cases/images/tourister-graph.png" width="224" height="164" alt="")
		.seo-cases__button
			a.button.button--not-fill(href="#") Подробнее