.splide.carousel.carousel--shadow.splide-nav(data-splide='{"start": 1, "focus": "center", "autoWidth": false, "arrows": false, "fixedWidth": "85%", "breakpoints": {"768": { "fixedWidth": "65%" }, "992": { "destroy": true }} }')
	ul.splide__pagination.splide__pagination--default
	.splide__track
		.splide__list.d-grid.d-grid--md-3
			.d-grid__item.splide__slide
				.tariff.wow.animate__zoomIn(data-wow-duration=".5s" data-wow-delay="0")
					.tariff__title Стандарт
					.tariff__body
						.tariff__intro Корпоративный проект, сайт-витрина, личный блог, портал, интернет-магазин.
						.tariff__price от 29 900 руб.
						.tariff__description Комплексный SEO-аудит для сайтов всех типов. Бюджет зависит от размера проекта.
						.tariff__order
							button.button.button--primary.button--wide Заказать
					.tariff__footer
						.h4 В тариф включено
						ul.list-checked.list-checked--figure
							li Технические ошибки
							li Данные в Яндекс.Вебмастере и Google Search Console
							li Анализ внешней ссылочной массы
							li Оценка видимости и текстовой оптимизации
							li Коммерческие факторы ранжирования
							li Проверка мобильной/адаптивной версии
							li Отчетность

			.d-grid__item.splide__slide
				.tariff.tariff--favorite.wow.animate__zoomIn(data-wow-duration=".5s" data-wow-delay="0")
					.tariff__title Стандарт + Конверсия
					.tariff__body
						.tariff__intro Для проектов, работающих с юзабилити и конверсией, продающих товары и услуги.
						.tariff__price от 54 900 руб.
						.tariff__description Проведём полный SEO-аудит и дополним его оценкой пользователей из целевой аудитории. Укажем на проблемы в юзабилити.
						.tariff__order
							button.button.button--primary.button--wide Заказать
					.tariff__footer
						.h4 В тариф включено
						ul.list-checked.list-checked--figure
							li Технические ошибки
							li Данные в Яндекс.Вебмастере и Google Search Console
							li Анализ внешней ссылочной массы
							li Оценка видимости и текстовой оптимизации
							li Коммерческие факторы ранжирования
							li Проверка мобильной/адаптивной версии
							li Отчетность
			.d-grid__item.splide__slide
				.tariff.wow.animate__zoomIn(data-wow-duration=".5s" data-wow-delay="0")
					.tariff__title Лидер рынка
					.tariff__body
						.tariff__intro Для тех, кто хочет стать лидером рынка в выдаче или уже является им.
						.tariff__price от 120 000 руб.
						.tariff__description
							p Проанализируем конкурентов, найдём точки роста трафика, укажем на проблемы. Анализ ниши, сайта, конкурентов, юзабилити.
							.h4 Доступных часов по тарифу
							.-ta-l
								+text-icon({
									svgId: 'account',
									text: 'Стоимость часа любого специалиста<br><span class="-c-primary">2 300 руб./час</span>'
								}, {
									iconMods: ['xs', 'gray'],
								})
								+text-icon({
									svgId: 'checked-figure',
									text: 'Стоимость часа любого специалиста<br><span class="-c-primary">2 300 руб./час</span>'
								}, {
									iconMods: ['xs', 'gray'],
								})


						.tariff__order
							button.button.button--gray-lighten.button--wide Заказать
					.tariff__footer
						.h4 В тариф включено
						ul.list-checked.list-checked--figure
							li Технические ошибки
							li Данные в Яндекс.Вебмастере и Google Search Console
							li Анализ внешней ссылочной массы
						details.details
							.details__content
								ul.list-checked.list-checked--figure
									li Оценка видимости и текстовой оптимизации
									li Коммерческие факторы ранжирования
									li Проверка мобильной/адаптивной версии
									li Отчетность
									li Технические ошибки
									li Данные в Яндекс.Вебмастере и Google Search Console
									li Анализ внешней ссылочной массы
									li Оценка видимости и текстовой оптимизации
									li Коммерческие факторы ранжирования
									li Проверка мобильной/адаптивной версии
									li Юзабилити-аудит: пользовательское тестирование сайта
									li.-fw-b Детальный анализ конкурентов
									li.-fw-b Анализ ниши и точек роста
									li.-fw-b Численная оценка потенциала гипотез по росту
									li Отчетность + <span class="-fw-b">Аудит юзабилити</span>
							summary.details__button
								.details__close Скрыть
								.details__show Показать








.container.container--xl

	.splide.carousel.carousel--shadow.splide-nav(data-splide='{"start": 1, "focus": "center", "autoWidth": false, "arrows": false, "fixedWidth": "85%", "breakpoints": {"768": { "fixedWidth": "65%" }, "992": { "destroy": true }} }')
		ul.splide__pagination.splide__pagination--default
		.splide__track
			.splide__list.d-grid.d-grid--md-3
				.d-grid__item.splide__slide
					.tariff.wow.animate__zoomIn(data-wow-duration=".5s" data-wow-delay="0")
						.tariff__title Депозит
						.tariff__body
							.tariff__intro Для тех, кто хочет стать лидером рынка в выдаче или уже является им.
							.tariff__price от 120 000 руб.
							.tariff__description
								p Проанализируем конкурентов, найдём точки роста трафика, укажем на проблемы. Анализ ниши, сайта, конкурентов, юзабилити.
								.h4 Доступных часов по тарифу
								.tariff__track
									.tariff__track-item
										.tariff__track-number 300
									.tariff__track-item.-is-active
										.tariff__track-number 100
									.tariff__track-item
										.tariff__track-number 30
								.-ta-l
									+text-icon({
										svgId: 'account',
										text: 'Стоимость часа любого специалиста<br><span class="-c-primary">2 300 руб./час</span>'
									}, {
										iconMods: ['xs', 'gray'],
									})
									+text-icon({
										svgId: 'checked-figure',
										text: 'Стоимость часа любого специалиста<br><span class="-c-primary">2 300 руб./час</span>'
									}, {
										iconMods: ['xs', 'gray'],
									})
							.tariff__order
								button.button.button--gray-lighten.button--wide Заказать
						.tariff__footer
							.h4 В тариф включено
							.tariff__service-list
								.tariff__service-item
									.tariff__service-icon
										+icon({id: 'user', mods: ['sm']})
									| Персональный менеджер
								.tariff__service-item
									.tariff__service-icon
										+icon({id: 'hand-watch', mods: ['sm']})
									| Хранение доступов
								.tariff__service-item
									.tariff__service-icon
										+icon({id: 'chat', mods: ['sm']})
									| Отчетность в ЛК
				.d-grid__item.splide__slide
					.tariff.tariff--favorite.wow.animate__zoomIn(data-wow-duration=".5s" data-wow-delay="0")
						.tariff__title Абонемент
						.tariff__body
							.tariff__intro Для тех, кто хочет стать лидером рынка в выдаче или уже является им.
							.tariff__price от 120 000 руб.
							.tariff__description
								p Проанализируем конкурентов, найдём точки роста трафика, укажем на проблемы. Анализ ниши, сайта, конкурентов, юзабилити.
								.h4 Доступных часов по тарифу
								.tariff__track
									.tariff__track-item
										.tariff__track-number 300
									.tariff__track-item.-is-active
										.tariff__track-number 100
									.tariff__track-item
										.tariff__track-number 30
								.-ta-l
									+text-icon({
										svgId: 'account',
										text: 'Стоимость часа любого специалиста<br><span class="-c-primary">2 300 руб./час</span>'
									}, {
										iconMods: ['xs', 'gray'],
									})
									+text-icon({
										svgId: 'checked-figure',
										text: 'Стоимость часа любого специалиста<br><span class="-c-primary">2 300 руб./час</span>'
									}, {
										iconMods: ['xs', 'gray'],
									})
							.tariff__order
								button.button.button--gray-lighten.button--wide Заказать
						.tariff__footer
							.h4 В тариф включено
							.tariff__service-list
								.tariff__service-item
									.tariff__service-icon
										+icon({id: 'user', mods: ['sm']})
									| Персональный менеджер
								.tariff__service-item
									.tariff__service-icon
										+icon({id: 'hand-watch', mods: ['sm']})
									| Хранение доступов
								.tariff__service-item
									.tariff__service-icon
										+icon({id: 'chat', mods: ['sm']})
									| Отчетность в ЛК
				.d-grid__item.splide__slide
					.tariff.wow.animate__zoomIn(data-wow-duration=".5s" data-wow-delay="0")
						.tariff__title Постоплата
						.tariff__body
							.tariff__intro Для тех, кто хочет стать лидером рынка в выдаче или уже является им.
							.tariff__price от 120 000 руб.
							.tariff__description
								p Проанализируем конкурентов, найдём точки роста трафика, укажем на проблемы. Анализ ниши, сайта, конкурентов, юзабилити.
								.h4 Доступных часов по тарифу
								.tariff__track
									.tariff__track-item
										.tariff__track-number 300
									.tariff__track-item.-is-active
										.tariff__track-number 100
									.tariff__track-item
										.tariff__track-number 30
								.-ta-l
									+text-icon({
										svgId: 'account',
										text: 'Стоимость часа любого специалиста<br><span class="-c-primary">2 300 руб./час</span>'
									}, {
										iconMods: ['xs', 'gray'],
									})
									+text-icon({
										svgId: 'checked-figure',
										text: 'Стоимость часа любого специалиста<br><span class="-c-primary">2 300 руб./час</span>'
									}, {
										iconMods: ['xs', 'gray'],
									})
							.tariff__order
								button.button.button--gray-lighten.button--wide Заказать
						.tariff__footer
							.h4 В тариф включено
							.tariff__service-list
								.tariff__service-item
									.tariff__service-icon
										+icon({id: 'user', mods: ['sm']})
									| Персональный менеджер
								.tariff__service-item
									.tariff__service-icon
										+icon({id: 'hand-watch', mods: ['sm']})
									| Хранение доступов
								.tariff__service-item
									.tariff__service-icon
										+icon({id: 'chat', mods: ['sm']})
									| Отчетность в ЛК