form.form-short.js-hidden-captcha(action="", type="post")
	label.field-text.field-text--transparent.form-short__field
		span.field-text__input-wrap
			input.field-text__input.js-moving-placeholder(type="text", placeholder="Ваше имя", required)
	label.field-text.field-text--transparent.form-short__field
		span.field-text__input-wrap
			input.field-text__input.js-moving-placeholder(type="tel", placeholder="Номер телефона", required)
	label.field-checkbox.form-short__field
		span.field-checkbox__input-wrap
			input.field-checkbox__input(type='checkbox')
			span.field-checkbox__name
			span.field-checkbox__help-text
				| Согласен с обработкой персональных данных в соответствии с <a href="#">политикой конфиденциальности</a>
	div.form-short__field
		div.button.button--primary.button--wide.js-hidden-button Оставить заявку
	input(type="text", name="MIDDLE_NAME")