.form-short {

	$block-name: &; // #{$block-name}__element

	&__field {
		display: block;

		& + & {
			margin-top: var(--typo-margin-vertical);
		}
	}

	&__note {
		color: var(--color-gray--dark);
		font-size: var(--font-size--medium);
		margin-top: .85em;
	}
}