/**
TODO: рефакторинг вёрстки
 */

.calculator {
  &__inner {
    background: var(--color-white);
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .05);
    padding: var(--offset--lg) var(--offset--lg) 0 var(--offset--lg);

    @media (min-width: $screen-md) {
      margin-bottom: var(--offset--lg);
    }
  }

  &__form {
    padding-bottom: var(--offset--xl);

    @media (min-width: $screen-md) {
      display: flex;
      margin: 0 -15px;
    }
  }

  &__field {
    margin-bottom: var(--offset--lg);

    @media (min-width: $screen-md) {
      flex: 0 0 33.33333%;
      margin-bottom: 0;
      max-width: 33.33333%;
      padding: 0 15px;
    }
  }

  &__field-name {
    color: var(--color-gray--darker);
    font-size: var(--font-size);
    font-weight: 500;
    margin-bottom: 8px;
  }

  &__input {
    background-color: transparent;
    background-image: none !important;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: auto !important;
    border: none;
    border-bottom: 1px solid var(--color-gray--light);
    color: var(--color-gray--dark);
    font-size: var(--font-size);
    line-height: 25px;
    padding: 8px 15px;
    width: 100%;

    &.-success {
      background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='25.5' height='25.5' viewBox='0 0 25.5 25.5'><path d='M10.9506,16.6562,6.028,11.7339l-.84167.8417,5.79109,5.792,9.3491-9.973L19.458,7.581ZM12.75.25a12.5,12.5,0,1,0,12.5,12.5A12.51411,12.51411,0,0,0,12.75.25Zm0,23.8095A11.30951,11.30951,0,1,1,24.0595,12.75,11.32223,11.32223,0,0,1,12.75,24.0595Z' style='fill: rgb(0, 150, 40);stroke: rgb(0, 150, 40);stroke-width: 0.5px;fill-rule: evenodd'/></svg>") !important;
    }

    &.-error {
      background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='25.5' height='25.5' viewBox='0 0 25.5 25.5'><path d='M7.25,17.0521,17.05213,7.25l1.15318,1.15319L8.40319,18.20528ZM8.40332,7.25l9.80213,9.80213-1.15319,1.15318L7.25013,8.40319Z' style='fill: rgb(204, 0, 0)'/><path d='M12.75.25a12.5,12.5,0,1,0,12.5,12.5A12.51411,12.51411,0,0,0,12.75.25Zm0,23.8095A11.30951,11.30951,0,1,1,24.0595,12.75,11.32223,11.32223,0,0,1,12.75,24.0595Z' style='fill: rgb(204, 0, 0);stroke: rgb(204, 0, 0);stroke-width: 0.5px;fill-rule: evenodd'/></svg>") !important;
    }
  }

  &__result {
    background: rgba(0, 150, 40, .05);
    border-radius: 0 0 7px 7px;
    font-size: var(--font-size--huge);
    font-weight: 500;
    margin: 0 calc(var(--offset--lg) * -1);
    padding: var(--offset--md) var(--offset--lg);
    position: relative;

    &.-active {
      display: block;
    }
  }

  &__total-price {
    color: var(--color-green);
  }

  &__toggle-detail {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top: var(--offset--lg);
    display: block;

    @media (min-width: $screen-md) {
      position: absolute;
      right: 30px;
      top: 30px;
      margin-top: 0;
    }

    svg {
      margin-left: 8px;
      transition: .3s;
    }

    &.-active svg {
      transform: scale(1, -1);
    }
  }

  &__detail-result {
    display: none;
    font-size: var(--font-size--medium);
    font-weight: normal;
    margin-top: var(--offset--lg);

    &.-active {
      display: block;
    }
  }

  &__task {
    margin-top: var(--offset--lg);
  }

  &__task-list {
    list-style: none;
    gap: var(--offset--md) calc(var(--offset--md) * 4);
    padding: 0;
    margin: var(--offset--md) 0 0 0;
    display: grid;
    font-size: var(--font-size);
    counter-reset: item 0;

    & li {
      padding-left: 37px;
      counter-increment: item;
      position: relative;

      &::before {
        content: counter(item);
        background-color: var(--color-green--light);
        width: 27px;
        height: 27px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        line-height: 1;
        justify-content: center;
        color: var(--color-white);
        position: absolute;
        top: -5px;
        left: 0;
      }
    }

    & li span {
      color: var(--color-green--light);
    }

    @media (min-width: $screen-md) {
      grid-template-columns: repeat(2, auto);
    }
  }

  &__footer {
    margin-top: var(--offset--lg);
    display: flex;
    flex-direction: column;
    gap: var(--offset--sm);

    @media (min-width: $screen-md) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: var(--offset--lg);
    }
  }

  &__footer-text {
    color: var(--color-gray--dark);
    font-size: var(--font-size--medium);
  }

  &__footer-button {
    text-align: center;

    @media (min-width: $screen-md) {
      flex-shrink: 0;
    }
  }
}
