.tariff
  .tariff__item
    .tariff__name Трафик
    .tariff__item-inner
      p.tariff__desc Продвижение по&nbsp;трафику&nbsp;— оптимальная схема сотрудничества для крупных информационных и&nbsp;коммерческих проектов</p>	
      .tariff__params
        .tariff__price от 1 руб./переход
        .tariff__footer
          button(data-tariff="Трафик" class="js-order button tariff-btn" data-theme="SEO") Выбрать
          p.tariff__detail 
            a(href="/prodvizhenie-sajtov/trafik/") Подробное описание

  .tariff__item.tariff__item--favorite
    .tariff__name
      svg(width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M23.3602 14.7206C23.0602 14.4206 22.5738 14.4206 22.2738 14.7206C21.9738 15.0205 21.9738 15.5069 22.2738 15.8069L23.8234 17.3565C23.9734 17.5065 24.17 17.5815 24.3666 17.5815C24.5632 17.5815 24.7598 17.5064 24.9098 17.3565C25.2097 17.0565 25.2097 16.5701 24.9098 16.2702L23.3602 14.7206Z" fill="white" stroke="white" stroke-width="0.5")
        path(d="M22.8175 8.3636C23.014 8.3636 23.2107 8.28858 23.3606 8.13863L24.9102 6.58904C25.2102 6.2891 25.2102 5.8027 24.9102 5.50271C24.6102 5.20271 24.1239 5.20271 23.8239 5.50271L22.2743 7.0523C21.9743 7.35224 21.9743 7.83864 22.2743 8.13863C22.4243 8.28863 22.6209 8.3636 22.8175 8.3636Z" fill="white" stroke="white" stroke-width="0.5")
        path(d="M25.7121 10.6614H23.5206C23.0964 10.6614 22.7524 11.0053 22.7524 11.4295C22.7524 11.8538 23.0964 12.1977 23.5206 12.1977H25.7121C26.1363 12.1977 26.4802 11.8538 26.4802 11.4295C26.4802 11.0053 26.1363 10.6614 25.7121 10.6614Z" fill="white" stroke="white" stroke-width="0.5")
        path(d="M20.7061 0.505314C20.4635 0.369452 20.1665 0.37529 19.9294 0.520421L11.1322 5.90807H7.22678C6.39271 5.86397 5.59925 6.15465 4.99015 6.728C4.76344 6.94135 4.57232 7.18762 4.42001 7.45597H2.48726C1.25928 7.45597 0.260254 8.45499 0.260254 9.68298V13.1762C0.260254 14.4042 1.25928 15.4032 2.48726 15.4032H4.41617C4.72549 15.9562 5.19243 16.4146 5.7601 16.7179L3.08377 21.3535C2.98109 21.5314 2.9539 21.7429 3.00823 21.941C3.06262 22.1391 3.19403 22.3071 3.37311 22.4076L6.76235 24.309C6.88116 24.3756 7.01021 24.4073 7.13752 24.4073C7.40315 24.4073 7.66131 24.2693 7.80342 24.0231L11.6251 17.4037L19.9382 22.344C20.059 22.4158 20.1948 22.4518 20.3306 22.4518C20.4616 22.4518 20.5926 22.4183 20.7105 22.3512C20.9505 22.2146 21.0987 21.9597 21.0987 21.6836V1.17551C21.0987 0.897539 20.9485 0.641228 20.7061 0.505314ZM2.48726 13.8669C2.10641 13.8669 1.79658 13.557 1.79658 13.1762V9.68298C1.79658 9.30212 2.10641 8.9923 2.48726 8.9923H4.00587C4.00577 9.00377 4.005 9.01519 4.005 9.02666V13.8325C4.005 13.844 4.00572 13.8554 4.00587 13.8669H2.48726ZM5.54133 9.02666C5.54133 8.57692 5.7242 8.14686 6.04304 7.84676C6.34652 7.56116 6.74248 7.41751 7.15857 7.44301C7.17409 7.44393 10.5806 7.44439 10.5806 7.44439V15.5777H7.23032C6.28143 15.5096 5.54133 14.7469 5.54133 13.8324V9.02666ZM6.85233 22.5979L4.80307 21.4482L7.26012 17.1924C7.27492 17.1668 7.28767 17.1406 7.2992 17.1141H10.0183L6.85233 22.5979ZM19.5624 20.3335L12.117 15.9088V7.10656L19.5624 2.54674V20.3335Z" fill="white" stroke="white" stroke-width="0.5")
      | Старт
    .tariff__item-inner
      .tariff__label — Выбор более 110 клиентов —		
      p.tariff__desc Тариф идеально подходит для небольших и/или молодых сайтов в&nbsp;тематиках со&nbsp;средним уровнем конкуренции
      .tariff__params
        .tariff__price от 60 000 руб./мес.
        .tariff__footer
          button(data-tariff="Старт" class="js-order button tariff-btn" data-theme="SEO") Выбрать
          p.tariff__detail
            a(href="/prodvizhenie-sajtov/start/") Подробное описание

  .tariff__item
    .tariff__name SEO 3.0
    .tariff__item-inner
      p.tariff__desc Концептуально новый подход к&nbsp;продвижению, который позволяет ощутить всю мощь SEO по&#8209;настоящему!
      .tariff__params
        .tariff__price от 170 000 руб./мес.
        .tariff__footer
          button(data-tariff="Расширенный" class="js-order button tariff-btn" data-theme="SEO") Выбрать
          p.tariff__detail
            a(href="/prodvizhenie-sajtov/kompleksnoe-seo/") Подробное описание
.v-space--x3
a.button.button--primary(href="/prodvizhenie-sajtov/vybor-tarifa/") Посмотреть все тарифы