.tariffs.tile-slider.tile-slider--place-shadow(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": true, "watchCSS": true, "lazyLoad": true, "adaptiveHeight": false }', data-flickity-start-index='1')
	.tariffs__item.wow.animate__zoomIn(data-wow-duration=".5s" data-wow-delay="0")
		.tariffs__title Стандарт
		.tariffs__info
			.tariffs__intro Корпоративный проект, сайт-витрина, личный блог, портал, интернет-магазин.
			.tariffs__price от 29 900 руб.
			p.tariffs__description 7 дней *
			.tariffs__order
				button.button.button--gray-dark.button--wide Заказать
			.tariffs__detail-info
				p.tariffs__description Комплексный SEO-аудит для сайтов всех типов. Бюджет зависит от размера проекта.
				.h4 В тариф включено
				ul.list-checked.list-checked--figure
					li Технические ошибки
					li Данные в Яндекс.Вебмастере и Google Search Console
					li Анализ внешней ссылочной массы
					li Оценка видимости и текстовой оптимизации
					li Коммерческие факторы ранжирования
					li Проверка мобильной/адаптивной версии
					li Отчетность
	.tariffs__item.tariffs__item--favorite.wow.animate__zoomIn(data-wow-duration=".5s" data-wow-delay=".5s")
		.tariffs__title
			svg(xmlns="http://www.w3.org/2000/svg" width="26.72021" height="24.49947" viewBox="0 0 26.72021 24.49947")
				path(d="M25.07666,17.37545a1.01968,1.01968,0,0,1-1.44043,0l-1.5498-1.54981a1.01819,1.01819,0,0,1,1.44043-1.43945l1.5498,1.5498A1.0197,1.0197,0,0,1,25.07666,17.37545Zm0-12.207a1.0418,1.0418,0,0,0-1.43945,0L22.0874,6.71773a1.01792,1.01792,0,0,0,0,1.43946,1.01675,1.01675,0,0,0,1.43946.00048l1.5498-1.5498A1.01968,1.01968,0,0,0,25.07666,5.16842Zm.625,5.08544H23.51025a1.01807,1.01807,0,1,0,0,2.03614h2.19141a1.01807,1.01807,0,1,0,0-2.03614ZM21.33838,1.01754v20.5083a1.01716,1.01716,0,0,1-1.53906.874l-8.09473-4.80957L8.00928,23.99068a1.02157,1.02157,0,0,1-.88184.50879,1.01083,1.01083,0,0,1-.49853-.13086L3.24023,22.46724a1.01641,1.01641,0,0,1-.38281-1.39648l2.55127-4.41992a3.58245,3.58245,0,0,1-1.146-1.15528H2.47705A2.48012,2.48012,0,0,1,0,13.018V9.52535a2.48,2.48,0,0,1,2.47705-2.477H4.26758a3.34286,3.34286,0,0,1,.541-.66016,3.21893,3.21893,0,0,1,2.4209-.8872l3.82227-.00049L19.78857.14937a1.01808,1.01808,0,0,1,1.54981.86817ZM12.35693,7.08883v8.52l6.94532,4.12792V2.83541ZM7.43945,17.2065,5.13623,21.19674,6.749,22.101,9.57471,17.2065Zm-.20117-2.03515,3.082-.001V7.53658c-3.16455-.00049-3.17724-.00147-3.1875-.00195-.02588-.00147-.05224-.00244-.07812-.00244a1.23173,1.23173,0,0,0-.85059.33886,1.37265,1.37265,0,0,0-.42285.998v4.80517A1.54064,1.54064,0,0,0,7.23828,15.17135ZM3.74463,9.08443H2.47705a.44137.44137,0,0,0-.44092.44092V13.018a.44179.44179,0,0,0,.44092.44141H3.74561Z")
			| Стандарт + Конверсия
		.tariffs__info
			.tariffs__label — Выбор 70% клиентов —
			.tariffs__intro Для проектов, работающих с юзабилити и конверсией, продающих товары и услуги.
			.tariffs__price от 54 900 руб.
			.tariffs__order
				button.button.button--gray-dark.button--wide Заказать
			p.tariffs__description Проведём полный SEO-аудит и дополним его оценкой пользователей из целевой аудитории. Укажем на проблемы в юзабилити.
			.h4 В тариф включено
			ul.list-checked.list-checked--figure
				li Технические ошибки
				li Данные в Яндекс.Вебмастере и Google Search Console
				li Анализ внешней ссылочной массы
				li Оценка видимости и текстовой оптимизации
				li Коммерческие факторы ранжирования
				li Проверка мобильной/адаптивной версии
				li Юзабилити-аудит: пользовательское тестирование сайта
				li Отчетность + <span class="-fw-b">Аудит юзабилити</span>
	.tariffs__item.wow.animate__zoomIn(data-wow-duration=".5s" data-wow-delay="1s")
		.tariffs__title Лидер рынка
		.tariffs__info
			.tariffs__intro Для тех, кто хочет стать лидером рынка в выдаче или уже является им.
			.tariffs__price от 120 000 руб.
			.tariffs__order
				button.button.button--gray-dark.button--wide Заказать
			p.tariffs__description Проанализируем конкурентов, найдём точки роста трафика, укажем на проблемы. Анализ ниши, сайта, конкурентов, юзабилити.
			.h4 В тариф включено
			ul.list-checked.list-checked--figure
				li Технические ошибки
				li Данные в Яндекс.Вебмастере и Google Search Console
				li Анализ внешней ссылочной массы
				li Оценка видимости и текстовой оптимизации
				li Коммерческие факторы ранжирования
				li Проверка мобильной/адаптивной версии
				li Юзабилити-аудит: пользовательское тестирование сайта
				li.-fw-b Детальный анализ конкурентов
				li.-fw-b Анализ ниши и точек роста
				li.-fw-b Численная оценка потенциала гипотез по росту
				li Отчетность + <span class="-fw-b">Аудит юзабилити</span>