.h-scroll.v-scroll
	.h-scroll__container.v-scroll__container
		table.table-compare
			thead
				tr
					th
					td
						div.table-compare__title Трафик
						| От 1 &#8381;/переход
					td.table-compare__favorite
						div.table-compare__title Старт
						| От 60 000 &#8381;/мес.
					td
						div.table-compare__title SEO 3.0
						| От 170 000 &#8381;/мес.
				tr.table-compare__description
					th Что входит?
					td Продвижение по трафику — оптимальная схема сотрудничества для крупных информационных и коммерческих проектов
					td.table-compare__favorite Тариф идеально подходит для небольших и/или молодых сайтов в тематиках со средним уровнем конкуренции
					td Концептуально новый подход к продвижению, который позволяет ощутить всю мощь SEO по-настоящему!
			tbody
				tr
					th 1. Первичное изучение ниши, конкурентов и проекта
					td.table-compare__not-available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 2. Мониторинг видимости конкурентов
					td.table-compare__available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 3. Мониторинг видимости и занимаемых позиций
					td.table-compare__available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 4. Полный технический SEO-аудит
					td.table-compare__available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 5. Составление семантического ядра
					td.table-compare__available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 6. Работы по расширению семантического ядра
					td.table-compare__not-available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 7. Внутренняя оптимизация: title, текстовые заголовки, meta-теги
					td.table-compare__available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 8. Копирайтинг
					td.table-compare__available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 9. Анализ панелей Яндекс Вебмастер и Google Search Console
					td.table-compare__available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 10. Аудит юзабилити с привлечением целевой аудитории проекта
					td.table-compare__not-available
					td.table-compare__not-available.table-compare__favorite
					td.table-compare__available
				tr
					th 11. Внедрение маркетинговых рекомендаций и улучшение юзабилити
					td.table-compare__not-available
					td.table-compare__not-available.table-compare__favorite
					td.table-compare__available
				tr
					th 12. Развитие структуры сайта под спрос в Яндексе и Google
					td.table-compare__not-available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 13. Маркетинговые рекомендации
					td.table-compare__not-available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 14. Внедрение рекомендаций и доработок
					td.table-compare__available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 15. Прототипирование
					td.table-compare__not-available
					td.table-compare__not-available.table-compare__favorite
					td.table-compare__available
				tr
					th 16. Анализ и управление конверсией
					td.table-compare__not-available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 17. Улучшение представления сайта в результатах поиска
					td.table-compare__not-available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 18. Продвинутая поисковая аналитика, отчетность, KPI
					td.table-compare__not-available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 19. Написание продающих и оптимизированных текстов
					td.table-compare__not-available
					td.table-compare__not-available.table-compare__favorite
					td.table-compare__available
				tr
					th 20. Работа по повышению лояльности к продукту и улучшению поведенческих факторов
					td.table-compare__not-available
					td.table-compare__not-available.table-compare__favorite
					td.table-compare__available
				tr
					th 21. Выполнение базовых задач бизнеса (продажи, доставка, повышение NPS, ...)
					td.table-compare__not-available
					td.table-compare__not-available.table-compare__favorite
					td.table-compare__available
				tr
					th 22. Тестирование гипотез продвижение и корректировка SEO-стратегии
					td.table-compare__not-available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
				tr
					th 23. Еженедельная отчетность
					td.table-compare__available
					td.table-compare__available.table-compare__favorite
					td.table-compare__available
			tfoot
				tr
					td
					td
						button.button.button--primary.button--small Выбрать Трафик
					td
						button.button.button--primary.button--small Выбрать Старт
					td
						button.button.button--primary.button--small Выбрать SEO 3.0