.table-compare {
	$block-name: &; // #{$block-name}__element

	font-size: var(--font-size--medium);
	border: 0;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	font-size: var(--font-size--medium);

	&:not(:first-child) {
		margin-top: var(--blocks-margin-vertical);
	}

	&:not(:last-child) {
		margin-bottom: var(--blocks-margin-vertical);
	}

	& th,
	& td {
		font-weight: normal;
		padding: .8em 1.5em;
		text-align: center;
		position: relative;
		border: 1px solid var(--color-gray--lighten);
		background: var(--color-gray--lighter);

		.wide-block--gray-lighter & {
			background: var(--color-white);
		}

		&:first-child {
			border-left: none;
			text-align: left;
		}

		&:last-child {
			border-right: none;
		}

		&#{$block-name}__favorite {
			box-shadow: inset -15px 0 15px -15px rgba(0, 0, 0, .05),
									inset 15px 0 15px -15px rgba(0, 0, 0, .05);
		}
	}

	& tfoot tr td {
		background: none !important;
		border: none;
	}

	& tfoot tr td:first-child {
		border: none;
		position: sticky;
		left: 0;
		z-index: 1;
		background-color: var(--color-white);

		.wide-block--gray-lighter & {
			background: var(--color-gray--lighter);
		}
	}

	& thead tr:first-child th,
	& thead tr:first-child td {
		border-top: none;
	}

	& tbody tr:last-child th,
	& tbody tr:last-child td {
		border-bottom: none;
	}

	& thead {
		& tr:first-child th,
		& tr:first-child td {
			position: sticky;
			top: 0;
			z-index: 1;

			&#{$block-name}__favorite {
				box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, .05),
										inset -15px 0 15px -15px rgba(0, 0, 0, .05),
										inset 15px 0 15px -15px rgba(0, 0, 0, .05);
			}
		}

		& tr:first-child th {
			z-index: 2;
			left: 0;
		}

		& th {
			width: 35%;
			min-width: 200px;
		}

		& td {
			min-width: 150px;
		}
	}

	& tbody {
		& th {
			position: sticky;
			left: 0;
			z-index: 1;
		}

		& tr:last-child {
			& #{$block-name}__favorite {
				box-shadow: inset 0 -15px 15px -15px rgba(0, 0, 0, .05),
										inset -15px 0 15px -15px rgba(0, 0, 0, .05),
										inset 15px 0 15px -15px rgba(0, 0, 0, .05);
			}
		}
	}

	&__description {
		display: none;

		& th,
		& td {
			background: var(--color-gray--lighten) !important;
		}

		& th {
			font-size: var(--font-size--large);
		}

		& td {
			font-size: var(--font-size--small);
			color: var(--color-gray--dark);
		}
	}

	&__title {
		font-weight: 500;
		font-size: var(--font-size--huge);
		position: relative;

		@at-root #{$block-name}__favorite & {
			color: var(--color-green);
		}

		@at-root #{$block-name}__favorite &::before {
			content: '';
			background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='14.45222' height='19' viewBox='0 0 14.45222 19'><path d='M7.22618,3.00439A3.89571,3.89571,0,1,0,11.12192,6.9,3.9001,3.9001,0,0,0,7.22618,3.00439Zm0,6.6607A2.765,2.765,0,1,1,9.99122,6.9,2.76821,2.76821,0,0,1,7.22618,9.66509Zm7.16274-3.025-.9166-1.76951-.2986-1.97028a.56494.56494,0,0,0-.3057-.42067l-1.7816-.89279L9.68674.1683a.56539.56539,0,0,0-.4946-.16076L7.22607.33239,5.26.00754A.56554.56554,0,0,0,4.7654.1683L3.36583,1.58672l-1.78169.89294a.56481.56481,0,0,0-.30557.42067L.98,4.87046.06338,6.64a.56519.56519,0,0,0,0,.52011L.98,8.92959l.29861,1.97031a.5651.5651,0,0,0,.30557.4206l1.78169.893.2673.2709v5.9503a.5653.5653,0,0,0,.81815.5056l2.77479-1.3874,2.77475,1.3874a.56545.56545,0,0,0,.8182-.5056V12.4846l.2674-.2711,1.7816-.893a.56488.56488,0,0,0,.3057-.4206l.2986-1.97016.9166-1.76966A.56553.56553,0,0,0,14.38892,6.64012ZM9.68834,17.52,7.479,16.4152a.56607.56607,0,0,0-.50576,0L4.76381,17.52V13.6303l.00159.0016a.565.565,0,0,0,.4946.1608l1.96607-.3249,1.96607.3249a.57468.57468,0,0,0,.0922.0075.5654.5654,0,0,0,.4024-.1682l.0016-.0017Zm2.73708-9.02746a.56477.56477,0,0,0-.0571.17526l-.2686,1.7731-1.6034.8037a.562.562,0,0,0-.149.1083L9.08763,12.6294,7.31827,12.337a.56484.56484,0,0,0-.18439,0l-1.76936.2924-.76567-.776-.00116-.0012L4.105,11.3529a.56308.56308,0,0,0-.14916-.1083l-1.60339-.8037-.26875-1.773a.56333.56333,0,0,0-.057-.1754L1.20189,6.90017,2.0267,5.30766a.56244.56244,0,0,0,.057-.17526l.26875-1.77313,1.60339-.8035A.564.564,0,0,0,4.105,2.44734L5.36452,1.17083l1.76936.29239a.57041.57041,0,0,0,.18439,0l1.76921-.29239,1.25974,1.27651a.565.565,0,0,0,.1491.10843l1.6033.8035.2687,1.77313a.56722.56722,0,0,0,.057.17526l.8248,1.59251Z' style='fill: rgb(204,0,0)'/></svg>");
			width: 1em;
			height: 1.2em;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			display: inline-block;
			vertical-align: middle;
			margin-right: .25em;
		}
	}

	&__available::after,
	&__not-available::after {
		content: '';
		width: 1.8em;
		height: 1.8em;
		background-size: contain;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		line-height: 0;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&__available::after {
		background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path d='M15,30A15,15,0,1,1,30,15,15.01672,15.01672,0,0,1,15,30ZM15,2A13,13,0,1,0,28,15,13.01442,13.01442,0,0,0,15,2Zm7.7907,9.8387-.6977-.6452a.80422.80422,0,0,0-1.0465,0l-7.2907,6.8388L9.95349,14.4516a.804.804,0,0,0-1.04651,0l-.69768.6452a.66392.66392,0,0,0,0,.9677l5.0233,4.742A.74107.74107,0,0,0,13.7558,21a.80455.80455,0,0,0,.5233-.1935l8.5116-7.9678A.70182.70182,0,0,0,22.7907,11.8387Z' style='fill: rgb(0, 150, 40)'/></svg>");
	}

	&__not-available::after {
		background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path d='M15,30A15,15,0,1,1,30,15,15.01672,15.01672,0,0,1,15,30ZM15,2A13,13,0,1,0,28,15,13.01442,13.01442,0,0,0,15,2Zm1.33356,13,3.35394-3.2196a1.08267,1.08267,0,0,0,.3125-.781,1.12927,1.12927,0,0,0-.1825-.6239.74331.74331,0,0,0-1.17169-.156L14.99988,13.7193,11.354,10.21948a.74331.74331,0,0,0-1.17169.156,1.141,1.141,0,0,0,.13,1.40491L13.6662,15l-3.35388,3.2196a1.141,1.141,0,0,0-.13,1.40491.74335.74335,0,0,0,1.17169.156l3.64588-3.49982,3.64593,3.49982a.74335.74335,0,0,0,1.17169-.156A1.12927,1.12927,0,0,0,20,19.00061a1.08267,1.08267,0,0,0-.3125-.781Z' style='fill: rgb(196, 196, 196)'/></svg>");
	}

	@media (min-width: $screen-md) {
		&__description {
			display: table-row;
		}
	}

	@media (max-width: $screen-md - 1) {
		table-layout: auto;
	}
}