.main-slider(data-flickity-options='{ "cellAlign": "left", "contain": true, "prevNextButtons": false, "lazyLoad": true }')
		.main-slider__item(style="background-image: url(blocks/main-slider/images/main-1.jpg)")
			.page-container.main-slider__item-inner
				.main-slider__form
					.main-slider__form-inner
						h3.-no-margin Оставить заявку
						include ../form-short/index

				.main-slider__info
					h1.main-slider__title 1600 ₽/час единая цена за комплекс
					.main-slider__description Цена ниже рынка при заказе комплекса из 2 услуг и более: SEO, SMM, ORM, поддержка сайта, контекстная реклама
		.main-slider__item(style="background-image: url(blocks/main-slider/images/main-2.jpg)")
			.page-container.main-slider__item-inner
				.main-slider__info
					h1.main-slider__title Продвижение<br>сайтов по трафику
					.main-slider__description
						p Экономьте до 83 000 рублей на продвижение, платя  только за полученный целевой трафик, без рисков.  Сами предложим точки роста целевых посетителей и оперативно их внедрим.
						.buttons-group
							a.button.button--green(href="#") Оставить заявку
							a.button.button--not-fill(href="#") Узнать стоимость
