.main-slider
	.main-slider__item.main-slider__item--pb0
		| <video autoplay muted loop class="main-slider__image">
		| <source src="blocks/main-slider/images/promo.mp4" type="video/mp4" />
		| Download the
		| <a href="/shared-assets/videos/flower.webm">WEBM</a>
		| or
		| <a href="blocks/main-slider/images/promo.mp4">MP4</a>
		| video.
		| </video>
		.page-container.main-slider__item-inner
			.main-slider__info
				.main-slider__title Делаем сайты которые, работают
				.main-slider__description
					p Обеспечиваем бизнесу:
					ul.list-checked
						li рост числа клиентов на 35% после редизайна сайта
						li рост конверсии на 47% после А/В тестирования
						li рост продаж и прибыли клиента на 30% после внедрения виджетов

		.main-slider__more
			.page-container
				button.main-slider__show-more(data-toggle='main-slider-1') Узнать подробности

			.main-slider__more-info(data-toggle-target='main-slider-1')
				.page-container.grid
					.grid__item.grid__item--sm-60.grid__item--xs-order-1
						p «Пиксель Плюс» создает и внедряет решения для автоматизации бизнеса с помощью веб-технологий. Наши решения — это лендинги, корпоративные сайты, интернет-магазины, личные кабинеты, микросервисы, порталы, высоконагруженные веб-системы, которые помогают решать реальные задачи.
						.buttons-group
							a.button.button--primary(href="#") Заказать разработку
							a.button.button--not-fill(href="#") Отзывы клиентов
					.grid__item.grid__item--sm-40
						a.video(href="#")
							video(autoplay="" loop="" muted="" playsinline="" poster="assets/video-poster-dev.jpg")
								source(src="https://pixelplus.ru/doc/video/dev-video.mp4")