.illustration
	.illustration__text
		p Основные маркетплейсы на рынке ориентированы на работу с B2C сегментом и оказывают услуги розничной торговли. Поэтому, если ваша организация работаем в указанном сегменте, данный источник станет для Вас эффективным каналом привлечения новых клиентов. Также стоит отметить, что каждая платформа имеет свои особенности, так, например, Wildberries позиционирует себя как магазин модной одежды с самыми низкими ценами, а Яндекс.Маркет хорошо продает сложное техническое оборудование и бытовую технику. Для каждого интернет-магазина подбираются наиболее подходящие маркетплейсы.
		p Однако на рынке есть ряд маркетплейсов, которые работают в B2B сегменте. К ним относятся: TIU, Alibaba.
	.illustration__image.illustration__image--top5
		img(src="assets/illustration.png" width="420" height="420" alt="")