.tools.tile-slider(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": true, "groupCells": true, "adaptiveHeight": true }')
	.tools__item
		.tools__icon
			svg(xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512")
				path(d="M471.579,0H40.42105A40.421,40.421,0,0,0,0,40.42105V471.579A40.42106,40.42106,0,0,0,40.42105,512H471.579A40.42107,40.42107,0,0,0,512,471.579V40.42105A40.42106,40.42106,0,0,0,471.579,0Z" style="fill: #4c75a3")
				path(d="M252.63158,349.541h19.73895a16.842,16.842,0,0,0,9.02737-3.941,14.61882,14.61882,0,0,0,2.56-8.75789s-.40422-26.50949,11.92421-30.31579,27.68843,25.6,44.22736,37.05263c12.46315,8.58948,21.96209,6.73684,21.96209,6.73684l44.16-.60631s23.10737-1.44843,12.16-19.60421c-.90946-1.48212-6.4-13.47369-32.84211-37.99579-27.68842-25.701-23.98316-21.52421,9.36421-65.98736,20.21053-26.94737,28.42948-43.58736,25.90317-50.52631s-17.34738-4.98526-17.34738-4.98526l-49.7179.33683a11.38518,11.38518,0,0,0-6.4337,1.11159,14.07989,14.07989,0,0,0-4.379,5.35579A288.71011,288.71011,0,0,1,324.581,216.1516c-22.16422,37.59157-30.98946,39.57895-34.62736,37.25473-8.42106-5.42316-6.299-21.86105-6.299-33.68421,0-36.44632,5.52421-51.60421-10.77894-55.54526a84.00842,84.00842,0,0,0-23.20842-2.49264c-17.7179,0-32.741,0-41.22946,4.24421-5.659,2.7621-10.10527,8.92632-7.37684,9.29684a22.26523,22.26523,0,0,1,14.6863,7.37683c5.08633,6.90526,4.9179,22.50106,4.9179,22.50106s2.89684,42.88-6.73685,48.20209c-6.73684,3.63791-15.899-3.8063-35.6379-37.92842a316.90316,316.90316,0,0,1-17.85263-36.85053,14.7536,14.7536,0,0,0-4.10947-5.5242,14.5856,14.5856,0,0,0-2.52632-1.4821,19.03145,19.03145,0,0,0-8.08422-1.58317l-44.261.30316s-7.10737,0-9.70105,3.36842-.20211,8.42106-.20211,8.42106,37.05264,86.53473,78.88843,130.15577c38.4,39.94948,82.18948,37.35578,82.18948,37.35578Z" style="fill: #fff; fill-rule: evenodd")
		.tools__title ВКонтакте
		.tools__info
			ul.list.list--checked
				li Анализ ЦА и разработка стратегии
				li Контент-маркетинг
				li Создание графических креативов
				li Дизайн сообщества/публикаций, фирм.стиль
				li Администрирование сообщества
				li SMRM (управление репутацией в&nbsp;соц.сетях)

	.tools__item
		.tools__icon
			svg(xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512")
				rect(width="512" height="512" rx="40.42105" style="fill: #ff9800")
				path(d="M256,121.26316a67.97474,67.97474,0,1,0,67.97474,67.97474h0a67.941,67.941,0,0,0-67.90736-67.97474Q256.03369,121.26315,256,121.26316Zm0,101.861a33.88631,33.88631,0,1,1,33.88631-33.88632h0a33.85263,33.85263,0,0,1-33.8189,33.88632Q256.03368,223.12425,256,223.1242Z" style="fill: #fff")
				path(d="M356.17684,267.621a23.04,23.04,0,0,0-31.36028-8.844l-.03341.01876c-46.28209,25.93683-91.2842,25.93683-137.56631,0a23.14733,23.14733,0,1,0-22.56843,40.421,205.23775,205.23775,0,0,0,48.26948,19.77265l-32.741,32.74105a22.93705,22.93705,0,1,0,32.43789,32.43789L256,340.61472,299.38526,384a22.937,22.937,0,0,0,32.43788-32.43789L299.08208,318.821a205.2372,205.2372,0,0,0,48.26949-19.77264,23.04,23.04,0,0,0,8.86651-31.35392l-.04124-.07345Z" style="fill: #fff")
		.tools__title Одноклассники
		.tools__info
			ul.list.list--checked.text-columns.text-columns--lg-2
				li Анализ ЦА и разработка стратегии
				li Контент-маркетинг
				li Создание графических креативов
				li Дизайн сообщества/публикаций, фирм.стиль
				li Администрирование сообщества
				li SMRM (управление репутацией в соц.сетях)
				li Анализ ЦА и разработка стратегии
				li Контент-маркетинг
				li Создание графических креативов
				li Дизайн сообщества/публикаций, фирм.стиль
				li Администрирование сообщества
				li SMRM (управление репутацией в&nbsp;соц.сетях)