.infographics {
	$block-name: &; // #{$block-name}__element

	line-height: 1.4;

	&:not(:first-child) {
		margin-top: var(--blocks-margin-vertical);
	}

	&:not(:last-child) {
		margin-bottom: var(--blocks-margin-vertical);
	}

	&__item {
	}

	&__icon {
		fill: var(--color-primary);
		margin-bottom: 1em;
		width: 100%;

		& svg {
			display: block;
			fill: var(--color-primary);
			margin: 0 auto;
			max-height: 55px;
			width: auto;
		}

		&--shadow {
			&::after {
				background: var(--color-gray--lighten);
				border-radius: 50%;
				content: '';
				display: block;
				height: .625em;
				margin: .9em auto 0 auto;
				width: 70px;
			}

			@supports (width: fit-content) {
				&::after {
					width: 100%;
				}
			}
		}

		@supports (width: fit-content) {
			width: fit-content;
		}
	}

	&__title {
		font-size: var(--font-size--large);
		font-weight: 500;
	}

	&__title + &__description {
		margin-top: .5em;
	}

	&--type1 {
		display: flex;
		flex-wrap: wrap;
		gap: calc(var(--grid-gutter-y) * 2) calc(var(--grid-gutter-x) * 2);
		justify-content: center;

		& #{$block-name}__item {
			flex: 1 1 20%;
			max-width: 50%;
			text-align: center;

			@media (min-width: $screen-sm) {
				max-width: 33.33333%;
			}

			@media (min-width: $screen-lg) {
				max-width: 25%;
			}
		}

		& #{$block-name}__icon {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&--type3 {

		& #{$block-name}__item {
			display: grid;
			gap: 0 calc(var(--grid-gutter-x) * 2);
			grid-template-areas:  "icon title"
	                          "icon description";
			grid-template-columns: minmax(60px, 70px) auto;
			grid-template-rows: minmax(0, max-content) auto;
			margin-right: var(--grid-gutter-x);
			min-height: 100%;
			width: 100%;

			@media (min-width: $screen-sm) {
				margin-right: var(--grid-gutter-x);
				width: calc(50% - var(--grid-gutter-x) / 2);
			}
		}

		& #{$block-name}__icon {
			grid-area: icon;
			margin: 0;
		}

		& #{$block-name}__title {
			grid-area: title;
		}

		& #{$block-name}__description {
			grid-area: description;
		}

		@media (min-width: $screen-lg) {
			display: flex;
			flex-wrap: wrap;
			--x-gap: calc(var(--grid-gutter-x) * 5.5);
			gap: calc(var(--grid-gutter-y) * 3.5) var(--x-gap);

			& #{$block-name}__item {
				flex: 1 1 calc(50% - var(--x-gap) / 2);
				margin: 0;
				max-width: calc(50% - var(--x-gap) / 2);
				min-height: unset;
				width: unset;
			}
		}
	}

	&--type4 {

		& #{$block-name}__item {
			background: var(--color-gray--lighter);
			border-radius: 4px;
			display: grid;
			gap: calc(var(--grid-gutter-x) / 2) calc(var(--grid-gutter-x) / 2);
			grid-template-areas:  "icon title"
	                          "description description";
			grid-template-columns: minmax(60px, 70px) auto;
			grid-template-rows: minmax(0, max-content) auto;

			margin-right: var(--grid-gutter-x);
			min-height: 100%;
			padding: 1.5em;
			position: relative;
			width: 100%;

			.wide-block--gray-lighter &,
			.wide-block--gray-lighten & {
				background: var(--color-white);
			}

			@media (min-width: $screen-sm) {
				margin-right: var(--grid-gutter-x);
				width: calc(50% - var(--grid-gutter-x) / 2);
			}
		}

		& #{$block-name}__icon {
			grid-area: icon;
			margin: 0;
			position: relative;

			& svg {
				height: auto;
				max-width: 50px;
				position: relative;
				z-index: 1;
				margin-left: .5em;
			}

			.wide-block--gray-lighter &::before ,
			.wide-block--gray-lighten &::before {
				background: var(--color-gray--lighten);
				border-radius: 50%;
				content: "";
				display: block;
				height: 55px;
				left: -.5em;
				position: absolute;
				top: 0;
				width: 55px;
			}
		}

		& #{$block-name}__title {
			align-items: center;
			display: flex;
			grid-area: title;
		}

		& #{$block-name}__description {
			color: var(--color-gray--dark);
			grid-area: description;
		}

		@media (min-width: $screen-lg) {
			display: flex;
			flex-wrap: wrap;
			--x-gap: calc(var(--grid-gutter-x) * 2);
			gap: var(--x-gap);

			& #{$block-name}__item {
				flex: 1 1 calc(25% - var(--x-gap) * 3 / 4);
				margin: 0;
				max-width: calc(25% - var(--x-gap) * 3 / 4);
				min-height: unset;
				width: unset;
			}
		}

	}

	&--type5 {
		& #{$block-name}__item {
			--circle-size: 5em;

			display: grid;
			gap: 0 var(--grid-gutter-x);
			grid-template-areas:  "icon title"
                            "icon description";
			grid-template-rows: minmax(0,max-content) auto;
		}

		& #{$block-name}__icon {
			grid-area: icon;
			margin: 0;

			&-inner {
				align-items: center;
				background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), #CC0000;
				background-blend-mode: overlay, normal;
				border-radius: 50%;
				display: flex;
				height: var(--circle-size);
				justify-content: center;
				position: relative;
				width: var(--circle-size);
			}

			& svg {
				fill: var(--color-white);
				max-height: calc(var(--circle-size) * 2 / 4);
				max-width: calc(var(--circle-size) * 2 / 4);
			}
		}

		& #{$block-name}__title {
			grid-area: title;
		}

		& #{$block-name}__description {
			grid-area: description;
		}

		@media (min-width: $screen-md) {
			& #{$block-name}__item {
				--circle-size: 7.5em;

				gap: 0 calc(var(--grid-gutter-x) * 2);
			}
		}

		@media (min-width: $screen-lg) {
			& #{$block-name}__item {
				display: flex;
				align-items: center;
				margin: 0 0 var(--blocks-margin-vertical) 0;
				padding: var(--blocks-margin-vertical) 0 0 0;

				& + #{$block-name}__item {
					border-top: 1px solid var(--color-gray--lighten);
				}
			}

			& #{$block-name}__title {
				max-width: 25%;
				flex: 0 0 25%;
			}
		}
	}

	&--type6 {
		& #{$block-name}__item {
			background: var(--color-white);
			border-radius: 5px;
			margin-right: var(--grid-gutter-x);
			min-height: 100%;
			padding: 1.5em;
			transition: var(--transition-time);
			width: 100%;
		}

		@at-root
		.wide-block:not(.wide-block--gray-lighter):not(.wide-block--gray-lighten) & #{$block-name}__item {
			border: 1px solid var(--color-gray--lighten);
		}

		& #{$block-name}__icon {
			margin-bottom: 1.75em;
			position: relative;

			& svg {
				display: block;
				margin-left: 1.2em;
				position: relative;
				z-index: 1;
				fill: var(--color-primary);
			}

			&::before {
				background: var(--color-gray--lighten);
				border-radius: 50%;
				content: '';
				display: block;
				height: 55px;
				left: 0;
				position: absolute;
				top: 0;
				width: 55px;
			}
		}

		& #{$block-name}__title {
			font-size: var(--font-size-h3);
			font-weight: 500;
			line-height: 1.2;
			margin: 1em 0 .75em 0;
			padding: 0;
		}

		& #{$block-name}__description {
			color: var(--color-gray--dark);
			font-size: var(--font-size--medium);
		}

		@media (min-width: $screen-sm) {

			& #{$block-name}__item {
				margin-right: var(--grid-gutter-x);
				width: calc(50% - var(--grid-gutter-x) / 2);
			}
		}

		@media (min-width: $screen-lg) {
			display: grid;
			gap: calc(var(--grid-gutter-y) * 4 / 3) calc(var(--grid-gutter-x) * 4 / 3);
			grid-template-columns: 1fr 1fr;

			& #{$block-name}__item {
				margin: 0;
				padding: 2em;
				width: auto;
			}
		}

		@media (min-width: $screen-xl) {
			&:not(&--two-columns) {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}


	}

	@media (min-width: $screen-xl) {
		&--xl-nowrap {
			flex-wrap: nowrap;
		}
	}

	&--stages {
		counter-reset: item;

		& #{$block-name}__item {
			position: relative;

			&::after {
				color: var(--color-gray--light);
				content: "0"counter(item);
				counter-increment: item;
				position: absolute;
				right: .5em;
				top: .5em;
			}
		}
	}
}