.tile-news,
.tile-items {
	$block-name: &; // #{$block-name}__element

	&:not(:first-child) {
		margin-top: var(--blocks-margin-vertical);
	}

	&:not(:last-child) {
		margin-bottom: var(--blocks-margin-vertical);
	}

	&__item {
		background-color: var(--color-white);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		margin-right: var(--grid-gutter-x);
		min-height: 100%;
		min-height: 100%;
		transition: var(--transition-time);
		width: 100%;
		text-decoration: none;

		&:hover {
			box-shadow: var(--shadow);
		}
	}

	&__image {
		align-items: center;
		background-color: var(--color-gray--lighter);
		border-radius: 10px 10px 0 0;
		display: flex;
		height: 200px;
		justify-content: center;
		overflow: hidden;
		width: 100%;

		& img {
			max-height: 100%;
			max-width: 100%;
			width: auto;
			height: auto;
		}

		&--no-resized {
			align-items: flex-start;

			& img {
				width: 100%;
				max-height: none;
			}
		}

		& svg {
			max-width: 80%;
			max-height: 80%;
		}

		@at-root
		.wide-block--gray-lighter & {
			background-color: var(--color-gray--lighten);
		}
	}

	&__info {
		border: 1px solid var(--color-gray--lighten);
		border-radius: 0 0 10px 10px;
		border-top: none;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 1.5em;

		[class*=wide-block--] & {
			border: none;
		}
	}

	&__label {
		margin-bottom: .5em;
		font-size: var(--font-size--medium);
		display: inline-block;
		padding: .2em .5em;
		background: var(--color-gray--darker);
		text-decoration: none;
		color: var(--color-white);
		width: fit-content;
	}

	&__title {
		flex-grow: 1;
		font-size: var(--font-size--medium);
	}

	a#{$block-name}__item &__title {
		text-decoration: underline;
		transition: text-decoration-color .3s;

		&:hover {
			text-decoration-color: transparent;
		}
	}

	a#{$block-name}__item:hover &__title {
		text-decoration-color: transparent;
	}

	&__description {
		font-size: var(--font-size--medium);
		margin-top: .5em;
		flex-grow: 999; // Если элементе есть, перебивает растягивание &__title
	}

	&__date {
		color: var(--color-gray);
		font-size: var(--font-size--medium);
		margin-top: 1em;

		&::before {
			content: '— ';
		}
	}

	@media (min-width: $screen-sm) {

		&__item {
			width: calc(50% - var(--grid-gutter-x) / 2);
		}
	}

	@media (min-width: $screen-md) {

		&__item {
			width: calc(33.33333% - var(--grid-gutter-x) * 2 / 3);
		}
	}

	@media (min-width: $screen-xl) {

		&__item {
			width: calc(25% - var(--grid-gutter-x) * 3 / 4);
		}
	}
}