.news-tile {
  $block-name: &; // #{$block-name}__element

  background-color: var(--color-white);
  border-radius: var(--border-radius--sm);
  display: flex;
  flex-direction: column;
  transition: var(--transition-time);
  width: 100%;
  text-decoration: none;

  &:hover {
    box-shadow: var(--shadow);
  }

  .splide__slide & {
    min-height: 100%;
  }

	&__image {
		align-items: center;
		background-color: var(--color-gray--lighter);
		border-radius: 10px 10px 0 0;
		display: flex;
		height: 200px;
		justify-content: center;
		overflow: hidden;
		width: 100%;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@at-root
		.wide-block--gray-lighter & {
			background-color: var(--color-gray--lighten);
		}
	}

  &__info {
    border: 1px solid var(--color-gray--lighten);
    border-top: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1.5em;

    [class*=wide-block--] & {
      border: none;
    }
  }

  @at-root
  a#{$block-name} {
    & #{$block-name}__title {
      color: var(--link-color);
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: var(--transition-time);
    }

    &:hover #{$block-name}__title {
      color: var(--link-color--hover);
      text-decoration-color: currentColor;
    }
  }

  &__title {
    flex-grow: 1;
    font-size: var(--font-size--medium);
  }

  a#{$block-name} &__title {
    text-decoration: underline;
    transition: text-decoration-color .3s;

    &:hover {
      text-decoration-color: transparent;
    }
  }

  a#{$block-name}:hover &__title {
    text-decoration-color: transparent;
  }

  &__description {
    font-size: var(--font-size--medium);
    margin-top: .5em;
    flex-grow: 9999; // Если элементе есть, перебивает растягивание &__title
    color: var(--color-gray--dark);
  }

  &__note {
    color: var(--color-gray);
    font-size: var(--font-size--medium);
    margin-top: 1em;
  }
}