/**
TODO: сделать сброс списков миксином
 */

.list,
.ul-marker,
.ol-numbers {
	display: flex;
	flex-direction: column;
	line-height: var(--line-height);
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;

	&:not(:first-child) {
		margin-top: var(--typo-margin-vertical);
	}

	&:not(:last-child) {
		margin-bottom: var(--typo-margin-vertical);
	}

	& > li {
		padding: 0 0 0 1.5em;
		position: relative;

		&::before {
			left: 0;
			position: absolute;
			top: 0;
		}
	}

	& li + li {
		margin-top: calc(var(--typo-margin-vertical) * .5);
	}
}

ul.list,
ul.ul-marker {

	& > li {

		&::before {
			color: inherit;
			content: "•";
			font-size: 1.5em;
			line-height: 0;
			margin: .6em 0 0 0;
		}
	}
}

ol.list,
ol.ol-numbers {
	counter-reset: item;

	& > li {

		&::before {
			content: counters(item,".") ". ";
			counter-increment: item;
		}
	}
}

ul.list-checked {
	display: flex;
	flex-direction: column;
	line-height: var(--line-height);
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;

	&:not(:first-child) {
		margin-top: var(--typo-margin-vertical);
	}

	&:not(:last-child) {
		margin-bottom: var(--typo-margin-vertical);
	}

	& > li {
		padding: 0 0 0 1.8em;
		position: relative;

		&::before {
			content: '';
			height: 1.2em;
			left: 0;
			position: absolute;
			top: 0;
			width: 1.2em;
			margin: .2em 0 0 0;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-color: transparent;
			background-image: url("data:image/svg+xml;charset=utf-8,<svg width='15' height='10' viewBox='0 0 15 10' xmlns='http://www.w3.org/2000/svg'><path d='M14.7907 0.83871L14.093 0.193548C13.814 -0.0645161 13.3256 -0.0645161 13.0465 0.193548L5.75581 7.03226L1.95349 3.45161C1.67442 3.19355 1.18605 3.19355 0.906977 3.45161L0.209302 4.09677C-0.0697674 4.35484 -0.0697674 4.80645 0.209302 5.06452L5.23256 9.80645C5.37209 9.93548 5.54651 10 5.75581 10C5.93023 10 6.13953 9.93548 6.27907 9.80645L14.7907 1.83871C15.0698 1.54839 15.0698 1.12903 14.7907 0.83871Z' fill='rgb(166,166,166)'/></svg>");
		}

		.main-slider &::before {
			background-image: url("data:image/svg+xml;charset=utf-8,<svg width='15' height='10' viewBox='0 0 15 10' xmlns='http://www.w3.org/2000/svg'><path d='M14.7907 0.83871L14.093 0.193548C13.814 -0.0645161 13.3256 -0.0645161 13.0465 0.193548L5.75581 7.03226L1.95349 3.45161C1.67442 3.19355 1.18605 3.19355 0.906977 3.45161L0.209302 4.09677C-0.0697674 4.35484 -0.0697674 4.80645 0.209302 5.06452L5.23256 9.80645C5.37209 9.93548 5.54651 10 5.75581 10C5.93023 10 6.13953 9.93548 6.27907 9.80645L14.7907 1.83871C15.0698 1.54839 15.0698 1.12903 14.7907 0.83871Z' fill='rgb(255,255,255)'/></svg>");
		}
	}

	& li + li {
		margin-top: calc(var(--typo-margin-vertical) * .5);
	}

	&--figure {

		& li {

			&::before {
				background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='18.4255' height='17' viewBox='0 0 18.4255 17'><path d='M17.24,6.78746a2.60733,2.60733,0,0,1-.619-.57985,2.58151,2.58151,0,0,1,.1431-.84414,2.30138,2.30138,0,0,0-.0929-2.05069A2.58071,2.58071,0,0,0,14.668,2.596a2.9368,2.9368,0,0,1-.8757-.13253,2.7411,2.7411,0,0,1-.4119-.77387C13.1116,1.049,12.8055.32272,12.0586.09136a2.48855,2.48855,0,0,0-2.02.544,2.759,2.759,0,0,1-.82617.40123,2.72585,2.72585,0,0,1-.81166-.4078A2.49545,2.49545,0,0,0,6.34953.0716,2.43838,2.43838,0,0,0,5.03229,1.67276a2.71313,2.71313,0,0,1-.41116.77093A2.9162,2.9162,0,0,1,3.731,2.5784a2.49176,2.49176,0,0,0-1.99337.72334,2.31342,2.31342,0,0,0-.07007,2.03533,2.71934,2.71934,0,0,1,.14618.8412,2.77327,2.77327,0,0,1-.61218.57472C.66623,7.17771,0,7.70555,0,8.49627c0,.78556.65331,1.30758,1.1779,1.72633a2.59846,2.59846,0,0,1,.61751.5923,2.52025,2.52025,0,0,1-.14467.8339,2.27363,2.27363,0,0,0,.102,2.0697,2.62311,2.62311,0,0,0,2.00557.7088,2.91565,2.91565,0,0,1,.87565.1325,2.755,2.755,0,0,1,.4104.7731c.26954.6406.57486,1.3669,1.32257,1.599A1.45714,1.45714,0,0,0,6.81009,17a3.198,3.198,0,0,0,1.57765-.6106,2.74365,2.74365,0,0,1,.82462-.4012,2.68062,2.68062,0,0,1,.80934.3968,2.48891,2.48891,0,0,0,2.0399.5381,2.43748,2.43748,0,0,0,1.3165-1.6019,2.72348,2.72348,0,0,1,.4111-.7709,2.90184,2.90184,0,0,1,.8863-.1347,2.52424,2.52424,0,0,0,1.9896-.7131,2.29638,2.29638,0,0,0,.0899-2.0536,2.69925,2.69925,0,0,1-.1432-.8332,2.78264,2.78264,0,0,1,.6114-.5747c.5361-.42469,1.2023-.95329,1.2023-1.744C18.4255,7.71289,17.7677,7.19965,17.24,6.78746ZM16.2555,9.112a2.97,2.97,0,0,0-1.0874,1.241,2.85686,2.85686,0,0,0,.1112,1.656,4.662,4.662,0,0,1,.1736.8127,2.87132,2.87132,0,0,1-.8787.1325,3.26625,3.26625,0,0,0-1.6842.4144,3.03715,3.03715,0,0,0-.9236,1.4028,4.23115,4.23115,0,0,1-.3663.7592,2.80189,2.80189,0,0,1-.7583-.3814,3.238,3.238,0,0,0-1.62869-.626,3.28072,3.28072,0,0,0-1.63933.6282,6.20848,6.20848,0,0,1-.71114.3997,2.73867,2.73867,0,0,1-.40583-.7665,3.0166,3.0166,0,0,0-.93272-1.4123,3.21924,3.21924,0,0,0-1.66445-.4049,3.921,3.921,0,0,1-.88021-.1112,2.50006,2.50006,0,0,1,.14466-.8361,2.90209,2.90209,0,0,0,.12031-1.6539A3.02177,3.02177,0,0,0,2.15175,9.09812a3.03518,3.03518,0,0,1-.63046-.59081c.03426-.13765.434-.45465.64871-.62376a2.97553,2.97553,0,0,0,1.08732-1.2417,2.86855,2.86855,0,0,0-.115-1.66853,5.75859,5.75859,0,0,1-.18274-.80387,2.98464,2.98464,0,0,1,.87334-.12959A3.232,3.232,0,0,0,5.521,3.62549a3.03472,3.03472,0,0,0,.92362-1.402,4.62947,4.62947,0,0,1,.36167-.7585,2.86029,2.86029,0,0,1,.766.39244A3.22577,3.22577,0,0,0,9.21311,2.501a3.28111,3.28111,0,0,0,1.63859-.62743,6.096,6.096,0,0,1,.7112-.39974,2.75967,2.75967,0,0,1,.4058.76653,3.0178,3.0178,0,0,0,.9327,1.41154,3.21566,3.21566,0,0,0,1.666.40558,4.328,4.328,0,0,1,.865.10322,2.55584,2.55584,0,0,1-.1432.839,2.92814,2.92814,0,0,0-.1157,1.65974,2.96445,2.96445,0,0,0,1.1078,1.26585A2.87179,2.87179,0,0,1,16.9004,8.5,2.9344,2.9344,0,0,1,16.2555,9.112ZM12.6172,5.73844A.781.781,0,0,0,11.5451,5.83L8.15,9.733,6.70556,8.34485a.7822.7822,0,0,0-1.07663,0,.71159.71159,0,0,0,0,1.03523l2.033,1.95482a.77166.77166,0,0,0,.53833.2145.23938.23938,0,0,0,.03275-.0015.77013.77013,0,0,0,.5505-.2613L12.7124,6.76927A.71235.71235,0,0,0,12.6172,5.73844Z' fill='rgb(166,166,166)'/></svg>");
				background-size: contain;
			}
		}
	}
}