.download-block
	.download-block__title Бриф на разработку<br>сайта на Tilda
	.download-block__button
		button.button.button--primary Скачать (word, 1,8 Мб)
	.download-block__image
		.download-block__image--inner
			svg(xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 96 96")
				path(d="M50.3362,42.5919v33.28h-6.208V40.2559Zm-24.8001-3.104c0-8.512,4.64-13.152,10.08-13.152s6.208.768,12.384,3.872,7.744,3.872,10.848,3.872,4.64-2.336,4.64-6.976h5.408c.768,9.28-4.64,13.152-10.08,13.152s-6.976-.768-12.384-3.872-6.976-3.872-10.08-3.872-4.64,2.336-5.408,7.744ZM48,96A48,48,0,1,1,96,48,48.05859,48.05859,0,0,1,48,96ZM48,3.104A44.896,44.896,0,1,0,92.896,48,44.9311,44.9311,0,0,0,48,3.104Z")