h1, .h1 {
	font-size: var(--font-size-h1);
	font-weight: 500;
	margin: 0 0 .75em 0;
	text-transform: uppercase;
	line-height: 1.2;
}

h2, .h2 {
	font-size: var(--font-size-h2);
	font-weight: 500;
	margin: 0 0 .75em 0;
	padding: 0;
}

h3, .h3 {
	font-size: var(--font-size-h3);
	font-weight: 500;
	margin: 0 0 .75em 0;
	padding: 0;
}

h4, .h4 {
	font-size: var(--font-size-h4);
	font-weight: 500;
	margin: 0 0 .75em 0;
	padding: 0;
}

h5, .h5 {
	font-size: var(--font-size-h5);
	font-weight: 500;
	margin: 0 0 .75em 0;
	padding: 0;
}

h6, .h6 {
	font-size: var(--font-size-h6);
	font-weight: 500;
	margin: 0 0 .75em 0;
	padding: 0;
}

.subtitle {
	margin-top: -1em;
	font-size: var(--font-size--large);
}

.clear {
	clear: both;
	float: none;
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.clearfix {
	zoom: 1;
}

	.clearfix::before,
	.clearfix::after {
		content: "";
		display: table;
		line-height: 0;
	}

	.clearfix::after {
		clear: both;
	}

.fs-i,
.em {
	font-style: italic;
}

.fw-b,
.strong {
	font-weight: bold;
}

.fw-sb {
	font-weight: 500;
}

.fw-n {
	font-weight: normal;
}

.ta-l {
	text-align: left;
}

.ta-c {
	text-align: center;
}

.ta-r {
	text-align: right;
}

.fs-14 {
	font-size: 14px;
}

.fs-18 {
	font-size: 18px;
}

.-no-margin {
	margin: 0;
}

.-no-padding {
	padding: 0;
}

.ul-marker {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

	.ul-marker li {
		padding: 0 0 0 16px;
		position: relative;
	}

		.ul-marker li + li {
			margin-top: 7px;
		}

	.ul-marker li::before {
		content: "•";
		font-size: 22px;
		left: 0;
		line-height: 0;
		margin: 14px 0 0 0;
		position: absolute;
		top: 0;
	}

.ul-marker {
	line-height: 1.5;
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

	.ul-marker li {
		margin: 0 0 7px 0;
		padding: 0 0 0 28px;
		position: relative;
	}

	.ul-marker li::before {
		content: "—";
		left: 0;
		line-height: 0;
		position: absolute;
		top: 7px;
	}

.ol-numbers {
	counter-reset: item;
	line-height: 1.5;
	list-style: none;
	margin: 20px 0;
	padding: 0;
}

	.ol-numbers li
	{
		margin: 0 0 7px 0;
		padding: 0 0 0 28px;
		position: relative;
	}

	.ol-numbers li::before {
		content: counters(item,".") ". ";
		counter-increment: item;
		left: 0;
		position: absolute;
		top: 0;
	}

.color-primary {
	color: var(--color-primary);
}