// Helpers
@import "mixins/_burger";
@import "mixins/_form-mixins";
@import "mixins/_icon";

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-inversion($static: false) {
  color: var(--text-color);
  text-decoration-color: transparent;

  @if ($static == true) {
    &:hover {
      color: var(--text-color);
      text-decoration-color: transparent;
    }
  } @else {
    &:hover {
      color: var(--link-color--hover);
      text-decoration-color: currentColor;
    }
  }
}

@mixin offset($type: null) {
  @if $type {
    $type: '--' + $type;
  }

  &:not(:first-child):not(.-no-margin) {
    margin-top: var(--offset + $type);
  }

  &:not(:last-child):not(.-no-margin) {
    margin-bottom: var(--offset + $type);
  }
}

@mixin blocks-margin-vertical {
  &:not(:first-child) {
    margin-top: var(--blocks-margin-vertical);
  }

  &:not(:last-child) {
    margin-bottom: var(--blocks-margin-vertical);
  }
}

@mixin typo-margin-vertical {
  &:not(:first-child) {
    margin-top: var(--typo-margin-vertical);
  }

  &:not(:last-child) {
    margin-bottom: var(--typo-margin-vertical);
  }
}

@mixin image-rendering() {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  //image-rendering: pixelated;               /* Chrome                         */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}