.two-column
	.two-column__column
		h1 Заголовок H1
		h2 Заголовок H2
		h3 Заголовок H3
		h4 Заголовок H4
		h5 Заголовок H5
		h6 Заголовок H6
	.two-column__column
		.h1 Заголовок H1
		.h2 Заголовок H2
		.h3 Заголовок H3
		.h4 Заголовок H4
		.h5 Заголовок H5
		.h6 Заголовок H6


.two-column
	.two-column__column
		.colors-list
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-primary)")
				.colors-list__text
					p CSS-variable: var(--color-primary)
					p RGB: rgb(35, 132, 74)
					p Hex: #23844a
					p Class: color-primary
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-primary--light)")
				.colors-list__text
					p CSS-variable: var(--color-primary--light)
					p RGB: rgb(57, 176, 105)
					p Hex: #39b069
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-white)")
				.colors-list__text
					p CSS-variable: var(--color-white)
					p RGB: rgb(255, 255, 255)
					p Hex: #ffffff
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray--lighter)")
				.colors-list__text
					p CSS-variable: var(--color-gray--lighter)
					p RGB: rgb(247, 247, 248)
					p Hex: #f7f7f8
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray--lighten)")
				.colors-list__text
					p CSS-variable: var(--color-gray--lighten)
					p RGB: rgb(238, 238, 239)
					p Hex: #eeeeef
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray--light)")
				.colors-list__text
					p CSS-variable: var(--color-gray--light)
					p RGB: rgb(196, 196, 196)
					p Hex: #c4c4c4
	.two-column__column
		.colors-list
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray)")
				.colors-list__text
					p CSS-variable: var(--color-gray--light)
					p RGB: rgb(166, 166, 166)
					p Hex: #a6a6a6
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray--dark)")
				.colors-list__text
					p CSS-variable: var(--color-gray--dark)
					p RGB: rgb(117, 117, 117)
					p Hex: #757575
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray--darken)")
				.colors-list__text
					p CSS-variable: var(--color-gray--darken)
					p RGB: rgb(43, 43, 43)
					p Hex: #2b2b2b
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-gray--darker)")
				.colors-list__text
					p CSS-variable: var(--color-gray--darker)
					p RGB: rgb(32, 32, 32)
					p Hex: #202020
			.colors-list__item
				.colors-list__color(style="background-color: var(--color-black)")
				.colors-list__text
					p CSS-variable: var(--color-black)
					p RGB: rgb(32, 32, 32)
					p Hex: #000000





.two-column
	.two-column__column
		h3 Нумерованный список:
		ol.ol-numbers
			li Позвоните менеджеру или закажите обратный звонок. Обсудите какое изделие хотите заказать.
			li После того, как заказ будет полностью оговорен, вам на электронную почту придет коммерческое предложение с подробным описанием изделия и реквизиты на предоплату.
			li После поступления денег на наш расчетный счет, изделие передается на производство. Сроки изготовления — около 3 рабочих дней.
			li В день доставки мы делаем предварительный звонок для согласования времени. Доставка по России осуществляется компанией «Деловые линии» (согласно тарифам ТК). Стоимость доставки по Москве — 1000 руб., по области — плюс 30 руб. за каждый километр от МКАД.
	.two-column__column
		h3 Маркерованный список:
		ul.ul-marker
			li Позвоните менеджеру или закажите обратный звонок. Обсудите какое изделие хотите заказать.
			li После того, как заказ будет полностью оговорен, вам на электронную почту придет коммерческое предложение с подробным описанием изделия и реквизиты на предоплату.
			li После поступления денег на наш расчетный счет, изделие передается на производство. Сроки изготовления — около 3 рабочих дней.
			li В день доставки мы делаем предварительный звонок для согласования времени. Доставка по России осуществляется компанией «Деловые линии» (согласно тарифам ТК). Стоимость доставки по Москве — 1000 руб., по области — плюс 30 руб. за каждый километр от МКАД.