-
	let dataAchievements = [
		{
			"position": "1",
			"title": 'Лидер SEO-рейтинга среди сайтов SEO-агентств по итогам <a href="#">Optimization 2018</a>',
			"image": "assets/optimization-logo.jpg"
		},
		{
			"position": "2",
			"title": 'Рейтинг известности SEO-компаний 2020 по версии <a href="#">SEO-news</a>',
			"image": "assets/seonews-logo.png"
		},
		{
			"position": "3",
			"title": 'Рейтинг с самой прозрачной методологией <a href="#">SEO глазами клиентов 2015</a>',
			"image": "assets/seo-eyes.jpg"
		},
		{
			"position": "4",
			"title": 'Разработка и продвижение интернет-магазинов по итогам <a href="#">Рейтинга Рунета 2018</a>',
			"image": "assets/rating-runeta.jpg"
		}
	]
.tile-slider.tile-slider--place-shadow.achievements(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": false, "groupCells": true, "watchCSS": true, "lazyLoad": true }')
	each item, i in dataAchievements
		.achievements__item
			.achievements__position
				svg(width="69" height="70" viewBox="0 0 69 70" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(d="M66.9785 5.97708H58.124C58.1561 4.99635 58.174 4.00982 58.174 3.01855C58.174 1.902 57.2685 0.99707 56.1525 0.99707H12.8475C11.7315 0.99707 10.826 1.902 10.826 3.01855C10.826 4.00982 10.8439 4.99635 10.876 5.97708H2.02148C0.90493 5.97708 0 6.88201 0 7.99857C0 17.0563 2.36735 25.6018 6.66563 32.0616C10.9144 38.4477 16.5741 42.1106 22.688 42.467C24.0741 43.9752 25.5391 45.2049 27.0653 46.143V55.1276H23.674C19.5742 55.1276 16.2393 58.463 16.2393 62.5623V65.9536H16.0955C14.979 65.9536 14.0741 66.859 14.0741 67.9751C14.0741 69.0916 14.979 69.9965 16.0955 69.9965H52.9045C54.021 69.9965 54.9259 69.0916 54.9259 67.9751C54.9259 66.859 54.021 65.9536 52.9045 65.9536H52.7607V62.5623C52.7607 58.463 49.4258 55.1276 45.326 55.1276H41.9347V46.143C43.4609 45.2055 44.9264 43.9752 46.3125 42.467C52.4259 42.1106 58.0856 38.4477 62.3349 32.0616C66.6332 25.6018 69 17.0563 69 7.99857C69 6.88201 68.0951 5.97708 66.9785 5.97708ZM10.0316 29.8222C6.48612 24.4942 4.40305 17.5253 4.08561 10.0201H11.1018C11.8309 19.2462 13.9967 27.7744 17.3816 34.5437C17.9207 35.6218 18.4845 36.6405 19.0693 37.5996C15.707 36.3299 12.5953 33.6756 10.0316 29.8222ZM48.7178 62.5623V65.9541H20.2822V62.5623C20.2822 60.6925 21.8036 59.1705 23.674 59.1705H45.326C47.1964 59.1705 48.7178 60.6925 48.7178 62.5623ZM37.8918 55.1276H31.1082V47.8997C32.2195 48.1924 33.3519 48.3446 34.5 48.3446C35.6481 48.3446 36.7805 48.1924 37.8918 47.8997V55.1276ZM39.1436 43.0903C39.0526 43.1276 38.9652 43.1729 38.8815 43.2229C37.4527 43.9336 35.9845 44.3016 34.5 44.3016C33.016 44.3016 31.5483 43.9336 30.1201 43.224C30.0354 43.1729 29.9474 43.1276 29.8553 43.0892C28.2702 42.2511 26.7368 40.9856 25.2865 39.3226C25.2101 39.2137 25.1243 39.1131 25.029 39.0215C23.5892 37.3122 22.2347 35.2096 20.9976 32.7354C17.2826 25.3059 15.1369 15.537 14.8927 5.04004H54.1073C53.8626 15.537 51.7168 25.3065 48.0024 32.7354C46.7653 35.2096 45.4108 37.3122 43.9715 39.0215C43.8757 39.1131 43.7888 39.2142 43.713 39.3232C42.2627 40.9867 40.7287 42.2517 39.1436 43.0903ZM58.9684 29.8222C56.4047 33.6756 53.293 36.3299 49.9307 37.5996C50.5155 36.6405 51.0793 35.6218 51.6184 34.5437C55.0033 27.7744 57.1685 19.2462 57.8982 10.0201H64.9144C64.597 17.5253 62.5139 24.4942 58.9684 29.8222Z")
				.achievements__position-number #{item.position}
				.achievements__position-text место
			.achievements__title !{item.title}
			if (item.image)
				.achievements__logo
					img(src=item.image)