-
	let dataAchievements = [
		{
			"position": "1",
			"title": 'Лидер SEO-рейтинга среди сайтов SEO-агентств по итогам <a href="#">Optimization 2018</a>',
			"image": "assets/optimization-logo.jpg"
		},
		{
			"position": "2",
			"title": 'Рейтинг известности SEO-компаний 2020 по версии <a href="#">SEO-news</a>',
			"image": "assets/seonews-logo.png"
		},
		{
			"position": "3",
			"title": 'Рейтинг с самой прозрачной методологией <a href="#">SEO глазами клиентов 2015</a>',
			"image": "assets/seo-eyes.jpg"
		},
		{
			"position": "4",
			"title": 'Разработка и продвижение интернет-магазинов по итогам <a href="#">Рейтинга Рунета 2018</a>',
			"image": "assets/rating-runeta.jpg"
		}
	]
.tile-slider.tile-slider--place-shadow.achievements(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": true, "groupCells": true, "watchCSS": true, "lazyLoad": true }')
	each item, i in dataAchievements
		.achievements__item
			.achievements__position
				.achievements__position-number #{item.position}
				.achievements__position-text место
			.achievements__title !{item.title}
			if (item.image)
				.achievements__logo
					img(src=item.image)