- var n = 0;
	.tile-slider.tile-slider--place-shadow.video-list(data-flickity-options='{ "cellAlign": "left", "prevNextButtons": true, "groupCells": true, "lazyLoad": true }')
		while n < 6
			- n++;
			.video-list__item
				a.video-list__link(href="#")
					.video-list__image
						img(src="assets/video.jpg", alt="")
						svg(width="63" height="40" viewBox="0 0 63 40" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(fill-rule="evenodd" clip-rule="evenodd" d="M60.0956 3.41385C57.8225 0.966183 53.7024 0 45.7465 0H16.8353C8.66627 0 4.4752 1.0306 2.20208 3.6715C-1.01616e-06 6.18358 0 9.91949 0 15.0725V24.9275C0 34.9114 2.62829 40 16.8353 40H45.7465C52.6369 40 56.4728 39.0982 58.959 36.9726C61.5163 34.7826 62.5818 31.1755 62.5818 24.9275V15.0725C62.5108 9.59743 62.3687 5.86151 60.0956 3.41385ZM40.1348 21.3205L26.9933 27.5684C26.7091 27.6973 26.354 27.7617 26.0698 27.7617C25.7147 27.7617 25.3595 27.6973 25.0043 27.504C24.436 27.182 24.0098 26.6023 24.0098 25.9581V13.5266C24.0098 12.8824 24.365 12.3027 25.0043 11.9807C25.5726 11.6586 26.354 11.5942 26.9933 11.9163L40.1348 18.0998C40.7741 18.4219 41.2003 19.066 41.2003 19.7101C41.2003 20.3543 40.7741 20.9984 40.1348 21.3205Z" fill="#CC0000")
							path(fill-rule="evenodd" clip-rule="evenodd" d="M60.0956 3.41385C57.8225 0.966183 53.7024 0 45.7465 0H16.8353C8.66627 0 4.4752 1.0306 2.20208 3.6715C-1.01616e-06 6.18358 0 9.91949 0 15.0725V24.9275C0 34.9114 2.62829 40 16.8353 40H45.7465C52.6369 40 56.4728 39.0982 58.959 36.9726C61.5163 34.7826 62.5818 31.1755 62.5818 24.9275V15.0725C62.5108 9.59743 62.3687 5.86151 60.0956 3.41385ZM40.1348 21.3205L26.9933 27.5684C26.7091 27.6973 26.354 27.7617 26.0698 27.7617C25.7147 27.7617 25.3595 27.6973 25.0043 27.504C24.436 27.182 24.0098 26.6023 24.0098 25.9581V13.5266C24.0098 12.8824 24.365 12.3027 25.0043 11.9807C25.5726 11.6586 26.354 11.5942 26.9933 11.9163L40.1348 18.0998C40.7741 18.4219 41.2003 19.066 41.2003 19.7101C41.2003 20.3543 40.7741 20.9984 40.1348 21.3205Z" fill="url(#paint0_linear)" style="mix-blend-mode:overlay")
							defs
								linearGradient(id="paint0_linear" x1="31.2909" y1="0" x2="31.2909" y2="40" gradientUnits="userSpaceOnUse")
								stop(stop-color="white")
								stop(offset="1" stop-color="white" stop-opacity="0")
					.video-list__title Вебинар: как эффективно продавать товары через Wildberries?
					.video-list__time 2:45