.video-list {

	$block-name: &; // #{$block-name}__element

	&__item {
		margin-right: calc(var(--grid-gutter-x) + 1px); // +1px убирает белую полосу справа
		width: 100%;

		@at-root #{$block-name}--tile & {
			background: var(--color-white);
			padding: 1em;
			border-radius: 10px;
		}
	}

	&__link {
		color: inherit;
		display: block;
		text-decoration-color: transparent;

		&:hover,
		&:focus {
			color: inherit;
			text-decoration-color: transparent;
		}
	}

	&__image {
		background: var(--color-black);
		border-radius: 5px;
		display: block;
		overflow: hidden;
		position: relative;

		& img {
			display: block;
			transition: var(--transition-time);

			#{$block-name}__link:hover & {
				opacity: .8;
			}
		}

		& svg {
			bottom: 0;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
			transition: .3s;

			#{$block-name}__link:hover & {
				transform: scale(1.1);
			}
		}
	}

	&__title {
		font-size: var(--font-size--medium);
		font-weight: 500;
		margin-top: 1em;
		text-decoration-color: transparent;
		text-decoration-line: underline;

		#{$block-name}__link:hover & {
			text-decoration-color: currentColor;
		}
	}

	&__time {
		color: var(--color-primary);
		font-size: var(--font-size--medium);
		font-weight: 500;
		text-align: right;
	}

	@media (min-width: $screen-sm) {

		&__item {
			width: calc(50% - var(--grid-gutter-x) / 2);
		}
	}

	@media (min-width: $screen-xl) {

		&__item {
			width: calc(33.33333% - var(--grid-gutter-x) * 2 / 3);
		}
	}
}