@use "sass:selector";

.field-checkbox {

  $block-name: &; // #{$block-name}__element

  --input-size: 15px;
  font-size: var(--font-size--sm); // из фильтра

  &__input-wrap {
    display: block;
    position: relative;
  }

  &__input {
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
  }

  &__name {
    display: flex;
    align-items: center;
    position: relative;
    gap: var(--offset--sm);

    a {
      color: inherit;
    }

    &::before {
      border: 1px solid var(--field-border-color, var(--color-gray--light));
      background: var(--color-white);
      content: '';
      display: block;
      height: var(--input-size);
      width: var(--input-size);
      border-radius: 3px;
      flex-shrink: 0;
      flex-grow: 0;
      align-self: start;
      transition: var(--transition-time);
      margin-top: calc((var(--line-height) * 1em - var(--input-size)) / 2);

      #{$block-name}__input:checked + & {
      }
    }

    &::after {
      content: '';
      display: block;
      height: var(--input-size);
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: var(--transition-time);
      width: var(--input-size);
      background-image: var(--field-check, url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='7.6665' height='5.58301' viewBox='0 0 7.6665 5.58301'><path d='M2.5835,5.583A.49839.49839,0,0,1,2.23,5.43652l-2.0835-2.083a.5.5,0,0,1,.707-.707l1.73,1.7295L6.813.14648a.49995.49995,0,0,1,.707.707l-4.583,4.583A.49835.49835,0,0,1,2.5835,5.583Z' style='fill: rgb(254, 0, 0)'/></svg>"));
      background-repeat: no-repeat;
      background-position: 50%;
      margin-top: calc((var(--line-height) * 1em - var(--input-size)) / 2);
      border: 1px solid transparent;

      #{$block-name}__input:checked + & {
        opacity: 1;
      }
    }

    &-text {

    }
  }

  &--transparent &__name {
    &::before {
      border-color: var(--field-border-color, var(--color-white));
      background-color: transparent;
    }

    &::after {
      background-image: var(--field-check, url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='7.6665' height='5.58301' viewBox='0 0 7.6665 5.58301'><path d='M2.5835,5.583A.49839.49839,0,0,1,2.23,5.43652l-2.0835-2.083a.5.5,0,0,1,.707-.707l1.73,1.7295L6.813.14648a.49995.49995,0,0,1,.707.707l-4.583,4.583A.49835.49835,0,0,1,2.5835,5.583Z' style='fill: rgb(255, 255, 255)'/></svg>"));
    }
  }

  //#{$block-name}--gray &--transparent &__name::after,
  //[class*=-bg-gray] &--transparent &__name::after {
  //  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='7.6665' height='5.58301' viewBox='0 0 7.6665 5.58301'><path d='M2.5835,5.583A.49839.49839,0,0,1,2.23,5.43652l-2.0835-2.083a.5.5,0,0,1,.707-.707l1.73,1.7295L6.813.14648a.49995.49995,0,0,1,.707.707l-4.583,4.583A.49835.49835,0,0,1,2.5835,5.583Z' style='fill: rgb(196, 196, 196)'/></svg>");
  //}

  &--primary &__name {
    &::before {
      border-color: var(--color-primary);
      background-color: transparent;
    }

    &::after {
      background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='7.6665' height='5.58301' viewBox='0 0 7.6665 5.58301'><path d='M2.5835,5.583A.49839.49839,0,0,1,2.23,5.43652l-2.0835-2.083a.5.5,0,0,1,.707-.707l1.73,1.7295L6.813.14648a.49995.49995,0,0,1,.707.707l-4.583,4.583A.49835.49835,0,0,1,2.5835,5.583Z' style='fill: rgb(255, 255, 255)'/></svg>");
    }
  }

  &--primary &__input:checked + &__name {
    &::before {
      border-color: var(--color-primary);
      background-color: var(--color-primary);
    }
  }

  &__input[type=radio] + &__name {
    &::before {
      border-radius: 50%;
    }

    &::after {
      border: 4px solid var(--color-white);
      border-radius: 50%;
      width: var(--input-size);
      height: var(--input-size);
      background-color: var(--color-primary);
      background-image: none;
    }
  }

  &__input[type=radio]:checked + &__name {
    &::before {
      border-color: var(--color-primary);
      background-color: transparent;
      z-index: 1;
    }
  }

  &__help-text {
    @include field-help-text;
    margin-left: calc(var(--offset--sm) + var(--input-size));

    a {
      color: inherit;
    }
  }

  &--error {
    #{$block-name}__help-text {
      color: var(--color-danger);
    }

    #{$block-name}__name {
      &::before {
        border-color: var(--color-danger);
      }
    }
  }
}