.page-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

	.page-wrapper *,
	.page-wrapper ::before ,
	.page-wrapper ::after {
		box-sizing: inherit;
	}